[2018-10-31 04:11] paul-hammant opened #1 "Example's README"
Re: https://github.com/jonsamwell/flutter_gherkin/tree/master/example

Any chance this can be changed from the default generated README ("For help getting started with Flutter, view our online documentation.") and have something that shows the reader how to run the supplied example?

Also: would need a link and a H1 in the root README :)

Why?  Some of us are allergic to tutorials, and can only gr

[2018-10-31 04:36] jonsamwell commented on #1
@paul-hammant Great idea!  I'll sort this out asap.

[2018-10-31 05:03] jonsamwell commented on #1
@paul-hammant updated https://github.com/jonsamwell/flutter_gherkin/blob/master/example/README.md

Let me know if the steps to run are adequate.

Thanks again.

[2018-10-31 13:21] paul-hammant commented on #1
Cool, I followed the advice:

[code]

I didn't see any output in the console, nor could see if there were a place in the file system where results would go.... Advice?

[2018-10-31 22:35] jonsamwell commented on #1
Hi Paul,

Try including the standard out reporter (see code below) which logs all messages from the runner to the standard output (console in most cases).  By default in the example it just uses the progress reporter which only logs the result of each scenario / step.  If you weren't seeing any output at all I bet it can't find any features to run.  I fixed an issue with the GLOB pattern (should b

[2018-11-01 03:01] jonsamwell commented on #1
@paul-hammant glad it is all working.  Yes, in theory if should work with widget test although I haven't tried it.  I'll try and get an example of a widget test added to the docs.

[2018-11-01 03:01] #1 closed

[2018-12-06 14:42] paul-hammant opened #2 "Is this ready for heavy usage, now Jon?"
Perhaps email me: paul@hammant.org to chat. Not so much more recently, but I'm one the maintainers of JBehave and have a proposal.

[2018-12-07 02:32] jonsamwell commented on #2
Hi @paul-hammant - yes, I think the project is ready for heavy usage now. I and a few other I know of are using it with quite some success.

Just sent you an email 👍

[2018-12-07 02:32] #2 closed

[2018-12-18 10:49] paul-hammant opened #3 "Link to pub.dartlang.org/packages/flutter_gherkin needed"
https://pub.dartlang.org/packages/flutter_gherkin under a "releases" section of the README :)

[2018-12-20 22:55] jonsamwell commented on #3
@paul-hammant I added a quick link to the dart package in the readme.

[2018-12-20 22:55] #3 closed

[2018-12-23 09:04] paul-hammant opened #4 "World should be renamed to Disposible ?"
Ref: https://docs.microsoft.com/en-us/dotne/api/system.idisposable.dispose?view=netframework-4.7.2

And: http://picocontainer.com/javadoc/core/index.html?org/picocontainer//class-useDisposable.html

:)

[2019-01-20 22:10] jonsamwell commented on #4
Hi @paul-hammant

I was following the cucumber convention of a world object being able to store state between test steps.

https://docs.cucumber.io/cucumber/state/#world-object

Although the world object in flutter gherkin is a disposable itself.  There is no Dart disposable so perhaps we need a simple disposable base class / interface here?

[2019-01-21 08:37] paul-hammant commented on #4
Aslak Hellesøy (Cucumber's creator) was also co-creator of PicoContainer, which as far back as early 2003 had Startable (start/stop)and Disposable (dispose) as major lifecycle interfaces ..... I'll poke fun at him the next time we're in a pub together - for the silly method name :)

[2019-01-21 08:37] #4 closed

[2019-01-23 21:03] kev52 opened #6 "gherkin for dart only?"
Is there a way to use this library for dart packages only?
AND/OR
Is is possible to test without flutter driver (Non UI acceptance tests)

[2019-01-23 21:22] jonsamwell commented on #6
@kev52

Yes this is possible.  The Gherkin part of the libraray is independent of Flutter.  I haven't tried this but the below code should work.  The key is not to use the FlutterTestConfiguraion class as that has special code to setup the FlutterDriver.  So you will need to use the base TestConfiguration class instead.  Obviously your step implementation could not use any flutter driver functiona

[2019-02-01 23:32] dustin-graham opened #7 "Access to FlutterDriver from hooks?"
Hi, I'm trying to setup a mock web server to help drive my integration tests. Today I've been struggling to find a nice way to communicate the address and port for my mock server to my instrumented application. The best I've been able to come up with so far is to use `FlutterDriver.requestData` to send the information and then in my instrumented test app I wait for this information via a `Complete

[2019-02-01 23:40] dustin-graham commented on #7
@jonsamwell for example, looking at this code here in `feature_file_runner.dart`:

[code]

I think there is an opportunity on a per-scenario basis to provide the world to the hook.

[2019-02-01 23:47] dustin-graham commented on #7
so I went and just tried to call `createWorld` on the config provided to my hook and casted it as a FlutterWorld and called `requestData` on it and it seemed to work without any ill effect:

[code]

So I guess this might be a workable solution for me. I was worried that createWorld would only work once per test run or something. Are there any other comments you have for me regarding this strategy?

[2019-02-02 01:18] jonsamwell commented on #7
@dustin-graham This is a nice approach and well thought out.  I would be hesitant in creating a world object in your onBeforeScenario hook as it would not be properly managed in the lifecycle.  That being said, I think it would be a good idea to add an onWorldCreated hook to the hook-able lifecycle events.  That way you could do your logic of sending the URL to the app without worrying about manag

[2019-02-02 01:19] jonsamwell commented on #6
@kev52 how did you get on?

[2019-02-02 16:36] dustin-graham commented on #7
@jonsamwell It appears in the code that a world is created and destroyed before then after a scenario is run (looking at feature_file_runner.dart#_runScenario). I'd need an "onWorldCreated" and an "onWorldDestroyed" callback in my hook to do my mock server work.

The current order of operations looks like this:
1. hook.onBeforeScenario
2. create world
3. run scenario
4. dispose world
5. hook.onSce

[2019-02-02 16:41] dustin-graham commented on #7
@jonsamwell the thing that I know I'm not well aware of is what the consequence of changing the order of calling the onBeforeScenario hook and the world creation and also the order of world disposal. The transitive consequence is obviously that the enclosed FlutterDriver gets connected and disconnected at different times relative to the hook calls. I'm new to integration testing on Flutter and so

[2019-02-02 17:08] dustin-graham commented on #7
So I just did an experiment on my fork of the project.

`hook.dart`
[code]
`feature_file_runner.dart`
[code]

And unfortunately this doesn't work with my existing strategy for my mock web server. It appears that `await _hook.onAfterScenarioWorldCreated(world, scenario.name);` never gets called, probably because `world = await _config.createWorld(_config);` never finishes because it's waiting for t

[2019-02-02 17:41] dustin-graham commented on #7
@jonsamwell Actually, my bad. I didn't see aggregated_hook.dart and that's why my hook wasn't being called. Working up a better solution now.

[2019-02-05 23:16] dustin-graham commented on #7
@jonsamwell friendly ping. Thoughts on my PR?

[2019-02-06 02:37] jonsamwell commented on #7
@dustin-graham resolved in the latest commit and published to dart pub.  Thanks for the PR

[2019-02-06 02:37] #7 closed

[2019-02-06 02:41] #6 closed

[2019-02-08 06:33] jonsamwell commented on #7
@dustin-graham just checking this new release solved things for you?

[2019-02-08 16:05] dustin-graham commented on #7
@jonsamwell yes, the new release works as expected. Thanks for that.

[2019-02-08 16:45] dustin-graham opened #9 "How to correctly work with Given steps?"
@jonsamwell question for you. I'm working on implementing steps for the following scenario for a feature in my app called "paperless shop":

[code]

I'm new to gherkin and BDD so please provide me correction to my understanding if needed, but I'm struggling to find a way to fulfill the Given scenario displayed above. The intent here is that of a "set up" step. Given the following from the Gherkin

[2019-02-08 23:14] dustin-graham commented on #9
@jonsamwell  So far here's what I'm thinking we should do:

1. Expand the base step definitions to allow implementations to provide a "pre-run" command that maps to a "native step".
2. The "native step" is a simple class that gets called on the device when the step dispatched the pre-run command.
3. Before `runApp` is called, the user can await the completion all the "pre-run" "native step" steps

[2019-02-09 00:32] jonsamwell commented on #9
Hi @dustin-graham ,

Just a quick response as I am out at the moment I will written a more details response later.

Work to setup the app so that the test starts from the correct point should be done in the 'Background' section imho but many people might have different thoughts @paul-hammant would probably have a good opinion here?

This is the standard way of setting things up in BDD world.  For

[2019-02-09 14:22] dustin-graham commented on #9
@jonsamwell Thanks. You've given me a lot of food for thought. I'll take some more time to think.

One point you highlighted in your description of how you use the Background section is that there is really 2 types of work that needs to be done when running these tests. First and most obvious is interacting with the device directly via the FlutterDriver: tapping, scrolling, getting text, etc. The

[2019-02-26 08:19] Holloweye opened #10 "Running Gherkin code within a Step definition"
Is there a way to run Gherkin code within a step definition?

For example:

[code]

With Calabash it was possible to run steps within a step definition. I found that a very useful feature when writing pre-conditions. It cut down quite much on the number of repeating steps.

For example lets say we have the following interface:
`Welcome screen` -> `Login screen` -> `Onboarding screen`.

To open the

[2019-02-28 23:16] jonsamwell commented on #10
Hi @Holloweye I can see the benefit of this.  Implementing it would be quiet hard I fear.

Could you not re-use the other step definitions or code rather than execute another text based child scenario?  What might be nice is the ability to execute a step class from within a step.  This might solve the problem and be far easier to implement.

For example:

[code]

It looks like the cucumber team do

[2019-02-28 23:19] jonsamwell commented on #9
@dustin-graham how you getting on?

[2019-02-28 23:39] dustin-graham commented on #9
Pretty good. I avoided the need for this functionality for now by prepping
my data for the scenario ahead of time and plugging it into my mock server.

On Thu, Feb 28, 2019, 4:19 PM Jon Samwell <notifications@github.com> wrote:

[2019-03-01 00:09] jonsamwell commented on #9
Awesome!

[2019-03-01 00:09] #9 closed

[2019-03-01 03:44] paul-hammant commented on #9
I like the idea of having a mock service allow you to fast forward to the thing you're trying to test. @dustin-graham which tech are you using for a mock server/service ?

Also `Given the user is on the todo page` implies "logged in & reg'd" and is just fine for me as it is (with no context/background lines in the same scenario/feature.

[2019-03-01 04:21] dustin-graham commented on #9
I'm using this package and having good success with it.
https://pub.dartlang.org/packages/mock_web_server

I may write up a blog post on how to use it in conjunction with this
package. But I have a pattern setup so that I can declare a data response
co figuration easily for all my scenarios and I have a hook which can
automatically select the predefined scenario given the provided scenario
name. I

[2019-03-01 07:54] Holloweye commented on #10
@jonsamwell

Yeah right now I added it programmatically:
[code]

I added so that each step definition has a static method `perform` that other step definitions can call. It works reasonable well. Although writing it in Gherkin would add much more flexibility and less boilerplate in the step definitions.

[2019-03-04 14:16] Holloweye opened #11 "Scenario Outline Support?"
Does the library support `Scenario Outline`? I can't seem to get it to work. I get the following error:
`Unknown runnable child given to Feature 'StepRunnable'`.

[2019-03-04 19:48] jonsamwell commented on #11
Hi @Holloweye,

At the moment the library does not support this.  However, I think it would be a good idea to add it.  Could you post a couple of examples, one simple and one more complex so I have something to test it with.

Thanks,

Jon

[2019-03-04 19:50] jonsamwell commented on #10
I'll see what I can do about running a basic step class from within a step so that you don't have to have static methods etc.

[2019-03-06 07:49] Holloweye commented on #11
@jonsamwell

Maybe something this can work?

Feature:
[code]

Steps:
[code]

[2019-03-06 08:23] jonsamwell commented on #11
@Holloweye This is excellent! Thanks for this.  I'll give this a go and hopefully get it done this week.  I'll let you know the branch I do this on so you can give it a try.

[2019-03-06 08:46] jonsamwell commented on #11
Just one thought, I'll probably move the basket variable in the world object so the steps do not store context.  Other than that great!!

[2019-03-13 23:02] justindrolet-wf opened #13 "Remove flutter specific dependencies?"
Any chance that the flutter specific dependencies could be removed from the pubspec.yaml or moved so they're not a required dependency? We've had success with a proof of concept using just the gherkin/non-flutter parts of the library for a dart web app, but there's some concerns about having to include the flutter sdk in order to use it on a larger scale.

[2019-03-14 00:32] jonsamwell commented on #13
Yeah, I have the same concerns.  I need to move the core Gherkin implementation out into it's own library and have the flutter_gherkin library depend on that.  I'll see what I can do this week

[2019-03-14 14:48] justindrolet-wf commented on #13
Awesome, I'll keep an eye out.

[2019-03-14 21:59] jonsamwell commented on #13
@justindrolet-wf see https://github.com/jonsamwell/dart_gherkin I've also published the library on Dart Pub https://pub.dartlang.org/packages/gherkin

Let me know how you get on with it

[2019-03-14 21:59] #13 closed

[2019-03-23 10:11] ajilo297 opened #14 "HTML Report Generation"
Is there any way we can generate an HTML report at the end?

[2019-03-24 22:36] jonsamwell commented on #14
Currently not at the moment.  I would think we could create a reporter that produces an indeterminate output that a HTML reporter could then interpret.  PR's are always welcome

[2019-04-08 12:38] ajilo297 commented on #14
@jonsamwell Is there anyway this can be done...? Maybe there could be something I can build...?

[2019-04-11 12:15] DK15 opened #15 "Setting up initial test"
Hey Jon,
First of all, great work to have this plugin out. I am looking forward to use this to write automated tests.

For my demo app I would like to have your help in setting up my first test properly.  I tried to follow along instructions in `readme` file but getting an error while running the test. Here's what I've done till now:

**login.feature:**

**steps.dart:**

[code]

**app_test.dart:**

[2019-04-13 11:00] Shashikant86 commented on #15
Yeah, ran into same issue. @DK15 Looks like you are missing `import` of step file in the `app_test.dart` but i got the same error after importing steps too! @jonsamwell Do you have any solution to this?

[2019-04-22 00:17] jonsamwell commented on #14
@ajilo297 see https://github.com/jonsamwell/flutter_gherkin/pull/17

Once the PR is merged in with the new Gherkin engine you will be able to generate HTML reports

[2019-04-22 00:21] jonsamwell commented on #15
It simply looks like you have not implemented the regex pattern which is the Gherkin engine runs to match up the step definition with the exectuable step code.  So for your example it would be

[code]

At the moment there is no way to automatically generate step definition code.  If the popularity increase I would think about doing a VSCode plugin to do this.

[2019-04-23 08:55] DK15 commented on #15
Thanks for your response @jonsamwell. I added the missing regex pattern but still getting same error as posted earlier.

[2019-04-23 09:16] jonsamwell commented on #15
@DK15 could you put a sample project on Github and I'll see why it is not working and fix it or the framework as required.

[2019-04-23 09:19] jonsamwell commented on #15
@DK15 Also it might be that you are not importing the step definition class in the configuration object.

[code]

[2019-04-23 10:15] DK15 commented on #15
@jonsamwell I have imported step def class.  [Here's](https://github.com/DK15/flutter-driver-demo) github link of my project.

[2019-04-23 10:33] jonsamwell commented on #15
@DK15 Your app_test.dart file should include the step definitions in the configuration.  Try it with this code.

[code]

[2019-04-23 11:05] DK15 commented on #15
ah, I see what I was missing. Allright, I added missing config and that error is gone. Now I am getting:

`LoginValidation parameter count mismatch. Expect 1 parameters but got 0. Ensure you are extending the correct step class which would be Given`

What parameter is it referring to ?

[2019-04-23 11:07] jonsamwell commented on #15
@DK15 at the moment your LoginValidation class is extending a step class that expects a single parameter.  As this class does not need any parameters you should extend from GivenWithWorld instead.

[code]

[2019-04-23 11:31] DK15 commented on #15
Got it.   See worked for me:

[code]

Thanks @jonsamwell for all your help and support.

[2019-04-23 11:31] #15 closed

[2019-04-23 11:33] jonsamwell commented on #15
Great! Let me know if you have any other questions or thoughts.

Jon

On Tue, 23 Apr 2019, 21:31 Darshan Kawar, <notifications@github.com> wrote:

[2019-04-23 22:12] jonsamwell commented on #14
@ajilo297 this can now be achieved by using the JsonReporter then passing that json file to https://www.npmjs.com/package/cucumber-html-reporter see https://github.com/jonsamwell/flutter_gherkin#reporting

[code]

[2019-04-23 22:12] #14 closed

[2019-05-10 21:42] snickersv2 opened #18 "Resetting the app like a fresh install before a test"
Hi,

Is there a way to rest the app like a fresh install before starting a test? just like restartAppBetweenScenarios.

Thank you,
Vic

[2019-05-16 08:50] iqbalmineraltown opened #19 "Cannot run example"
Hi, I cannot run example from this repo. Could you take a look at my error log?
I'm using VSCode with `launch.json` from this repo, no modifications were made

## `flutter doctor -v` output:
[code]

## Error log:
[code]

[2019-05-16 10:07] jonsamwell commented on #19
Hi @iqbalmineraltown

It looks like something is up with the app_test.dart file.

Could you list the contents of the file here? (flutter_gherkin/example/test_driver/app_test.dart)

Thanks

[2019-05-16 10:11] jonsamwell commented on #18
Hi @abanv2,

Yes I think this should be possible but it would be very very slow.  If you take a look at this class (https://github.com/jonsamwell/flutter_gherkin/blob/master/lib/src/flutter/hooks/app_runner_hook.dart) it is the hook that restarts the app after every test if the 'restartAppBetweenScenarios' flag is true.

You could use that hook as a template.  I'm not sure how to uninstall / insta

[2019-05-17 00:29] iqbalmineraltown commented on #19
This is the content of `app_test.dart`, there should be no difference because I just simply clone and run this repo

[code]

[2019-05-21 18:50] snickersv2 opened #20 "type '_TypeError' is not a subtype of type 'Exception'"
Hello,

I was running a test and an error happened in the app. However instead of failing the test, the process finished instead.

[warning] FlutterDriver: tap message is taking a long time to complete...
6 scenarios (3 passed, 3 failed)
6 steps (3 passed, 3 failed)
0:03:30.384000
Unhandled exception:
type '_TypeError' is not a subtype of type 'Exception'
#0      FeatureFileRunner._runFeature (pac

[2019-05-21 18:58] jonsamwell commented on #20
Hi,

Thanks for reporting this.  Do you have any steps to reproduce the
problem?  What step code was running when it crashed?

Thanks

On Wed, 22 May 2019, 04:50 snickersv2, <notifications@github.com> wrote:

[2019-05-21 19:01] snickersv2 commented on #18
thanks, i found a workaround so far by uninstalling the app, via calling Process.run ,  during onBeforeRun().

[2019-05-21 19:04] jonsamwell commented on #18
Great. Could you post the code in case anyone else what's to achieve the
same.

Thanks

On Wed, 22 May 2019, 05:01 snickersv2, <notifications@github.com> wrote:

[2019-05-22 06:22] iqbalmineraltown commented on #19
it seems like it wasn't compatible with flutter 1.0.0 because of dart sdk constraint (my bad)
I have updated flutter to latest stable `1.5.4-hotfix-2` and the scenarios runs well
but on after run hook I received error

here's the log:
[code]

[2019-05-22 07:35] jonsamwell commented on #19
Hi,

I'm glad you got it working!  Thanks for giving it a try.

If you are running the test from debug within vscode you'll need to set the configuration parameter 'exitAfterTestRun' to `false` in the app_test.dart.

This parameters tells the test runner to set the correct exit code which it only needs to do if it is not running via the debugger.

See:
https://github.com/jonsamwell/flutter_gherkin

[2019-05-22 07:35] #19 closed

[2019-05-22 17:40] snickersv2 commented on #20
From what I had gathered, FlutterDriverUtils.tap didn't succeed because it was not able to tap the widget because the widget was not displayed in the first place (this was caused by an error in the app itself).

[2019-05-22 17:44] snickersv2 commented on #18
For android: await Process.run( <adb directory> , ['uninstall' , <package name>]);
For ios: await Process.run( <ideviceinstaller directory> , ['-U' , <bundle id> ]);

However, I haven't found anything about determining the platform of the target device by using Flutter driver or any test package. Calling Platform.operatingSystem returns the OS of my machine (in my case, macOS) instead of either iO

[2019-05-22 17:48] snickersv2 opened #21 "Is there a support to skip installing fresh app on device?"
Hi,

Is there support for running the test on an already installed build instead of installing a fresh app?
For reference there is a --build/--no-build flag in Flutter Driver, https://github.com/flutter/flutter/pull/30818

Thank you.

[2019-05-22 20:43] jonsamwell commented on #21
Hi @snickersv2

I think one note of caution is that the installed app would have to have the flutter driver extensions enabled (https://github.com/jonsamwell/flutter_gherkin/blob/master/example/test_driver/app.dart#L7) and also I'm not sure how flutter_gherkin would find out the communication uri to the app?  We'll have to  do some digging.

Although this would be a good option to have.  I'll see

[2019-05-22 20:44] jonsamwell commented on #20
Great, I'll try and reproduce it and fix it over the weekend.

[2019-05-22 20:46] jonsamwell commented on #18
Thanks for the info.

[2019-05-22 20:46] #18 closed

[2019-05-22 23:35] iqbalmineraltown commented on #19
whoops sorry for not noticing that part 😅

thanks for your great work!

[2019-05-22 23:38] jonsamwell commented on #19
No worries, thanks for trying it out!

[2019-05-31 13:39] bmelnychuk opened #24 "flavor does not work"
I think there is a problem with this line should not it be flavor instead of the target?

[code]

https://github.com/jonsamwell/flutter_gherkin/blob/9a67721650ddb3c571409f813711bde79ea6f76b/lib/src/flutter/flutter_run_process_handler.dart#L46

[2019-06-03 00:12] jonsamwell commented on #24
@bmelnychuk Thanks for this.  There was a pending PR fixing this issue that has now been merged into the master branch.  I am aiming to get this published in the next couple of days.

https://github.com/jonsamwell/flutter_gherkin/blob/master/lib/src/flutter/flutter_run_process_handler.dart#L46

[2019-06-03 00:12] #24 closed

[2019-06-05 01:10] jonsamwell commented on #21
Hi @snickersv2

This is now fix and available in the latest release (v1.0.0).  The app under test is now hot reloaded (the state is cleared) instead of shutdown, rebuilt and restarted which provides a huge speed boost for the tests.

Thanks,

Jon

[2019-06-05 01:10] #21 closed

[2019-06-08 20:24] nightscape opened #25 "Writing step definitions using annotations"
Hi @jonsamwell, thanks for writing this library.
I'm a relative Flutter noob, but have been working with Cucumber in a few other languages.
In most of those, a step definition is represented by a method with an annotation containing the RegEx part and some code generation / macro magic searches for such annotations, parses the method signature, aligns it with the RegEx and generates the required c

[2019-06-08 20:34] nightscape commented on #25
Just found [ogurets](https://pub.dev/packages/ogurets) which seems to do this.

[2019-06-10 07:44] jonsamwell commented on #25
Hi @nightscape

Thanks for trying out the library!

Yes I have toyed with the idea of using annotations after having written the library using simple atomic classes for step definitions.  I understand this is a bit less accessible though.  I wonder if something akin to the way CucumberJs does it would be better than annotations?

[code]

[2019-06-10 07:47] jonsamwell commented on #25
@nightscape how would debugging work with annotations and code generation?

[2019-06-10 08:15] nightscape commented on #25
Good questions, I don't have much experience with how debugging interacts with generated code, but I would hope that one can just set breakpoints in generated code. After all it's just normal Dart code that happens to be generated. It's also in the same directory as the normal sources, so I'd assume it just gets treated the same.

[2019-06-19 18:05] snickersv2 opened #26 "Adding inline screenshots and console logs"
Hi, I'm wondering how we can add inline screenshots and logs to the JsonReporter which are to be displayed in the HTML report?

Thank you.

[2019-06-20 02:17] jonsamwell commented on #26
Hi @snickersv2

This is a good idea and have been meaning to get around to it.

It looks like adding an image into the json report would be pretty simple:

(see https://github.com/gkushang/cucumber-html-reporter/blob/develop/lib/reporter.js#L261)

Although getting the image would be a bit harder as the underlying Gherkin engine is separate from the Flutter test_driver that would take the screensho

[2019-06-20 16:40] snickersv2 commented on #26
Hi,
"As for adding logs outputs I am not too sure. You could use the attach mechanism on the world object (when I implement attach) to attach some text that the reporter could pickup."
- Yes I think this is good. I am thinking if anytime we call a logger during a step that it will get included in the report. If _attach_ is doing this then this will be helpful.

Regarding the screenshots, could it

[2019-06-20 22:26] jonsamwell commented on #26
Hi @snickersv2

I have implemented the attach functionality now so you should be able to do everything you want to.  I have added a Hook in the flutter_gherkin library to take a screenshot if a step fails.  This works by overriding the onAfterStep hook.  You can of course override this class or create your own.  Just include it in the configuration object and it should work out of the box adding t

[2019-06-21 23:36] snickersv2 commented on #26
Hi Jon,

I was able to try the suggested hook and it worked for me.
I also played around with a custom JsonReporter and edited the JsonRow list. I was able to attach a screenshot inside the JsonRow by adding a string with an img tag. I had to however, create my own JsonFeature class down to JsonRow class since they are only accessible within the library.

Thanks.

[2019-06-21 23:47] jonsamwell commented on #26
Hi @snickersv2

Did the hook I did to attach an image not work for you? I did all the work
to attach an image to the JSON report so you should not need to modify
anything in that respect or have I miss understood something?

On Sat, 22 Jun 2019, 09:36 snickersv2, <notifications@github.com> wrote:

[2019-06-24 17:41] snickersv2 commented on #26
Hi @jonsamwell
Yes it did work. I was able to have an image on the JSON report and that was for the end of the step if I understood it correctly.

The reason I tried modifications is because I wanted to include logs/screenshot in the middle of the step (I was trying around stuff while waiting for your answer ) and the way I did it was by adding strings to the JsonRow list under JsonStep.

I did tr

[2019-06-25 07:21] jonsamwell commented on #26
Hi @snickersv2

Feel free to PR your changes to the json reporter!

Why would you need to get the world object in the reporter?

Perhaps we should modify the JsonReporter to be able to handle multiple attachments for a step.

That way you could attach anything from the step or a hook class and have it included in the report

Jon

[2019-07-07 03:48] rvowles commented on #25
@jonsamwell Irina and my IDEA plugin works well with ogurets, it is a full integrated cucumber environment. Currently our only issue is with Android Studio which is using an old Dart.

[2019-07-10 02:34] mozes-pb opened #27 "Bypass Permissions (Push Notifications)"
Hi @jonsamwell ,
Do you know how to bypass permissions like push notifications and other system alert message when running the test?

Thanks.

[2019-07-10 05:45] jonsamwell commented on #27
Sorry I don't know how to do this.  It is a question you could post on Stackoverflow or the Flutter driver issues github page.

[2019-07-10 05:45] #27 closed

[2019-07-11 16:28] snickersv2 opened #28 "Error after upgrading to Flutter 1.7"
Hi,

I encountered an error after upgrading to Flutter 1.7:

file:///Users/abanv2/Documents/Flutter/sdk/flutter/.pub-cache/hosted/pub.dartlang.org/gherkin-1.0.3/lib/src/gherkin/steps/step_definition_implementations.dart:35:16: Error: Found unsupported uses of 'TInput1' in supertype 'StepDefinitionBase'.
abstract class StepDefinition1<TWorld extends World, TInput1>

Here is what I have in my pubspe

[2019-07-11 16:58] jonsamwell commented on #28
@snickersv2 I found the same about 2 hours ago!  Just fixed the Gherkin library and going to update this library in a bit.  Thanks for the issue though.

[2019-07-11 18:14] jonsamwell commented on #28
@snickersv2 I have updated the library to 1.0.5 so it should work if you upgrade.

[2019-07-11 18:14] #28 closed

[2019-07-11 18:14] jonsamwell commented on #26
@snickersv2 is this working as you expect now?  Can I close this?

[2019-07-11 18:59] snickersv2 commented on #26
Hi @jonsamwell yes you can close this. I am able to make it work and I have no questions yet. However, should I reopen this or raise a new issue if there is something new about this topic I want to bring up? Thank you!

[2019-07-11 19:15] jonsamwell commented on #26
Hi @snickersv2 I would just open an new issue.

[2019-07-11 19:15] #26 closed

[2019-07-12 01:28] snickersv2 opened #29 "How to use in widget test"
Hi, this is more of a question than an issue.

Which components do we look at if we want to use this plugin for widget testing? We plan to have a set of widget tests per feature and to have html reporting on our widget tests as well.

Thank you.

[2019-07-12 01:40] DhonyImamS commented on #25
i hope this will be implemented also, so that there's no way we should define each step in configuration file for flutter gherkin work to scan step definition class like it does currently

[2019-07-12 10:16] jonsamwell commented on #29
Hi @snickersv2

I haven't tested widgets before but with this Gherkin lib but I would expect it would be easier to do it with the underlying Gherkin library as this flutter_gherkin lib relies on flutter driver which your widgets tests wouldn't need to do.

https://github.com/jonsamwell/dart_gherkin

Note that flutter_gherkin merely adds helper methods and the ability to interact with flutter drive

[2019-07-23 00:40] snickersv2 commented on #29
Hi Jon,

I am able to make progress somehow. What I did was create a custom world that holds the WidgetTester:

_testWidgets('Follow New Patient Request - Widget Test', (WidgetTester tester) async {

    final config = TestConfiguration()
      ..features = [Glob(r"test/features/**.feature")]
      ..reporters = [ProgressReporter(), TestRunSummaryReporter()]
      ..hooks=[CustomHook()]
      ..cr

[2019-08-16 14:49] doubleoh opened #30 "Restart App method needed"
Hello,
In our app, we need to verify particular behavior remains after the app is restarted.
For example:
Scenario: verify that user stays logged in after restart
Given: I'm on login page
When: I login with "user1" credentials
Then: I'm on home page as "user1"
When: I restart the app
Then: I'm on home page as "user1"

Current implementation of restarts constraints the restart of application to onl

[2019-08-20 08:51] doubleoh commented on #30
Hi again,
When I tried to implement my workaround I realized that in order to let my code use the _restartApp() I have to change a lot of layers and then either pass the hook object to my code, or pass the application process' object to my code.
So basically our team decided not to change gherkin's code for now.
So having a restart method would be really useful for us.
Thanks,

[2019-08-20 09:34] jonsamwell commented on #30
Hi sorry for the late reply.

Yes this is a bit more complicated as when you restart the app you need to
also reconnect to the observatory port that the dart runtime needs to
listen to and instrument the app.  Otherwise the test would not be able to
continue.

I should get a bit of time later in the week to do this for you. So sorry
for the delay.

Jon

On Tue, 20 Aug 2019 at 18:51, doubleoh <noti

[2019-08-20 09:35] #29 closed

[2019-08-20 09:37] doubleoh commented on #30
Will wait for the updates, thanks a lot!

[2019-08-21 01:47] jonsamwell commented on #30
You can now restart the app under test using the ```restartApp``` method on the Flutter world instance that is available to any step.  Or you can use the build in step definition ```Then I restart the app```.

[code]

see https://github.com/jonsamwell/flutter_gherkin/blob/master/lib/src/flutter/steps/restart_app_step.dart#L10

[2019-08-21 01:47] #30 closed

[2019-08-21 08:27] doubleoh commented on #30
Thank you so much!

[2019-08-21 08:27] jonsamwell commented on #30
No problem. Let me know if it suits your needs.

On Wed, Aug 21, 2019, 18:27 doubleoh <notifications@github.com> wrote:

[2019-08-23 07:44] alexeverettnoomi opened #31 "Support for background and scenario outline"
Gherkin usually includes reuse of "given" for multiple scenarios through the use of background and the reuse of scenarios with scenario outlines.

Would be amazing if these were supported

https://cucumber.io/docs/gherkin/reference/#background
https://cucumber.io/docs/gherkin/reference/#scenario-outline

[2019-08-23 07:50] jonsamwell commented on #31
Hi @alexeverettnoomi

The use of 'Background' is supported already

See https://github.com/jonsamwell/dart_gherkin/blob/master/lib/src/gherkin/syntax/background_syntax.dart

That is in the core dart_gherkin repo which the flutter implementation uses.

Are you getting an error when trying to use a background block in your features?

[2019-08-23 08:19] alexeverettnoomi commented on #31
Yeah I'm getting the error:

Unhandled exception:
Exception: Unknown runnable child given to Feature 'StepRunnable'
#0      FeatureRunnable.addChild (package:gherkin/src/gherkin/runnables/feature.dart:57:9)
#1      GherkinParser._parseBlock (package:gherkin/src/gherkin/parser.dart:75:21)
#2      GherkinParser._parseBlock (package:gherkin/src/gherkin/parser.dart:72:15)
#3      GherkinParser.parseFe

[2019-08-23 08:25] jonsamwell commented on #31
Thanks, I'll take a look

[2019-08-23 12:00] jonsamwell commented on #31
@alexeverettnoomi I think it *might* be that your Background block does not have a name?

try this

[code]

[2019-08-23 12:25] jonsamwell commented on #31
OK, I have released v1.0.7 of flutter_gherkin which fixes the issue where a background block has no name.  Update it and let me know if it fixes it.

[2019-08-23 13:34] alexeverettnoomi commented on #31
Works perfectly now, thank you so much :)

[2019-08-24 22:58] jonsamwell commented on #31
@alexeverettnoomi I've added support for Scenario Outlines and Example blocks!  See https://github.com/jonsamwell/flutter_gherkin/blob/master/example/test_driver/features/counter_increases_scenerio_outline_example.feature & https://github.com/jonsamwell/dart_gherkin/blob/master/example/features/calculator_scenerio_outline_example.feature for a couple of examples

[2019-08-24 22:58] #31 closed

[2019-09-09 20:35] snickersv2 opened #33 "Documentation for using special characters like new line in a step"
Hi @jonsamwell , I would like to ask if there is any documentation for using special/escape characters in a step especially if we're using RegEx?

Thank you!

[2019-09-10 00:45] jonsamwell commented on #33
Hi @snickersv2 you should just be able to escape special characters as per normal with the regex.

The library is matching special patterns such as those used to identify variable types such as {int}, {string} etc

[code]

It also allows simple pluralisation via '(s)'

[code]

See https://github.com/jonsamwell/flutter_gherkin#well-known-step-parameters

Are there any special characters that are no

[2019-09-10 00:50] snickersv2 commented on #33
Hi @jonsamwell , i'm having trouble using a text with \n in between on a {string} parameter .
I'm using {string} parameter in find.text() and it's not able to find it. However I did try find.text(<actual string with \n here>) and it worked so I was wondering if it's because the regex was not able to interpret the escape character?

[2019-09-10 01:01] jonsamwell commented on #33
Could you provide a small example and I can look at it for you today.

[2019-09-10 16:58] snickersv2 commented on #33
@jonsamwell  here is the sample stepline in my feature file:
Then I verify that the 'You\’re now displaying\nthis message.' label is visible

and below is a sample step definition:

  ThenIsPresent([StepDefinitionConfiguration configuration])
      : super(configuration);

  /// DESCRIPTION:
  /// verify an element is visible
  @override
  Future<void> executeStep(String locator, String notUsed) a

[2019-09-10 17:42] snickersv2 commented on #33
I found a workaround right now, https://github.com/jonsamwell/flutter_gherkin#multiline-strings

[2019-09-10 22:47] jonsamwell commented on #33
@snickersv2 Thanks I'll have a look at this.  Of the top of my head I think it is most likely becuase the regex that replaces the '{string}' param in the framework is not multiline.  I think your work around it hte way to go at the moment.  I'll try and fix it up this week.

[2019-09-16 03:42] jonsamwell commented on #33
@snickersv2 I have a fixed pending for this.  I am just waiting for another issue to be sorted and I will publish it so this will not work

``` Given I add the text "some text \n with a new \n line" as a comment```

[2019-09-18 03:47] jonsamwell commented on #33
@snickersv2 This fix is now in the latest published version

[2019-09-18 03:47] #33 closed

[2019-09-18 03:48] jonsamwell commented on #10
Closing from lack of activity feel free to re-open

[2019-09-18 03:48] #10 closed

[2019-09-29 05:01] russell-sf opened #35 "Errors when launching Flutter Gherkin tests"
This is likely an issue with Flutter Driver but I wanted to throw it out there in case you had seen similar problems.

We are experiencing random failures running Flutter Gherkin tests with the following stack trace.

We are seeing 2 specific errors occurring randomly. One run will error out, then a another run will work. Have you seen something similar?

[code]

Then a second error we also are se

[2019-09-29 05:37] jonsamwell commented on #35
Hi @russell-sf

Yes I have seen these errors before and there are valid reason for them all.

The first one `Timeout while waiting for observatory debugger uri` is a simple one and very much depends on the machine you are running on.  The observatory debug uri Flutter Driver uses to instrument the app under test so when a observatory debug uri is found it generally means the app is in a state that

[2019-09-29 05:39] jonsamwell commented on #35
Also this on `The client closed with pending request "ext.flutter.driver".` usually means you are not awaiting a future somewhere so the flutter driver is closed and there is still an unawaited future performing an action.

I fixed a small issue with the FlutterDriverUtils.getText method that was missing an await for if you are on an older version of the library this might be your issue.  If not I

[2019-09-29 05:42] jonsamwell commented on #35
Note that to debug the first problem of the app not building in time you can enable the flutter process log output via the configuration properties `logFlutterProcessOutput ` & `verboseFlutterProcessLogs` https://github.com/jonsamwell/flutter_gherkin#logFlutterProcessOutput

[2019-09-29 05:47] jonsamwell commented on #35
Note that on our build server it can take an age for an Android emulator to boot up and be in a state that Flutter can install the app.  So we used to see a lot of timeout for that observatory uri.  I now have script to wait until the emulator is in a state where Flutter is able to install and run the app.  We now see if succeed every time.  The script below should is pretty much what we use.  Hop

[2019-09-29 06:01] jonsamwell commented on #35
Ha, finally, with the step timeout stuff we were seeing lots of issues because of device size. Creating an emulator on a build server and not setting the device type will usually result in a tiny 4 inch screen so it could be (as it was in our case) that the field we wanted to populate was simply not on the screen so the step would just be sat waiting for it appear rather than scroll in into view e

[2019-09-29 18:59] russell-sf commented on #35
Hi @jonsamwell Thanks for the replies. I've been able to get rid of our timeouts and I moved to the .latest fixed the second error.

Another lingering problem is sometimes when launching the app I get the following error when trying to connect to the flutter driver. This will happen every 3 or 4 runs and will sometimes error for a few runs before working again for a few runs etc. Seems to be timin

[2019-09-29 20:02] jonsamwell commented on #35
Hi @russell-sf <https://github.com/russell-sf>

Could you run it with verbose logging on in the stdout reporter my guess is
one of the boolean configuration properties is being set as null somewhere
which might explain why no features are run.

On Mon, Sep 30, 2019, 04:59 Russell Zornes <notifications@github.com> wrote:

[2019-09-29 20:55] russell-sf commented on #35
[code]

[2019-09-29 21:14] jonsamwell commented on #35
This happens intermittently? Doesn't appear to be the flutter gherkin code
rather something when the flutter driver is connecting to your app.

Could you paste the content of the flutter driver log file.

Also what version of flutter are you running? Are you able to do a repo
where this always happens then I can investigate further. Also does this
happen if you run the example in the flutter gherk

[2019-09-29 21:17] jonsamwell commented on #35
Maybe something to do with this?

https://github.com/flutter/flutter/issues/36086

On Mon, Sep 30, 2019, 06:55 Russell Zornes <notifications@github.com> wrote:

[2019-09-29 21:50] russell-sf commented on #35
Hmm. That's exactly the version we are pinned to. Flutter version 1.7.8+hotfix.3
I will see about getting the flutter upgraded. Hopefully its better on .latest

I'll let you know. Thanks!

[2019-09-29 23:37] jonsamwell commented on #35
Great, yeah let me know.  I'll close the issue for now but if it is still happening after the upgrade please re-open and we can investigate further.

[2019-09-29 23:37] #35 closed

[2019-09-30 21:02] ericwindmill opened #37 "Add robust example for creating custom world"
First, this lib is fantastic. Thank you.

I'm trying to add a custom FlutterWorld to the config that would allow state (such as credentials) to persist. I'm struggling to do so.

Also, I'd be happy to add a robust example if you can give me a short explanation here. I'm using this for a project at work, and I'll happily turn it into a big example / use it to expand some docs.

edit 2: kind of figu

[2019-09-30 21:16] #37 closed

[2019-09-30 22:17] jonsamwell commented on #37
Hi @ericwindmill! Thanks for using the library here is a more complete world example (not tested though).  I noticed there isn't one in the docs so I will create one.

Yes a more robust example would be an excellent idea, it would be good to work together on it.

[code]

[2019-10-16 22:52] NickoftheSouth opened #38 "adding flutter_gerkin to some projects seems to cause packages get to break"
I've been working on a Flutter project and trying to get cucumber testing added using flutter_gherkin.
The problem is when I add it to the pubspec file and run Packages get, dart starts eating up never ending amounts of Ram and never seems to complete.
It's been running for well over two hours now and has risen to over 5 GB of ram used.

My pubspec looks like this;
`
dependencies:
  flutter:
    s

[2019-10-16 23:18] jonsamwell commented on #38
Hi, thanks for giving the project a try.

I've never seen this before, the flutter gherkin project doesn't depend on anything large

https://github.com/jonsamwell/flutter_gherkin/blob/master/pubspec.yaml#L19

really just Gherkin which itself doesn't depend on anything at all really

https://github.com/jonsamwell/dart_gherkin/blob/master/pubspec.yaml#L8

Did you notice if there are any conflicts wh

[2019-10-16 23:24] jonsamwell commented on #38
I've just tried a brand new Flutter project with your pubspec file content and it took 17 seconds to get everything.

[code]

This is the doctor output

[code]

[2019-10-16 23:25] jonsamwell commented on #38
Does this only happen if you add flutter gherkin?

[2019-10-22 13:15] DK15 opened #39 "Unable to execute a test"
Hey @jonsamwell,

I was trying to recreate an issue, but was unable to execute the test. I am getting below error:
[code]

I am revisiting this setup after a long time so not sure if anything has changed.  I noticed that when I try to write GWT statements in `.feature` file, I am getting an error as `unimplemented substep definition`.

[code]

If I comment out `Feature` section and only keep `Scen

[2019-10-22 19:05] jonsamwell commented on #39
Hi @DK15

Yes I spit the underlying Gherkin functionality out of flutter_gherkin and into it's own library so it could be using outside of Flutter.

You just need to use an import statement for that library now.

[code]

[2019-10-22 19:06] jonsamwell commented on #38
@NickoftheSouth Did you fix the problem? Am I OK to close this?

[2019-10-22 22:03] neokree opened #40 "Debugging the app with Android Studio"
Hi,

I have seen from the documentation that you need to add a configuration for vscode to be able to debugging. There is also a similar configuration to do for Android Studio?

Specifically, I am able to debug all code that is inside the `test_driver` folder but not my app code (the one under the `lib` folder.

I have already set
[code]

[2019-10-23 00:03] jonsamwell commented on #40
Hi!

This is the workspace.xml of when I add a configuration to run and debug the tests (note the 'Dart Command Line App.app_test.dart' block.

[code]

I think you basically have to add a new Run / Debug configuration that point to the dart file that has the flutter_gherkin configuration setup in

![image](https://user-images.githubusercontent.com/3694497/67344847-b43e9800-f584-11e9-8043-346b7578d

[2019-10-23 04:11] DK15 commented on #39
Thanks for quick response @jonsamwell. I am still seeing below error when I try to run test:

[code]

[2019-10-23 04:17] jonsamwell commented on #39
Hi,

It looks like you are on the wrong version of gherkin.

[code]

The current version of flutter_gherkin depends on gherkin 1.13 (https://github.com/jonsamwell/flutter_gherkin/blob/master/pubspec.yaml#L19)

I would ensure you are not adding gherkin directly to your pubspec file.  If you are not I would delete your pub cache and run ```flutter  pub get``` again.

[2019-10-23 05:28] DK15 commented on #39
I get it now. Thanks.

[2019-10-23 05:28] #39 closed

[2019-10-23 05:32] jonsamwell commented on #39
Great! Let me know how you get on!

[2019-10-24 02:20] #38 closed

[2019-10-28 07:19] #40 closed

[2019-11-08 13:10] maheshmnj commented on #14
thanks it really hepled I was able to generate a beautiful bootsrap html report

[2019-11-09 06:49] jonsamwell commented on #14
Awsome!

[2019-11-26 18:21] russell-sf opened #42 "onAfterScenarioWorldCreated called after onBeforeScenario"
I need to install some isolate extensions before my scenarios are run so that they can call back to flutter code. I need the world to do this so I can get at the flutter driver and its isolate.

I was hoping to do this with onAfterScenarioWorldCreated as it is passed the world and I assumed it was called before any scenario callbacks were called. Apparently onBeforeScenario is called first but it

[2019-11-26 22:20] jonsamwell commented on #42
Hi russell-sf,

Yes I see your problem here.  One possible solution would be to create your own world object that extends the FlutterWorld (https://github.com/jonsamwell/flutter_gherkin/blob/master/lib/src/flutter/flutter_world.dart#L6).  You could then override the `setFlutterDriver` method (ensure you call super.setFlutterDriver(driver)) first.  At that point no steps have run and the flutter dr

[2019-11-26 23:50] russell-sf commented on #42
Thanks Jon! Interesting idea but its still calling onBeforeScenario before my world is even created.

The relavant code is actually in gherkin at
 https://github.com/jonsamwell/dart_gherkin/blob/0f39a739a4829182620e780866ed652f7d5ed4dc/lib/src/feature_file_runner.dart#L110-L118

Can onBeforeScenario be moved to after the following if block?

[2019-11-27 17:37] russell-sf commented on #35
I found the issue we were having with those last errors.

Our init code is async so our main looks like this...

[code]

Since this effectively defers the call to app.createApp, main exits and the flutter driver starts up and starts running tests. Problem is the awaited call may still be in flight so the app isn't ready to communicate with the driver and the driver errors out.

To get around this

[2019-11-28 05:50] maheshmnj opened #43 "feature files execution order"
Hi I have written set of feature files each feature in a single file which consists of multiple scenarios and I only have a single step file which consists of all the step defination classes required to run the test
The problem is When I run the test the tests are executed in the order the feature files are in the directory is there any way to specify the order in which feature files should be exe

[2019-11-28 06:00] jonsamwell commented on #43
Hi,

Typically tests should be independent and atomic and not rely on other test but it you need to execute then in sequential order you can set the configuration property `order`.  This will execute them in the order the feature files are found (usually name order in the folders).

see  https://github.com/jonsamwell/flutter_gherkin#order

You can set the logging to verbose for the logger ```Stdou

[2019-11-28 06:18] maheshmnj commented on #43
thanks that was a helpful info I renamed the feature files but at the time of executing the tests I dont understand the order it is finding the feature files

[2019-11-28 06:25] jonsamwell commented on #43
Feature files are just found using a Glob pattern so it is a really a system level detail on how they are handed back to the code.  Tests should not rely on any other tests so I think you have implemented them wrong according to Gherkin principles if this is the case. I think you are implementing a scenario when you need a step.  If you post an example of the scenarios that depend on each other I

[2019-11-28 06:53] maheshmnj commented on #43
suppose I have a Onboarding screen where I am actually showcasing the key features of the app and here is the feature file to it
[code]

and a corresponding stepfile.dart

[code]
if I want to test this feature(and some other features of app individually) How should I proceed

[2019-11-28 07:12] jonsamwell commented on #43
Typically you would use the `Background` section of the feature file to setup the steps required to carry out the test.  This could be a simple as logging in or navigating to a particular screen.  Keep the tests atomic and independent from each leads to easier to maintain tests and less test fails it one thing changes it won't break all your tests.

https://relishapp.com/cucumber/cucumber/docs/ghe

[2019-12-02 05:42] maheshmnj commented on #19
I am still facing exceptions running the example project
[code]

heres my **flutter doctor -v** output

[code]

[2019-12-03 05:53] jonsamwell commented on #19
Thanks for reporting this I'll take a look

[2019-12-03 05:53] jonsamwell commented on #42
Sorry for the late reply, I'll sort this out for you.

[2019-12-05 05:48] jonsamwell commented on #43
Closing as no reply

[2019-12-05 05:48] #43 closed

[2019-12-05 06:10] jonsamwell commented on #19
@maheshmnj this might be because you are on the master channel could you see if you get the issue on the latest stable channel

[2019-12-05 06:16] jonsamwell commented on #42
@russell-sf I've moved the `onBeforeScenario` to after the world creation so you will have access to the world in this method if you save an as an instance member when the `onAfterScenarioWorldCreated` is called.  Let me know how you get on.

[2019-12-05 06:16] #42 closed

[2019-12-06 06:14] psovit opened #44 "Unable to debug on VS Code"
I am getting the following exception when trying to debug my tests:

Here's my test configuration.

[code]
The tests run fine when I run without debugging with this command:
`dart test_driver\app_test.dart`

Also, here's my vs code launch.json config.

[code]

It appears that the configuration isn't working well when debugging and might be looking for feature files in my device/emulator and not in

[2019-12-06 06:29] jonsamwell commented on #44
I'm guess it is something to do with your cwd (current working directory) when debugging.  Note that it does not look at the emulator / device for feature file.

try this (if this doesn't work see what the cwd is when you are debugging):

[code]

[2019-12-07 16:32] maheshmnj commented on #19
okay I will try and let you know

[2019-12-13 01:53] jonsamwell commented on #44
@psovit did this work?

[2019-12-13 05:09] psovit commented on #44
@jonsamwell i tried your solution but still it's not working. I have created a demo project to replicate the issue here: [https://github.com/psovit/gherkin_flutter_debug_fail](https://github.com/psovit/gherkin_flutter_debug_fail)

If you can take a look to verify if my configuration is correct or not, that would be great.

Thanks.

[2019-12-13 05:32] jonsamwell commented on #44
Just send you a PR with it working https://github.com/psovit/gherkin_flutter_debug_fail/pull/1

[2019-12-13 05:48] psovit commented on #44
Thanks for the quick response. After merging your changes I am now able to run in debug mode.
Looks like it is hitting the breakpoints for the code inside the steps however it is not hitting any breakpoints inside the code for the app.

For example when I trigger tap interaction, the breakpoint doesn't hit inside the code.
Is it expected behavior?

[2019-12-13 05:55] jonsamwell commented on #44
Hi @psovit

Not a problem.

Yes that is expected behaviour, the flutter driver only drives the app and debugger attaches to the driver process not the app process.  Think of the driver as a window looking at the app which cannot see what is going on in the app only interact with the bits it can see.

Internally flutter gherkin (once started by the debugging session) spawns the app in a separate pr

[2019-12-13 05:55] #44 closed

[2019-12-13 05:59] psovit commented on #44
Great. Thanks for this awesome library and your support.

[2019-12-13 06:08] jonsamwell commented on #44
Thanks!  Let me know if you have any other problems, sometimes the Gherkin paradigm can be confusing to get your head around at first.

[2019-12-13 22:37] zsyphon opened #45 "LogLevel not found"
Hello thank you your for writing such an awesome framework!

I am having trouble with the flutter_driver_reporter using flutter_gherkin: 1.1.5

Right now it is throwing the errors:
flutter/.pub-cache/hosted/pub.dartlang.org/flutter_gherkin-1.1.3/lib/src/flutter/reporters/flutter_driver_reporter.dart:46:45: Error: Getter not found: 'LogLevel'.
              (log) => _isLevel(log.level, [LogLevel.cr

[2019-12-13 22:42] jonsamwell commented on #45
Hi!

What does your configuration look like?  I haven't tried it on the dev
channel so I'll see if I can replicate it.

Jon

On Sat, Dec 14, 2019, 09:37 zsyphon <notifications@github.com> wrote:

[2019-12-14 00:17] zsyphon commented on #45
Thanks for checking, Jon!

We use the dev channel to get the latest updates. It's worked well so far.  Sorry for not fully understanding, but we just have the standard flutter configuration. Nothing special. Is there anything else you need in terms of the configuration?

[2019-12-14 00:23] zsyphon commented on #45
Version 1.0.5 worked very well on  the dev channel earlier this year in  August on dev channel

[2019-12-14 03:53] jonsamwell commented on #45
No problem I'll have a bit of time to look at this tomorrow.

On Sat, 14 Dec 2019 at 11:17, zsyphon <notifications@github.com> wrote:

[2019-12-14 04:02] jonsamwell commented on #45
Yep, looks like they have changed a few things in regards to the way the
driver reports messages

On Sat, 14 Dec 2019 at 14:53, Jon Samwell <jonsamwell@gmail.com> wrote:

[2019-12-14 04:02] jonsamwell commented on #45
see
https://github.com/flutter/flutter/blob/dev/packages/flutter_driver/lib/src/common/error.dart

On Sat, 14 Dec 2019 at 15:01, Jon Samwell <jonsamwell@gmail.com> wrote:

[2019-12-14 04:04] jonsamwell commented on #45
So I by the looks of it you will not need this reporter on the dev channel as flutter driver doesn't appear to log things to the stderr stream anymore

[2019-12-14 14:38] zsyphon commented on #45
I removed the FlutterDriverReporter() from the  list of reporters and I get the same error.

[2019-12-14 19:07] jonsamwell commented on #45
What is the new stack trace of the error?

On Sun, Dec 15, 2019, 01:38 zsyphon <notifications@github.com> wrote:

[2019-12-14 23:09] zsyphon commented on #45
It's  the same  error.

On Sat, Dec 14, 2019 at 2:07 PM Jon Samwell <notifications@github.com>
wrote:

--
mobile: (917) 626-6465

[2019-12-18 09:56] jonsamwell commented on #44
This is now the default debug config in version 1.1.5+1

[2019-12-18 10:09] jonsamwell commented on #45
Fixed in the 1.1.6+rc.1 version https://pub.dev/packages/flutter_gherkin/versions/1.1.6-rc.1

Not this is a pre-release as the stable flutter channel does not have this pull request (https://github.com/flutter/flutter/pull/45945) merged in yet.

[2019-12-18 10:09] #45 closed

[2019-12-18 23:35] jonsamwell commented on #19
@maheshmnj if you update to https://pub.dev/packages/flutter_gherkin/versions/1.1.6-rc.3 you will be able to run the example and use the library against the dev / master flutter channels

[2019-12-21 04:55] maheshmnj commented on #45
[code]
has the fix

[2019-12-21 14:27] zsyphon commented on #45
Thank  you!!

On Fri, Dec 20, 2019 at 11:55 PM Mahesh Jamdade <notifications@github.com>
wrote:

--
mobile: (917) 626-6465

[2019-12-23 09:20] psovit opened #46 "Uninstalling app in between scenario?"
Hi @jonsamwell ,
In my test scenarios I need to make sure that my app's state is always clean in between the scenarios. So, I tried few hooks in between scenarios like uninstalling app or cleaning app data in between scenario, then after that restarting the app; all done with `adb` commands.

However, when I do this, the test driver cannot connect with the app after it is restarted back again and

[2019-12-23 09:37] jonsamwell commented on #46
Yes, I ran into the same scenario and found uninstalling the app to be too slow really.  I eventually settle with handling commands sent to the app via Flutter driver extensions.

I'm a bit short on time now but will add a full example in the morning.

https://github.com/flutter/flutter/blob/stable/packages/flutter_driver/lib/src/extension/extension.dart#L81

Basically you can (via the flutter dri

[2019-12-23 09:44] psovit commented on #46
@jonsamwell thanks for the immediate response :) i will try to follow your suggestion for now and see if i can get it to work.
if you get a chance to update with the example please do let me know as well.

Thanks a lot.

[2020-01-14 04:30] longk15t opened #48 "Cannot verify text of RichText widget"
Hi @jonsamwell , have a good day.
I tried to used our dependency to verify text of a RichText widget
This is how the RichText looks like

[code]

This is feature step ( I just use the format of predefined step)
`Then I expect the "richtext" to be "main rich text Text span 1 Text span 2"`

This is the output
[code]

I think the point is `Uncaught extension error while executing get_text: type 'Rich

[2020-01-14 08:19] jonsamwell commented on #48
Yes this is a known limitation of Flutter driver at the moment in that it can only retrieve text from 'Text' widgets see https://github.com/flutter/flutter/issues/16013

However, they have closed this bug without a satisfactory conclusion.  It would be good if you file a bug against the Flutter report for the driver not being able to get the text from TextSpan or RichText widgets.  I will upvote a

[2020-01-14 08:19] #48 closed

[2020-01-14 09:31] longk15t commented on #48
@jonsamwell the last comment in https://github.com/flutter/flutter/issues/21961 looks potential
[code]
is it possible to use in a step definition class ?

[2020-01-14 10:54] longk15t commented on #48
@jonsamwell reported an issue https://github.com/flutter/flutter/issues/48797

[2020-01-14 21:34] lsuhov opened #49 "Build flavor on iOS not working"
Hi,

When running a simple integration test(without gherkin) with `flutter driver --flavor=development --target=test_driver/app.dart`, it works on android and iOS emulators.

I'm trying to integrate Gherkin, and I've set the FlutterTestConfiguration.buildFlavor to development. It works fine on Android, but fails on iOS.

Stacktrace:
DriverError: Failed to fulfill GetHealth due to remote error
Orig

[2020-01-14 22:21] jonsamwell commented on #49
Hi,

I am using build flavor successfully with ios and Android during Gherkin test runs.  It must be your flavour setup in ios I would think.

Could you run the build with the property below set:

https://github.com/jonsamwell/flutter_gherkin/blob/master/lib/src/flutter/flutter_test_configuration.dart#L53

This should tell us the flavor passed to the flutter build process.

Do you have all the cor

[2020-01-15 23:10] jonsamwell commented on #48
Will be fixed in Flutter when this PR lands https://github.com/flutter/flutter/pull/48809

[2020-01-16 22:21] lsuhov commented on #49
Hello @jonsamwell ,
Thank you for the prompt response.

I'm having following flavours in project.pbxproj:
/* Begin XCConfigurationList section */
		97C146E91CF9000F007C117D /* Build configuration list for PBXProject "Runner" */ = {
			isa = XCConfigurationList;
			buildConfigurations = (
				97C147031CF9000F007C117D /* Debug */,
				291FD015239EE796006122C0 /* Debug-production */,
				291FD00D239E

[2020-01-16 22:31] jonsamwell commented on #49
Yes that all looks correct above.

Sorry I told you the wrong property to enable.  Please enable `logFlutterProcessOutput`

You should see the command the library invokes to run the app in the first couple of line in the output (like below)

![image](https://user-images.githubusercontent.com/3694497/72568342-0c7b0100-390c-11ea-96a6-4b34edcd5cea.png)

[2020-01-19 22:02] lsuhov commented on #49
Hello @jonsamwell ,

I can confirm that the following command is run:
Invoking from working directory `./` command: `flutter run --target=test_driver/main_tests/app_dev.dart --flavor=development`

I noticed that you are passing several parameters from command line in your screenshot. But I guess you are using them to create a more dynamic FlutterTestConfiguration.

How are you getting the --verbos

[2020-01-20 00:28] jonsamwell commented on #49
Hi @Isuhov,

So is the correct flavor for ios being built now or are you still having the problem?

Yes I have been meaning to do a more real-world testing example with all the best practices stuff like the args I pass into the running, running the tests on build servers etc.  I will try and find time soon.  However, I use Args (https://pub.dev/packages/args) to pass in command line parameters tha

[2020-01-22 21:53] lsuhov commented on #49
Hello @jonsamwell ,

Unfortunately I'm still facing the same problem, but I will be checking next week if the build flavors are correctly set up in iOS. Will let you know then.

[2020-01-22 21:55] jonsamwell commented on #49
Great, if the problem persists and you can either give me access to the code or create a sample that reproduces the errors I can help sort it.

[2020-01-22 21:57] lsuhov commented on #49
Thank you for sharing the script. The part with args will be very helpful :)

[2020-01-24 14:07] GarimaVats opened #50 "Change Locale using flutter drive"
Hi All,

Can you please tell there is any property exists into gherkin framework to change locale of device.
If not , Can you please share code to change device language using flutter driver.

Regards
Garima

[2020-01-27 21:19] jonsamwell commented on #50
Hi @GarimaVats changing device locale would have to be done via the command line emulator tools either `adb` for Android or `simctrl` for iOS.  Furthermore, I think that to change device locale for Android emulator has to be set when they are booted?

iOS
`xcrun simctl launch <deviceid> <appid> -AppleLanguages "(en-GB)"`

Android
`adb shell "su 0 setprop persist.sys.locale en-GB";adb shell "su 0 s

[2020-01-28 17:13] GarimaVats commented on #50
Thanks @jonsamwell for reply. I also try to use it. but still not working at my end.

[2020-01-29 21:22] lsuhov commented on #49
Hello @jonsamwell.
I found the reason for my issue. It was due to a hardcoded FLUTTER_TARGET variable.

While implementing build flavours for iOS, in one of the steps it was saying that I should add .xcconfig files for each flavour. The content that I put in development.xcconfig was the following:

#include "Flutter/Generated.xcconfig"
#include "Pods/Target Support Files/Pods-Runner/Pods-Runner.re

[2020-01-29 21:25] #49 closed

[2020-01-29 21:29] jonsamwell commented on #49
Glad you got it working!

[2020-02-05 08:11] longk15t opened #51 "Verify widget is enable/disable using flutter driver"
Hi @jonsamwell ,

Is there a way to verify if a widget is enable/disable by using flutter driver ? `FlutterDriverUtils` or `world.driver` doesn't have any method to verify this point.

[2020-02-05 08:57] GarimaVats commented on #51
FlutterDriverUtils.isPresent() can work?

[2020-02-05 09:18] longk15t commented on #51
It presents, but if it's clickable => it's enable. If it's unclickable => it's disable. (I'm not sure if the way I understand correctly)

[2020-02-05 09:31] jonsamwell commented on #51
Do you have any sample code that you use to check this? I guess if the
element is present and a tap times out then it is disabled?

On Wed, Feb 5, 2020, 20:18 Long Tran <notifications@github.com> wrote:

[2020-02-05 11:06] GarimaVats commented on #51
You can made your logic like that if clicking of this link will redirect you next page then it is enable.  But if you are on same page it is disable(un-clickable).

[2020-02-05 11:08] jonsamwell commented on #51
There would be know way to know if the page has changed. Also this should
work for all widget types that can be disabled. Buttons, text fields,
switches etc

On Wed, Feb 5, 2020, 22:06 GarimaVats <notifications@github.com> wrote:

[2020-02-05 13:17] GarimaVats commented on #50
@jonsamwell Do you have any other way to resolve this issue. This solution is not working at my end.

[2020-02-06 01:51] jonsamwell commented on #50
Unforunately there is no way of changing the locale of the phone (with the need to restart the emulator (Apple) or reboot the OS (android)).  Either way the process to automate this, fire up the app again and connect the driver (during a test) would be complex to say the least.

I would suggest just running your tests on a set emulators that target different locales and passing into the tests what

[2020-02-06 01:51] #50 closed

[2020-02-06 07:57] longk15t commented on #51
I don't want to click/tap on that widget to check if it's enable (app state would be changed that would affect next steps). I tried to get all properties of the widget by using `.getWidgetDiagnostics()` or `.getRenderTree()` or `.getRenderObjectDiagnostics()` but didn't found any helpful properties to indicate the widget is clickable/unclickable.

I found out that if the `onTap` property of widget

[2020-02-06 08:29] hieutrandn9889 opened #52 "Error: Type 'LogLevel' not found"
Hello,

I run install flutter_gherkin: ^1.1.7+5 in pubspec.yaml file
with the command on MAC : flutter drive --target=test_driver/bdd.dart

**I got an error:**
✓ Built build/app/outputs/apk/debug/app-debug.apk.
I/flutter ( 3730): Observatory listening on http://127.0.0.1:43529/wrXAD3eclvE=/
../../../.pub-cache/hosted/pub.dartlang.org/flutter_gherkin-1.1.7+5/lib/src/flutter/reporters/flutter_driver

[2020-02-06 08:37] jonsamwell commented on #52
Could you give me the output from `flutter doctor --verbose`.  I'm guess you are not on the stable branch and if this is the case will need to use the release candidate version (1.1.8-rc.1) https://pub.dev/packages/flutter_gherkin/versions/1.1.8-rc.1

[2020-02-06 09:41] hieutrandn9889 commented on #52
Thank you!
The bug is fixed by the version above

[2020-02-06 09:43] jonsamwell commented on #52
Great!

[2020-02-06 11:09] longk15t opened #53 "How to get color of a widget ?"
@jonsamwell Have a good day,

Can we retrieve color property of a widget by using flutter driver ? Any solution ? Thanks in andvanced.

[2020-02-06 16:13] hieutrandn9889 opened #54 "Can't run codemagic CI for flutter_gherkin:1.1.8..."
Dear,

Today, I run codemagic CI but that is not success. I got an issue for version 1.1.8 of flutter_gherkin

**Pls, see the log for more details:**

iPhone 11 Pro Max • 3542DBEA-36D3-47E9-A374-64798E37294B • ios • com.apple.CoreSimulator.SimRuntime.iOS-13-3 (simulator)

== /usr/local/bin/flutter drive --target=test_driver/bdd.dart ==
Using device iPhone 11 Pro Max.
Starting application: test_dri

[2020-02-06 20:28] jonsamwell commented on #54
What Flutter channel and version is the CI server using?

[2020-02-06 20:32] jonsamwell commented on #53
I suspect that this cannot be achieve with the current state of the Flutter driver.  I will check out what properties come back from a `getRenderObject()` driver call but I doubt this would be included.  I would suggest filing a feature request with the Flutter team.  The driver is still pretty immature unfortunately.

[2020-02-07 02:24] hieutrandn9889 commented on #54
Hello,
Thank you for replying to me
"What Flutter channel and version is the CI server using?"

I run location on my computer that is OK :))

[2020-02-07 02:35] jonsamwell commented on #54
By the look of the error on the CI it is running the stable channel.  I would suggest running the stable channel locally unless there is something specific in master that you need.

You will be able to set the channel on the CI server somehow even it is is manually by running `flutter channel master`

[2020-02-07 02:36] jonsamwell commented on #54
Note that if you run the stable channel you will have to switch to the latest 1.7 version of Flutter Gherkin

[2020-02-07 04:21] hieutrandn9889 commented on #54
I config CI server is master branch
[https://files.fm/u/mxx2kpgx](url)

I will switch 1.7 version of FG

Thank you again!

[2020-02-07 04:30] jonsamwell commented on #54
No problem

[2020-02-07 04:30] #54 closed

[2020-02-10 04:37] psovit commented on #46
@jonsamwell Sending command signals via string text solved our problem. The issue can be closed.

[2020-02-10 04:37] #46 closed

[2020-02-11 02:51] iqbalmineraltown commented on #46
@psovit could you share minimum example, or steps to send command signal for this workaround?
Thanks

[2020-02-11 03:18] jonsamwell commented on #46
You can use the enableFlutterDriverExtensions DataHandler property.

I am just finishing up for the evening but can do you a better example tomorrow.  For now here is a really quick example (with explanation so you have something to try out)

In the test app:

[code]

In the test:
[code]

The above test hook invokes the flutter driver method that sends a chunk of string data to the app under test

[2020-02-11 03:39] iqbalmineraltown commented on #46
thanks a lot @jonsamwell 😄

[2020-02-11 03:41] jonsamwell commented on #46
No problem

[2020-02-12 07:07] #52 closed

[2020-02-18 04:53] iqbalmineraltown commented on #51
@longk15t could you explain your scenario which bring up this issue?

[2020-02-21 10:20] hieutrandn9889 opened #55 "It can't verify title page or content alert"
Hello,

Today, I write a scenario to automation testing
**homePage.feature:**
Feature: AddFeature
  Test add features
  Scenario Outline: Verify clicking on "add" button
    And I click the add button
    Then I verify alert displays "<verifyAlertDisplay "
    Examples:
      | verifyAlertDisplay             |
      | Welcome to ExecuteAutomation 0 |

**homePageSteps.dart**

I run the command : f

[2020-02-21 10:34] jonsamwell commented on #55
It looks like your step line is different from your step definition
pattern. The definition has 'display' where as the step in the feature file
uses 'displays'.

I verify alert display {string}
vs
I verify alert displays "<verifyAlertDisplay"

Also check this step definition has been added to the stepDefinitions
collection in your configuration.

Also you can just use the command from dart rather

[2020-02-22 12:47] hieutrandn9889 commented on #55
Hello,
I verify alert displays "<verifyAlertDisplay   ?>"
 This step will get value from table  >> I verify alert displays Welcome to ExecuteAutomation 0
When I will getText() of alert by command:  homePage.getAlertContent()
Next step, It will verify between get value from table and getText() of alert:
 expectMatch(await homePage.getAlertContent(), value);
**But Gherkin can't support in log:**
"Gh

[2020-02-22 19:36] jonsamwell commented on #55
Yes it is saying you have not got a step definition that matches the
pattern you are trying to display. As I said previously the step text in
the feature does not match the regex in the step definiton. In the regex
you are using the word 'display' and the feature you are using the word
'displays'.

Please paste the configuration you are using into this issue and see my
previous comment about the d

[2020-02-24 02:07] hieutrandn9889 commented on #55
OK thank man. I got it

[2020-02-24 02:28] hieutrandn9889 opened #56 "[Suggest] I can't getText in title app"
Dear,

I am using getText for title app >> But it can't support for that:
**Log**
Exception: DriverError: Error in Flutter application: Uncaught extension error while executing get_text: Unsupported operation: Type MaterialApp is currently not supported by getText

Pls help me to support for that

[2020-02-24 19:54] jonsamwell commented on #56
This is a limitation of the getText flutter driver method.  It can only find the text of Text widgets.

To get the application title ensure the applicationTitle widget in the app bar has a key then use the key name to get the title.

![image](https://user-images.githubusercontent.com/3694497/75186182-8f109f00-579b-11ea-95bd-76e629e74d32.png)

[code]

[2020-02-24 19:54] #56 closed

[2020-02-24 19:55] #55 closed

[2020-03-02 14:59] Holloweye commented on #51
@longk15t You could add several Scenarios to test all fail cases. Then you don't need to check if that button is disabled in the "Success Scenario". Because if that button was enabled then one of your scenarios would fail and you know that something is broken.

[2020-03-03 04:56] psovit opened #57 "Support for multiple tagExpressions?"
@jonsamwell
Is there any way I can use multiple tagExpressions?
It would be easier if I could preload data differently based on different tagExpression.

[2020-03-03 05:19] jonsamwell commented on #57
Hi @psovit,

Could you expand what you mean here?

Are you referring to something like this (which already works)

[code]

[2020-03-03 05:35] psovit commented on #57
Hi @jonsamwell,

I need to run a script that preloads user data differently in server based upon different scenario. For this, right now I have hooks setup to run before scenario. So, what I needed to configure is something like this:

if tagExpression is `@withProgress` run the script to load user progress,
if tagExpression is `@withBookmarks` run the script to load user bookmarks.

I was hoping

[2020-03-03 06:18] jonsamwell commented on #57
@psovit so you would want to use a Hook and override say the `onBeforeScenario` method to setup the server data based on one or more tags on the scenario about to be tested.

Just so I am understanding this correctly:

If you have a scenario like this:
[code]

based on the above tags you would setup some data on the server that the app serves up in the screens during the test?

[code]

Would that

[2020-03-03 06:47] psovit commented on #57
I had never made use of the `Background` block and didn't know it existed :) Thanks I think if I use this block I can definitely write re-usable steps here. One question on it's usage though, can I use multiple `Background` within the same feature file like grouping scenarios by the background block?

Coming back to my current implementation, yes you are right that is how I am making use of the on

[2020-03-03 06:54] jonsamwell commented on #57
Unfortunately you can only have a single `Background` block per feature file.  I only put a single scenario per file anyway to reduce the file complexity and keep my tests simple.

Yes, going back to your original requirement - I think as there is no way for a `Hook` to get the tags a certain `Scenario` block has it would be tough to do at the moment.  I can make a change to pass in the tags scena

[2020-03-03 09:27] psovit commented on #57
When you say "I can make a change to pass in the tags scenario focused hook methods and you should be able to achieve this.", do you mean in the next version of the plugin?

About adding the `@ignore` tag, since we had a lot of scenarios in the beginning, we chose to identify only those that are testable rather than tagging all as ignoreable.

[2020-03-03 09:35] jonsamwell commented on #57
Yes, sorry - it'll need plugin code update - I should have a bit of time tomorrow to sort this as it isn't too big of a change

[2020-03-03 09:43] psovit commented on #57
That sounds wonderful @jonsamwell .
Again I highly appreciate your effort and prompt responses.

Have a great day!

[2020-03-04 08:24] jonsamwell commented on #57
@psovit should be fixed in the latest version (1.1.7+6)! See the below link for an example

https://github.com/jonsamwell/flutter_gherkin/blob/master/example/test_driver/hooks/hook_example.dart#L28

 Let me know how you get on - closing this for now.

[2020-03-04 08:24] #57 closed

[2020-03-04 23:07] slc1973 opened #58 "Version set in pubspec.yaml is not honored"
Without any change of my code or pubspec.yaml I got errors from `flutter analyze`:

[code]

I read in CHANGELOG.md, breaking change in version 1.1.7+6 is happened.

But when I try to set any version (1.1.6+4 p.e.) via pubspec.yaml which worked before breaking change, version 1.1.7 is still used.

I think to update CHANGELOG.md is not enough, one tag/release with new version must be created with ev

[2020-03-05 00:13] jonsamwell commented on #58
Hi @slc1973 you will just be able to update you onAfterScenarioWorldCreated signatures to

[code]

and then it will work (see https://github.com/jonsamwell/dart_gherkin/blob/master/lib/src/hooks/hook.dart#L21).

Yes I usually agree with a breaking change being a new minor release rather then a interim update however v1.1.8 is currently a RC for more recent versions of Flutter so I was reluctant to

[2020-03-05 00:18] jonsamwell commented on #58
@slc1973 you could try setting a specific verison in the pub file (without the `^`)

[code]

[2020-03-05 06:45] slc1973 commented on #58
Yes, exactly this I do and looks like 1.1.7+6 is still used (after `flutter packages get`)

In .packages I can see:
[code]
but I expect:
[code]

In .pub-cache I found this versions:
[code]

When I change gherkin-1.1.7 to gherkin-1.1.6+4 in .packages manually it works fine without issue

[2020-03-05 06:56] jonsamwell commented on #58
I'll make sure to use specific versions in future releases - unfortunately there is no way to fix a current release - so closing now unless you have another suggestion or I have mis-understood?

[2020-03-05 06:56] #58 closed

[2020-03-05 08:22] slc1973 commented on #58
And when you try to set git tag v1.1.7+5 on commit https://github.com/jonsamwell/flutter_gherkin/commit/e4270dcd4487ba52d867a35dd60e48ea4c105c89 and git tag v1.1.7+6 on commit https://github.com/jonsamwell/flutter_gherkin/commit/a3bebfdedc3d47f4f67c67547bcd59b5747adcd4 ?

Like in flutter: https://github.com/flutter/flutter/tags ?

[2020-03-05 11:39] jonsamwell commented on #58
@slc1973 done.

I'll ensure I tag the repository on every release now

[2020-03-05 12:08] slc1973 commented on #58
Great!
Looks very good, just tags in https://github.com/jonsamwell/dart_gherkin are missing now on last two commits too

[2020-03-05 12:11] jonsamwell commented on #58
Just added them

[2020-03-05 12:18] slc1973 commented on #58
v1.1.6+4 tags the same commit like v1.1.17... (https://github.com/jonsamwell/dart_gherkin/commit/1dfb41db2f4c63aba1832925ee5feec29942c6ea)

But must be https://github.com/jonsamwell/dart_gherkin/commit/7986abe03ce54b47bfe4aa2b4afdd9348024486a tagged as v1.1.6+4

[2020-03-05 22:54] jonsamwell commented on #58
@slc1973 fixed

[2020-03-06 08:25] slc1973 commented on #58
I overlooked that here https://github.com/jonsamwell/flutter_gherkin/commit/e4270dcd4487ba52d867a35dd60e48ea4c105c89#diff-fb2d52cd953afedcafc9fe7629c6f132R19
in pubspec.yaml in line 19 `gherkin: ^1.1.6+4` is used instead of `gherkin: 1.1.6+4` and version 1.1.7 is still registered in .packages

Is better to set dependencies without "^" in the future I think

Our fix doesn't work but the fix with ne

[2020-03-06 13:28] lukasgarcya commented on #25
I can help generation code that it create the class. I have this project for generation code https://github.com/crud-Flutter

[2020-03-07 04:18] jonsamwell commented on #25
@lukasgarcya you are welcome to provide a PR for this

However, I do like the atomic approach of a class per step as it make them much more reusable

[2020-03-08 03:51] jonsamwell commented on #58
Yeah, I'll be sure to set the specific dependencies in the future

[2020-03-13 06:51] iqbalmineraltown opened #59 "Change default flutter sdk path?"
On my machine, I had 2 flutter versions, `1.9.1+hotfix.6` and latest stable `1.12.13+hotfix.8`
and the default `flutter` command is binded to `1.9.1+hotfix.6`

I already set the VSCode SDK to `1.12.13+hotfix.8` and there were no trouble for running other projects.
But when I tried to run with my other flutter version, it always run with my default flutter version.

Do you have any idea about this

[2020-03-13 06:54] jonsamwell commented on #59
What OS do you use?  If it is windows check where you PATH is pointing.  Not sure about Mac

[2020-03-13 06:54] jonsamwell commented on #59
Perhaps ask this question in the Flutter repo?

[2020-03-13 06:56] jonsamwell commented on #59
If you run ```flutter doctor -v``` it'll tell you the path it is using

![image](https://user-images.githubusercontent.com/3694497/76597224-06904d80-6554-11ea-81fc-b22064b0579e.png)

[2020-03-15 15:19] GarimaVats commented on #53
@jonsamwell where can we raise request any path or link?

[2020-03-16 02:27] jonsamwell commented on #53
Just the flutter main repo https://github.com/flutter/flutter/issues

[2020-03-16 02:27] #53 closed

[2020-03-16 02:27] jonsamwell commented on #59
Closing as not relevant to the repo

[2020-03-16 02:27] #59 closed

[2020-03-16 02:29] jonsamwell commented on #51
@longk15t I would add an issue to the Flutter repo requesting this feature https://github.com/flutter/flutter/issues

[2020-03-16 02:29] #51 closed

[2020-03-17 14:44] winqoo opened #60 "Hook error"
I tried updating gherkin to :

flutter_gherkin: 1.1.8-rc.1

but keep getting:
`../../development/flutter/.pub-cache/hosted/pub.dartlang.org/flutter_gherkin-1.1.8-rc.1/lib/src/flutter/hooks/app_runner_hook.dart:51:16: Error: The method 'FlutterAppRunnerHook.onAfterScenarioWorldCreated' has fewer positional arguments than those of overridden method 'Hook.onAfterScenarioWorldCreated'.
  Future<void>

[2020-03-18 00:19] jonsamwell commented on #60
Hi,

Yes v1.18-rc.1 is for the dev branches as the way the Flutter driver logs things is different from the stable branch.  The current main version v1.1.7+6 is for the stable branch.  It looks like the two branches have gotten out of sync so I will push the latest changes into the RC branch today

[2020-03-18 05:38] jonsamwell commented on #60
Fixed in version 1.1.8-rc.2 https://pub.dev/packages/flutter_gherkin/versions/1.1.8-rc.2

[2020-03-18 05:38] #60 closed

[2020-03-18 19:07] winqoo opened #61 "Unhandled exception in GherkinRunner.execute"
@jonsamwell

I changed dependencies to **1.1.8-rc.2** and right now an error occurs when running tests

Exception: Unknown runnable child given to Scenario 'TextLineRunnable'
#0      ScenarioRunnable.addChild (package:gherkin/src/gherkin/runnables/scenario.dart:33:9)
#1      GherkinParser._parseBlock (package:gherkin/src/gherkin/parser.dart:120:21)
#2      GherkinParser._parseBlock (package:gherki

[2020-03-18 19:21] jonsamwell commented on #61
Hi,

This usually indicates a formating error in the feature file. Could you
provide the contents of the whole feature file that is causing this.

Thanks

On Thu, Mar 19, 2020, 06:07 Michał Winkler <notifications@github.com> wrote:

[2020-03-18 19:40] winqoo commented on #61
Hi,

@SUIT-74
Scenario: Login necessary
  Given user has not logged in before
   When user starts the app
   Then the login screen opens

[2020-03-18 20:27] jonsamwell commented on #61
@winqoo that runs fine for me.  Is that the whole contents of the feature file?

If so could you provide a example where the error can be reproduced and I'll be able to get it sorted.

[2020-03-18 20:37] winqoo commented on #61
@jonsamwell you are right, There were some old feature files. I removed them and now it work fine. Thanks for fast responses

[2020-03-18 20:37] #61 closed

[2020-03-18 20:44] jonsamwell commented on #61
Great, feel free to put the content here - the error should be a bit more friendly tbh!

[2020-03-23 11:17] atmaramnaik commented on #25
flutter_gherkin_addons lib was written with same intention to provide dsl like constucts for creating step definations e.g.
GenericThen2 thenISeeSomethingAsSomethingOnDetailsPage(){
  return then2("I See {string} as {string}",(context,String text,String within) async  {
    final locator = find.byValueKey(within);
    context.expectMatch(await FlutterDriverUtils.getText(context.world.driver, locat

[2020-03-23 21:10] jonsamwell commented on #25
@atmaramnaik yes I actually saw this yesterday, nice work!  I wonder if we should pull this into the main repo as is it a great shorthand way of creating steps.  It would be good to be able to specify the world type and pass in step configuration like timeouts.

Let me know your thoughts.

[2020-03-24 06:28] atmaramnaik commented on #25
@jonsamwell Thanks for giving it thought. Yes, would raise a PR and once they are here will rely on them in other repo. Meanwhile that  repo is for putting together different tools (name is misleading) that can make testing simpler (like stubbing utility etc which i think may not suit here).

[2020-03-24 08:11] atmaramnaik opened #62 "Executing Some Given Steps before app launches."
Right now the way app is initialised is by means of hook that is executed before any step executes.
Will it be possible to launch the app as one of step itself like
Given I open my app
This would help for doing some steps that might be preparatory for scenario like data setup etc and would look more Gherkinish
e.g.
Given User with name "abc" exists (This step can ingest data or mock data before ev

[2020-03-24 18:36] Hsilgos opened #63 "Run test on device/emulator/simulator"
Hi,
we are extending our functionality to support flutter and our cucumber-based integration tests are planned also to move.
Unfortunately the example which is located in directory 'test_driver' is not able to run on device and seems that it can't do it as well as dart_gherkin can't.
Is there plans to move in this direction?

[2020-03-24 18:41] jonsamwell commented on #63
What version of flutter are you using? If you are using anything other than
the stable channel you will have to use the latest rc version of the
library.  As the way flutter driver logs things changed in the latest code
from how it works in the stable channel.

Is this what you were asking? I'd not could you clarify your question?

Thanks

On Wed, Mar 25, 2020, 05:36 Yauheni Khnykin <notifications

[2020-03-24 20:34] jonsamwell commented on #62
Typically this is what the Background section of a feature is for.

[code]

There is a step that restarts an app so you could wrap this in another step and create the `When I open the app` step.

I think it is OK to have the test automatically open the app in this scenario as the tests cannot really control the phone they are targeted towards driving a Flutter app.  Unlike say cumcumberjs which is

[2020-03-24 20:37] jonsamwell commented on #25
@atmaramnaik yes agree things like stubbing and extra functionality belong in another library.  However, I think having a shorthand way of creating steps like in your library would be a good addition here.  Feel free to send a PR and we can work it in

[2020-03-24 20:54] Hsilgos commented on #63
@jonsamwell
My flutter doctor:

I check out rc:

Now i go to `examples`
and run `flutter drive --target=test_driver/app.dart`

I get an error:

Ok, i go to `lib/main.dart` and comment out string with  'headline4', run again I get new error:

I comment out those string as well, run again `flutter drive --target=test_driver/app.dart` and finally have error:

Obviously because there is no files on de

[2020-03-24 22:13] jonsamwell commented on #63
Looks like you are using the rc version and are on the stable branch. Use
the 1.7.6 latest version and it will work fine.

On Wed, Mar 25, 2020, 07:54 Yauheni Khnykin <notifications@github.com>
wrote:

[2020-03-24 22:33] Hsilgos commented on #63
You mean tag 1.1.7+6? Ok, I'll try it a bit later. I guess it may help only with first two problem, but I don't see how it can help with third one, most important... But I'll check, thanks.

[2020-03-24 22:38] jonsamwell commented on #63
Make sure to are changing your root directory to example before running the
command. As per the readme in the example folder.

On Wed, Mar 25, 2020, 09:34 Yauheni Khnykin <notifications@github.com>
wrote:

[2020-03-24 22:56] jonsamwell commented on #63
@Hsilgos Further to point 3 you mention.  No files or anything related to the test are stored on the device under test.  The device under test is purely the app.  All test files are parsed and executed by a separate dart process on your local machine.  Therefore, if it is having trouble finding the files I would say the cwd for the process is wrong.

As per the Readme.md in the example folder to r

[2020-03-25 03:33] atmaramnaik commented on #62
Yes, i saw restarting option can now work as work around for this, also looking at the way World objects are . populated this might not be possible hence closing this.

[2020-03-25 03:33] #62 closed

[2020-03-25 03:37] jonsamwell commented on #62
Yeah, I could give you the option to provide your own hook to manage running/restarting/stopping the flutter app under test (https://github.com/jonsamwell/flutter_gherkin/blob/master/lib/src/flutter/flutter_test_configuration.dart#L114).  I suppose if you don't provide it or just have an empty hook you could manage the app availability yourself.

[2020-03-25 07:40] Hsilgos commented on #63
Hm... According to [documentation](https://flutter.dev/docs/testing#integration-tests):

I read it like my test scenarios also running on device (not locally). [Cucumber-android](https://github.com/cucumber/cucumber-android) for Android and [Cucumberish](https://github.com/Ahmed-Ali/Cucumberish) for iOS both execute scenarios on device and I expected that flutter_gherkin should also behave like th

[2020-03-25 08:32] jonsamwell commented on #63
@Hsilgos I think you have misunderstood a fundamental principle of testing, in that the object under test should be separate from the test otherwise you are introducing a host of complexity and additional variables if the item under test, tests itself.

The way this library works, Flutter driver and indeed other Gherkin based frameworks i.e. cucumberjs etc., is to driver an *instance* of the item

[2020-03-25 10:16] Hsilgos commented on #63
@jonsamwell Well, modern approach to test mobile applications separates testing logic from tested as you told. It works perfect for UI applications and I understand it very well.

But in our case we want to test non-UI framework. And we need to test it on simulator/device, because we have C++ code in framework and bridging code between C++ and Java/Swift/Flutter.

We chose approach with cucumber b

[2020-03-25 10:39] jonsamwell commented on #63
@Hsilgos I will give this some thought but I can see what you would require now.  I think it would be possible to use the underlying dart gherkin library to do this in the app itself.

The dart_gherkin library is the core gherkin functionality and test runner without any of the flutter bits laid over the top.  So in essence it is just dart code that could be run from anywhere.

https://github.com/

[2020-03-25 21:49] Hsilgos commented on #63
Yeah, this is the first project which I found and only then I discovered flutter_gherkin.

Thank you for advice, I'll probably try to do this, but can't promise how soon. In any case it shouldn't be rocket science.

[2020-03-25 21:49] #63 closed

[2020-03-25 23:06] jonsamwell commented on #63
Great, let me know how you get on

[2020-04-05 04:31] zaralockheart opened #65 "Is this package usable with flutter widget test?"
Is this package for driver tests only? Can I use this package to run widget tests instead of driver test?

[2020-04-05 06:48] jonsamwell commented on #65
Hi @zaralockheart,

This package is specifically gear towards Flutter driver tests.  To test against widget please use https://github.com/jonsamwell/dart_gherkin (https://pub.dev/packages/gherkin).  The Flutter Gherkin library just wraps this core Gherkin library and provides some driver specific functionality.

[2020-04-07 11:03] zaralockheart commented on #65
Hi @jonsamwell thank you for clarifying. I wanted to ask how do I pump widget with https://github.com/jonsamwell/dart_gherkin as the sample is using a normal class instead of flutter widget. I'll open an issue there.

[2020-04-07 11:03] #65 closed

[2020-04-26 18:01] phamnhuvu-dev opened #66 "[web] flutter integration test"
https://github.com/flutter/flutter/issues/55694
## Steps to Reproduce

I follow this https://flutter.dev/docs/cookbook/testing/integration/introduction#6b-web

I run this command `flutter drive --target=test_driver/app.dart --browser-name=chrome -d chrome --release`

**Expected results:**
Can run integration test for web.

**Actual results:**
[code]

<details>
  <summary>Logs</summary>

[code]

[c

[2020-04-30 18:52] phamnhuvu-dev commented on #66
Now I just use [gherkin](https://pub.dev/packages/gherkin) with Flutter driver, stop us [flutter_gherkin](https://pub.dev/packages/flutter_gherkin)

[2020-05-01 07:56] jonsamwell commented on #66
@phamnhuvu-dev sorry for the late reply.  I need to spend time getting this library working for the flutter web but for now using the base gherkin library is a good work around.  I'll re-open this issue until the library supports flutter web.

[2020-05-08 13:01] jonjon1123 opened #67 "Issue after upgrading to latest Flutter stable release (1.17.0)"
It looks like there is something wrong after updating to Flutter 1.17.0 (see below error). I tried updating to `flutter_gherkin: ^1.1.8-rc.2`, but I still get the below error.
[code]

[2020-05-08 19:11] jonsamwell commented on #67
Hi, you will need to update to flutter gherkin 1.1.8 that I released
yesterday. This supercedes the 1.1.8-rc releases.

This should be the first point of call, if the issue is not resolved please
provide a way to reproduce the issue.

Thanks

Jon

On Fri, May 8, 2020, 23:02 jonjon1123 <notifications@github.com> wrote:

[2020-05-09 00:19] jonsamwell commented on #67
@jonjon1123 This is the version you should upgrade too https://pub.dev/packages/flutter_gherkin/versions/1.1.8

Oddly it looks like the underlying problem is that the `getHealth` flutter driver call did not work for some reason.  Did you call `enableFlutterDriverExtension()` in the flutter app so that the driver can talk to the running app?

Also there is a small issue here with the JsonReporter l

[2020-05-09 13:16] jonjon1123 commented on #67
@jonsamwell I changed to use `flutter_gherkin: ^1.1.8` and I still see the issue. I also checked my flutter app and I do call `enableFlutterDriverExtension()` as the very first line in `main()`.

I dug a little deeper and figured out that this exception only occurs when I try to run tests on an emulator. They just fine on a actual physical device.

[2020-05-09 13:56] jonsamwell commented on #67
Hmm that is interesting. Could you enable the verbose logging in the
StdoutReporter and verbose flutter driver logging `logFlutterProcessOutput`
then post the output here. If you can get a simple test that fails I can
have a look at it.

Thanks

On Sat, May 9, 2020, 23:16 jonjon1123 <notifications@github.com> wrote:

[2020-05-09 15:04] DiegoNovati commented on #67
Same problem and same stack error: the project works perfectly with the iPhone simulator but fails with the Android emulator.

[2020-05-09 19:54] jonsamwell commented on #67
What Android OS version is the emulator running. Could you try running the
example tests in the repository to give us a baseline to work off.

Also please provide verbose doctor info.

Any further information would be great as before the library is released
tests get run on emulators to check everything is working.

Thanks

Jon

On Sun, May 10, 2020, 01:04 DiegoNovati <notifications@github.com> wr

[2020-05-10 01:12] jonsamwell commented on #67
@jonjon1123 @DiegoNovati I've fixed the issue with the JsonReporter with the latest release (1.1.8+1) however, I think the error you are seeing is a flutter driver one and not because of this library as it appears the initial connection of the flutter driver to the app is failing due to an RPC (getHealth) error.  Could you try a simple direct flutter driver test without using gherkin and see if th

[2020-05-10 06:55] jonsamwell commented on #67
@jonjon1123 @DiegoNovati I've investigated this a bit more today and came across https://github.com/flutter/flutter/issues/42433 which I think might be something to do with this.
 Interestingly, this has started happening today on our build server.

For reference we are testing on Android emulators with this configuration `system-images;android-29;google_apis_playstore;x86`.  Changing the configur

[2020-05-10 13:51] jonjon1123 commented on #67
The tests I have written all require a user to be signed in via Firebase auth (which is backed by Google APIs), so I can't try out `system-images;android-29;default;x86_64` as that image doesn't have any Google APIs or services. :( I am reproducing all of this locally.

[2020-05-11 02:31] jonsamwell commented on #67
@jonjon1123 I'm 95% sure the error you are experiencing is an issue with the driver connecting to an Android emulator with the google apis.  So I would file a bug with the Flutter team.  That being said I have made this library retry when a driver connection attempt fails.  Give that a shot and see if the retry is able to connect on additional tries (it'll wait for 2 seconds between connection att

[2020-05-11 14:50] jonjon1123 commented on #67
@jonsamwell I tried your suggestions. The retries didn't have any impact. The same stacktrace was immediately thrown. However, adding `..onBeforeFlutterDriverConnect = (() async => await Future<void>.delayed(const Duration(seconds: 20)))` did fix the issue! So it seems like some kind of issue where the emulator is reporting it is ready for a driver connection, but it really isn't. Adding that dela

[2020-05-11 22:40] jonsamwell commented on #67
@jonjon1123 glad that fixed it.  Did you try lower wait values to see smallest time needed?

Could you post the logs for the retries so I can see the issue - would have thought that would have tried 3 times to connect so something must be up there that needs fixing

Thanks,

[2020-05-11 22:40] jonsamwell commented on #67
@DiegoNovati does the fix work for you?

[2020-05-12 08:16] DiegoNovati commented on #67
Hi,
it seems that the fix solved the problem with Android.

Thank you

Diego

[2020-05-12 12:52] jonjon1123 commented on #67
@jonsamwell Well, I am not sure what happened, but now I am able to remove `..onBeforeFlutterDriverConnect = (() async => await Future<void>.delayed(const Duration(seconds: 20)))` and the retries handle the failed driver connections just fine. I am not sure what I did wrong the first time I was testing the retries, but now they seem to work as expected:
[code]

[2020-05-13 08:16] jonsamwell commented on #67
Thanks for the logs @jonjon1123 it looks to be working as I expected and should be quicker than just waiting 20 seconds!

If you are happy I'll close this issue.  I would implore you both @jonjon1123 & @DiegoNovati to comment on the Flutter issue (https://github.com/flutter/flutter/issues/42433) to get the Flutter team to actually fix the issue with the driver being flaky on Android emulators with

[2020-05-13 17:35] jonjon1123 commented on #67
@jonsamwell Yep, I am good to close the issue! I will def comment on that flutter issue. Thanks for all your help and thanks for such an awesome library!

[2020-05-13 17:35] #67 closed

[2020-05-13 22:07] jonsamwell commented on #67
No problem @jonjon1123 glad you are finding it useful.

[2020-05-18 01:23] UTRGV-SOMEDW opened #68 "Cucumber-Ruby style step definitions"
Just curious, I'm new to Dart - coming from a Ruby background.
Found this package by looking for a Cucumber-style BDD framework in Flutter.

In Cucumber-Ruby writing step definitions is pretty simple:
[code]

is it possible to have this style step definition in `flutter_gherkin` ?

I imagine it could look something like:

[code]

[2020-06-02 13:15] GarimaVats opened #69 "If data is heavy showing cucumber report is showing "TypeError: Cannot read property 'forEach' of undefined." error"
After running my all feature files which are now 20 ( approx 1500 steps), when I am executing command **node test_driver/cucumber_reporter.js**, I am facing **TypeError: Cannot read property 'forEach' of undefined**. While if I am running one feature file report is being generated.

[2020-06-02 21:47] jonsamwell commented on #69
Hi @GarimaVats could you provide the js code you are using and the json report.

[2020-06-03 06:51] GarimaVats commented on #69
var reporter = require('cucumber-html-reporter');

var options = {
        theme: 'bootstrap',
        jsonFile: 'test_driver/main_tests/test_report.json',
        output: 'test_driver/main_tests/cucumber_report.html',
        reportSuiteAsScenarios: true,
        scenarioTimestamp: true,
        launchReport: true,
        metadata: {
            "App Version":"0.3.2",
            "Test Environme

[2020-06-03 06:54] jonsamwell commented on #69
@GarimaVats could you provide the test_report.json that makes this fail?

[2020-06-03 13:20] GarimaVats commented on #69
It is very big size. when I copied it on word , it is showing 772 pages which is out of limit of this comment box. I believe big size of this report is issue. As I noticed if I am running only smoke tagged test, it is working fine. Again copy below error:/

Users/xyz/node_modules/cucumber-reporter/lib/reporter.js:236
                element.steps.forEach(function (step, count) {

[2020-06-03 15:28] GarimaVats commented on #69
I got the solution of it , I do below changes into reporter.js then its working fine for me

                **if (element.steps == undefined) {
                    return;
                }**

                element.steps.forEach(function (step, count) {
                    if (step.embeddings !== undefined) {
                        step.embeddings.forEach(function (embedding) {

but I am not a

[2020-06-03 22:56] jonsamwell commented on #69
@GarimaVats the repository does not have an JavaScript code?

[2020-06-04 04:23] GarimaVats commented on #69
This file is not part of our source code. This library is downloaded separately. Could you do code change in github of your library.

[2020-06-04 04:24] jonsamwell commented on #69
@GarimaVats sorry I am not sure what change you want me to make?

[2020-06-08 09:48] GarimaVats commented on #69
I debugged the java script, actually reason of that issue was , by mistake for one test scenario I commented out test steps only (Given, when ...then). Due to which exception was occur. Now I am closing this.

[2020-06-08 09:48] #69 closed

[2020-06-23 10:52] sohitEngg opened #72 "requestData() custom command doesn't work with gherkin in FlutterDriver, is there any alternate way"
I'm using flutter_gherkin for BDD test on my flutter Application. Recently I have a requirement in which I need to clear cache(SharePreference) for some scenarios so I have chosen to send custom command to my application. Here below is the code:

await world.driver.requestData("deleteChache");

and I am expecting the command in the main.dart in test environment as per below:

void main() { enableF

[2020-06-23 11:06] jonsamwell commented on #72
Hi, the definitely works as I am doing this myself.

Can you give me a reproducing code sample of how you are doing it?

Please see the below link for a working sample of how I do it:

https://github.com/jonsamwell/flutter_gherkin/issues/46#issuecomment-584462881

On Tue, Jun 23, 2020, 20:52 sohitEngg <notifications@github.com> wrote:

[2020-06-23 11:12] jonsamwell commented on #72
Also please note that you will not see the logs printed of the application
under test as this is a separate process from the actual testing process
and the do not share standard outs.  So I think this is your issue.

To confirm it is working I would return a string from the handler in the
test app that handles the request data call from the gherkin test step.
Then in the gherkin test step you can

[2020-07-06 10:18] GarimaVats opened #73 "Flutter App performance with help of BDD"
I am trying to test performance of my app. Went through with Performance profiling page https://flutter.dev/docs/cookbook/testing/integration/profiling  in flutter driver. Is any way to test performance within flutter_gherkin framework.

[2020-07-08 17:10] DenisBronx opened #74 "Error returned when all scenarios are passing"
I'm unable to get a successful result when running the tests.
When I run the tests with this command `flutter --no-color test --machine test_driver/app_test.dart` I get the following output:

[code]
But it is returned as an error by both my git-hooks and my CI.

When I run from Intellij, I get this error instead

<img width="1641" alt="Screenshot 2020-07-08 at 19 03 36" src="https://user-images.gi

[2020-07-09 06:09] jonsamwell commented on #74
Hi @DenisBronx,

Yeah I've encountered this before.  It is due to FlutterDriver helpfully logging *ANYTHING* to the std out if nothing is listening to it's output stream.

If you include this reporter https://github.com/jonsamwell/flutter_gherkin/blob/master/lib/src/flutter/reporters/flutter_driver_reporter.dart in your reporters config it will capture the output from the driver and only push it t

[2020-07-09 08:11] DenisBronx commented on #74
Hey @jonsamwell I already have that reporter, sorry for not mentioning it.
This is my configuration:

[code]

[2020-07-09 08:12] GarimaVats commented on #73
@jonsamwell Please suggest, if you have any opinion.

[2020-07-09 08:17] jonsamwell commented on #74
What flutter version is this running on?  Could you change the logging level to verbose and see if anything comes out of that

[2020-07-09 08:19] jonsamwell commented on #73
@GarimaVats Sorry for the late reply.  I haven't really done much performance stuff (I know I should get to grips with it).

So the basic scenario here is you want to perform a step with a `driver.traceAction` block but not necessary wrap the action in that function yourself?  Then at the end save the results?

[2020-07-09 08:27] jonsamwell commented on #72
Closing from lack of response

[2020-07-09 08:27] #72 closed

[2020-07-09 08:29] jonsamwell commented on #74
Sorry could you also set the config properties `verboseFlutterProcessLogs` & `logFlutterProcessOutput` and paste the logs here

[2020-07-09 08:45] GarimaVats commented on #73
Yes you are right.

[2020-07-09 08:45] DenisBronx commented on #74
I'm using flutter `v1.17.5`, this is the full log:
[code]

[2020-07-09 08:48] jonsamwell commented on #73
OK I wonder how best to approach this as Gherkin doesn't support tags on the step level so

[code]

would be going against the spec.

Maybe a comment?

[code]

Any ideas on how you would like this to be expressed?

[2020-07-09 08:54] jonsamwell commented on #74
Could you set `exitAfterTestRun` to true that will return a 0 exit code if all steps pass.

Does this happen when you run it against an ios emulator rather than an Android emulator?

[2020-07-09 08:58] jonsamwell commented on #74
Failing that could you just try running the default flutter counter app (created when you create a new project) and a simple test that just tap the button once.  At least that might narrow things down a bit.

Also try running it via `dart test_app.dart` rather than `flutter test test_app.dart`

[2020-07-09 09:00] GarimaVats commented on #73
I think ## profile would be a better approach as it will show altogehter a separate approach and avoid confusion.

[2020-07-09 09:10] jonsamwell commented on #73
Yeah I think that is probably best.  Would we also have a corresponding `## end profile` comment as well?  Perhaps it would profile the step it is above if a closing block is not found.

We would also need a profile reporter as well which would save the json files of the traced timelines.

Could you give me a real world scenario that you want to achieve so I can be sure I get everything in we need

[2020-07-09 09:25] DenisBronx commented on #74
`exitAfterTestRun=true` is giving me this error:
[code]

if I use the `dart` command instead of `flutter`, I get the usual dart:ui issue:
[code]

[2020-07-09 09:27] jonsamwell commented on #74
Are you using the command `dart app_under_test.dart` or `dart test app_under_test.dart`?  You can omit the `test` bit

[2020-07-09 09:29] jonsamwell commented on #74
I think having the test command is causing the error by the look of the stack trace above.

[2020-07-09 09:33] DenisBronx commented on #74
I'm using `dart test_driver/app_test.dart`

[2020-07-09 09:38] jonsamwell commented on #74
Odd I use that and don't get the dart:UI error. Are you using the flutter
test namespace to do the expects?

I think we've exhausted the options now. So I'll need a minimal reproducing
sample to debug the issue further.

What ci service are you using?

On Thu, Jul 9, 2020, 19:33 Denis <notifications@github.com> wrote:

[2020-07-09 10:00] DenisBronx commented on #74
I had some imports related to my UI code, that is why I was using the `flutter` command instead of the `dart` command.

Replacing `flutter` with `dart` now gives a successful result.
I'll try to get it working without flutter imports, but if you don't test an integration (DB, preferences) through UI but rather through a direct class invocation it would be great to have the `flutter` command avalia

[2020-07-09 10:21] GarimaVats commented on #73
Closing with ## end profile is a good idea.
I am using your framework in a big application. It has almost all feature, but I would suggest login page, list scrolling, tapping, redirecting to a website in a in-app browser, navigation from one page to another , user registration etc.

[2020-07-09 10:51] jonsamwell commented on #74
Glad we found the problem.

Agree it should work with flutter imports. Any chance of a small example I
can debug against and fix it?

On Thu, Jul 9, 2020, 20:00 Denis <notifications@github.com> wrote:

[2020-07-09 12:37] DenisBronx commented on #74
@jonsamwell I'm working on a commercial product and I cannot share the code, however, at the moment I'm not pointing to any part of my code in `test_driver` (after stubbing everything) so the issue should be easy to reproduce. Also `test_driver/app.dart` is running a simple:
[code]

so there is nothing that can fail, and using `flutter test --machine test_driver/app_test.dart` reports all scenario

[2020-07-09 17:26] juanagu opened #75 "is possible run 'flutter drive --target=test_driver/app.dart' ?"
Hello, I'm trying to run the test using 'flutter drive --target=test_driver/app.dart' command, but I had the next error:

**Environment:**
_OS_: OSX
_Version_: flutter_gherkin: 1.1.8+2

_Flutter doctor:_

[code]
**Error:**
`
Unhandled exception:
FileSystemException: Directory listing failed, path = './features/' (OS Error: No such file or directory, errno = 2)
#0      _Directory._fillWithDirectory

[2020-07-09 17:53] juanagu commented on #75
My error I was copy the     `..features = [Glob('features//**.feature')]` from the example. The correct conf to run with flutter driver from the root of project is  `..features = [Glob('./test_driver/features//**.feature')]`

[2020-07-09 17:53] #75 closed

[2020-07-16 13:38] DenisBronx commented on #25
@jonsamwell I used Cucumber in the past and I tried out Ogurets too (very nice lib!) however I think the combination of `flutter_gherkin` and `flutter_gherkin_addons` gives a better result if used in the following way:

[code]
and the `app_test.dart` would look like
[code]

This removes the need for importing every single step and also unlike `Cucumber` or `Ogurets` you don't have the boilerplate

[2020-07-17 10:43] GarimaVats commented on #73
Hello @jonsamwell , Did you get chance to looking this.

[2020-07-17 22:52] lsuhov commented on #73
Hello @jonsamwell,
1. If you are thinking on supporting performance testing, please also consider profiling entire scenarios. It's not clear to me how would the above proposal be working. Is it something like this?:

Scenario: my scenario
    Given I have "Sign in" button in "Login Page"
## profile
    When I tap on "Sign in" button in "Login Page"
    Then I have "dummy" button in "Main Page"
##

[2020-07-19 02:41] jonsamwell commented on #73
@GarimaVats I have given it some thought and looked initially at what would need to be done but not had sufficient time yet to actually do it.  I think I can have it done towards the mid to the end of August.

@Isuhov Thank you for you points, yes, I agree when implementing performance I would offer a complete solution i.e. profiling a step or one or more sets of steps in addition to whole scenari

[2020-07-19 02:49] jonsamwell commented on #68
@UTRGV-SOMEDW sorry I have taken so long to get back to you!  There are a number of reason the library cannot do exactly like above and the favoured approach up until now has been to create classes.  Primary the lack of reflection and code inclusion in the runtime i.e. without referencing a class it is not always included once compiled so the code could not be found even via runtime reflection.

I

[2020-07-19 02:49] #68 closed

[2020-07-19 03:01] jonsamwell commented on #25
@DenisBronx I have created the function step syntax in the library now see my comment here https://github.com/jonsamwell/flutter_gherkin/issues/68#issuecomment-660576493

It is slightly different from that implemented in flutter_gherkin_addons so it is a bit more flexible but thanks to them for the initial idea!

I too do my steps similar to you but I modulise them a bit more depending on the area

[2020-07-20 14:28] atmnk commented on #25
@jonsamwell thanks for accomodating that idea and sorry was bit occupied and couldn't create that PR. will update addons library to remove that redundancy and focus on other areas like stubbing etc.

[2020-07-20 23:30] jonsamwell commented on #25
@atmnk thanks for the excellent idea!  No worries about the PR open source is very time consuming!

[2020-07-24 03:30] frestoinc commented on #25
Hi @jonsamwell, question.

Is there an option within the FlutterTestConfiguration to do a fresh installation on every run?

A scenario like login page, when user credentials already exist, screen will navigate to home page so test related to login page will fail due to timeoutexception

[2020-07-24 03:57] jonsamwell commented on #25
@frestoinc you have the `restartAppBetweenScenarios` configuration parameter but what I think you need to do is clear the state in the app before each test starts.  If you choose to uninstall the app every time your tests will become painfully slow.  Please see my comment here https://github.com/jonsamwell/flutter_gherkin/issues/46#issuecomment-584462881 about using the `requestData` method on the

[2020-07-25 20:24] lukasgarcya opened #76 "When I put "And I tap the back button" so I receive this error: GenericFunctionStepDefinition<FlutterWorld> parameter count mismatch. Expect 1 parameters but got 0. Ensure you are extending the correct step class which would be Given"
I think in this error is conflict with "I tap the {string} [button|element|label|icon|field|text|widget]"

[2020-07-26 02:27] jonsamwell commented on #76
Thanks for reporting this - I have fixed it and added a test to cover this.  Fix is available in version https://pub.dev/packages/flutter_gherkin/versions/1.1.8+4

[2020-07-26 02:27] #76 closed

[2020-08-10 14:56] MounicaGit opened #78 "Long tap implementation"
How to implement a long tap using flutter_gherkin package?

[2020-08-10 15:00] MounicaGit opened #79 "identify the color of a widget"
Is there any way to get the color of the widget using flutter_gherkin package?

[2020-08-10 23:55] jonsamwell commented on #79
@MounicaGit I am afraid the Flutter driver does not support this.  Please fill a bug with the Flutter team for this

[2020-08-10 23:55] #79 closed

[2020-08-11 00:24] jonsamwell commented on #78
@MounicaGit I have added a new set of pre-defined steps that will help you achieve this

[code]

Alternatively, you can use the util method to do it in a custom step (https://github.com/jonsamwell/flutter_gherkin/blob/master/lib/src/flutter/utils/driver_utils.dart#L73)

[code]

[2020-08-11 00:24] #78 closed

[2020-08-11 05:32] MounicaGit commented on #78
Thank you @jonsamwell

[2020-08-11 05:34] jonsamwell commented on #78
No problem!

[2020-08-13 12:34] pripriya2 commented on #66
@jonsamwell Hi, Is there any update on this? When will this support come?

[2020-08-14 04:38] 3lVv0w opened #80 "Run flutter_gherkin in multiple devices not working for me"
## i have multiple devices connected to my machine both physical devices and emulator/simulator. i already enable "..targetDeviceId = 'all'", it's install on those device, but no action on those device in parallel.

my question is
1. is there any way to run test in parallel for individual device
2. what is the maximum connection that i can run with this

[2020-08-16 12:30] jonsamwell commented on #80
Hi, unfortunately at the moment you can only run against one device at a
time. I do have plans to be able to run against more than one device at a
time either randomly splitting the tests or running the tests on all
devices. It is quite a large breaking change as the reporters would also
need to be updated. It would certainly speed up long running test suites if
this is implemented. However, I nee

[2020-08-16 12:31] jonsamwell commented on #66
No update unfortunately. I just haven't had time to look at this but it is
on the roadmap. Any help would be appreciated.

On Thu, Aug 13, 2020, 22:34 pripriya2 <notifications@github.com> wrote:

[2020-08-17 20:51] tshedor opened #81 "defaultTimeout isn't applied to new-syntax steps"
Ay, sorry to open this as an issue instead of a PR but I couldn't find where the context/configuration was being built.

When the new steps from #70 were converted into [new syntax steps](https://github.com/jonsamwell/flutter_gherkin/commit/b2f86e04464f54f77dfa9d830c5b1b5c9b8e1c5a#diff-3cce40c99a14a7e4ff55d8a1110e8105R17) they lost the `defaultTimeout` applied from `TestConfiguration`. I thought t

[2020-08-17 21:04] jonsamwell commented on #81
Hi @tshedor

Good spot, it looks like it the passed in configuration is null or the timeout is null it should be populated from the defaults passed to the step from the runner https://github.com/jonsamwell/dart_gherkin/blob/master/lib/src/gherkin/steps/step_definition_implementations.dart#L188.

I am away at the moment but can sort this at the weekend.

[2020-08-19 23:28] tshedor commented on #81
@jonsamwell thanks for the quick response, I'll take a look tomorrow.

From a higher level, is there a performance benefit to the function-style steps? I personally like the original class-based definitions because they allow using `extends` to add build more complex steps in an iterative way (i.e. chaining `super.executeStep()`). Class-based also feels more future-proof: if the protocol of `WhenW

[2020-09-04 09:53] ahmadvicky opened #82 "Error: The method 'runZonedGuarded' isn't defined for the class 'FlutterTestConfiguration'."
Doctor summary (to see all details, run flutter doctor -v):
[✓] Flutter (Channel stable, 1.20.3, on Mac OS X 10.15.6 19G2021, locale en-ID)

[✓] Android toolchain - develop for Android devices (Android SDK version 29.0.2)
[✓] Xcode - develop for iOS and macOS (Xcode 11.6)
[✓] Android Studio (version 4.0)
[✓] Connected device (1 available)

! Doctor found issues in 1 category.

I tried running the

[2020-09-13 22:50] lsuhov commented on #73
Hello @jonsamwell ,
I finally have good findings.
After an initial round of deep dive into your code from flutter_gherkin and gherkin, where I also did the proof of concept with traceAction function, I stumbled upon functions provided test_driver which are not requiring us to add the action parameter.

My full focus was given to
`Future<Timeline> traceAction (
Future action(),
{List<TimelineStream

[2020-09-17 07:36] DouglasDao commented on #82
@ahmadvicky - I am also facing the same issue

[2020-09-18 06:54] doubleo2 opened #84 "Pre-defined "present within N seconds" step has an undocumented constraint"
The "present within N seconds" pre-defined step is constrained by the default step timeout of 10 seconds.

**Repro**

[Modified example project which demonstrates the issue](https://github.com/doubleo2/flutter_gherkin/commit/3858629bf9c77bfc7491776da4afb12b2ed5cc52)

**Possible fixes**

At a minimum, it would be good to document this constraint.

Currently, one work around is to increase the defau

[2020-09-20 02:47] #84 closed

[2020-09-20 02:51] jonsamwell commented on #82
@DouglasDao what version of flutter are you using?

[2020-09-20 03:12] DouglasDao commented on #82
@jonsamwell - Thanks for the reply. Issue was resolved. I was using old dart SDK so, once I update to latest version 2.9.3 version issue was resolved.

@ahmadvicky - You can try this just ensure are you using latest dart-sdk.

[2020-09-20 03:31] jonsamwell commented on #82
Great!

[2020-09-20 03:31] #82 closed

[2020-09-20 04:14] jonsamwell commented on #81
Fixed in release 1.1.8+9

[2020-09-20 04:14] #81 closed

[2020-10-06 10:14] 3lVv0w opened #87 "How to mock (stub) api data in gherkin"
is there any way to do without using [flutter_gherkin_addons](https://pub.dev/packages/flutter_gherkin_addons) ? and can you provide the example on that

[2020-10-06 23:30] jonsamwell commented on #87
Hi @3lVv0w

There isn't really a standard way of doing it and opinions might vary.  Personally I don't see much point in mock out data in end to end tests as that is really the point; testing the system as a whole.

We always have a test and production environments and target the Flutter build using flavours so we do not suffer from test data pollution in our production environments.

If you did w

[2020-10-19 07:37] phamnhuvu-dev commented on #66
https://github.com/flutter/flutter/wiki/Running-Flutter-Driver-tests-with-Web
@jonsamwell I see you create a Processer in the code, so it is hard when the command line from flutter is changed. So anyway can run the BDD with `flutter drive` command line?

[2020-10-21 09:50] vrnvorona opened #88 "Go to Step Declaration from .feature file"
Hello, i have a question: is it possible to go to step declaration from feature file via shortcut? Ruby cucumber supports this behavior: by cmd/ctrl-clicking on step in Gherkin code, you get into your feature file where definition of that step is declared.

Perhaps a plugin like Ogurets https://github.com/dart-ogurets/OguretsIntellij?

[2020-10-21 10:02] jonsamwell commented on #88
Yes this would be really helpful.  I have been meaning to do a vscode
plugin for this for a while now, it is just finding the time to do it. So
help would be appreciated!

On Wed, Oct 21, 2020, 20:50 Vladislav Voronin <notifications@github.com>
wrote:

[2020-10-21 12:17] vrnvorona commented on #88
Well i am working with IntelliJ. I have barely any experience with Java, but i will look what i can do in free time.

[2020-10-21 20:44] Napas commented on #74
I'm having the same issue with

[code]

[2020-10-22 14:16] vrnvorona opened #89 "Assertions are missing in readme"
Well, Title. It seems you've intended to ass examples of assertions usage, but it's empty. WorldContext too.

[2020-10-22 22:48] jonsamwell commented on #89
Thanks for noticing this - I'll try and find some time to update it although it is the same as the normal `expect` functionality

[2020-10-22 22:48] jonsamwell commented on #87
Closing but feel free to re-open if the above does not resolve the issue

[2020-10-22 22:48] #87 closed

[2020-10-23 07:40] vrnvorona opened #90 "exitAfterTestRun = false is not respected"
1. Create app
2. in config get exitAfterTestRun = false
3. Write some steps, implement them
4. Run test with dart test_driver/app_test.dart
5. Wait for steps to pass
Expected: After all steps finish, app remains in state it finished
Actual: After all steps finish, app closes with stdout "Terminating Flutter app under test"

When steps fail, app is not closed, but is restarted with "Restarting Flut

[2020-10-23 07:41] vrnvorona commented on #89
Yeah, context.expect, took it from already-implemented-steps.

[2020-10-23 08:48] jonsamwell commented on #90
Thanks for reporting this I'll look into it.  I think the problem comes if a test fails part way through a test run and the last test to run did not fail.  Regardless, I'll try and make it respect the flag.

See link below with info on how to add a hook to capture a screenshot on failure:

https://github.com/jonsamwell/flutter_simple_dependency_injection/blob/master/test/flutter_simple_dependency_

[2020-10-23 08:49] jonsamwell commented on #88
Great thanks, I have never used IntelliJ but I can do a plugin for VSCode if I get some time.

[2020-10-23 08:55] vrnvorona commented on #90
Thanks for tip on screenshot.

In my case all tests were green, then app would close. If it would fail - it would restart. I didn't test multiple scenarios, maybe it is a problem (i run only one scenario currently to check things out)

[2020-10-27 12:44] jsonConnor commented on #46
Hi @jonsamwell, I really enjoy using this lib for tests but ran into reset between scenarios issue. I just started working with flutter recently and didn't get how to handle this app reset stuff. As i can understand i should put first part of code into my instrumented flutter app. Second one is a hook that invokes app reset just after flutter world is created before test - that is clear.

I have n

[2020-10-28 09:39] vrnvorona opened #91 "build = false is not respected"
My config
[code]
I run as `dart test_driver/app_test.dart`

And in console (because of logFlutterProcessOutput param) I see
[code]

[2020-10-28 09:50] jonsamwell commented on #91
That parameter is just forwarded to the flutter driver process so that is the actual thing deciding whether to build the app or not.  If you run flutter_gherkin using verbose logging you can see the command it sends to flutter driver.  I suspect something has changed in your code that invalidated the last build so the flutter driver process thinks it needs to rebuild

[2020-10-28 09:52] vrnvorona commented on #91
I am running it without changes, but yeah, i just narrowed it down to flutter run too. Sorry for not verified issue

[2020-10-28 09:54] vrnvorona commented on #91
Though, is there a way to not run flutter run but use session from flutter drive?

[2020-10-28 10:01] jonsamwell commented on #91
Yes there is see
https://github.com/jonsamwell/flutter_gherkin#debugging-the-app-under-test

It's not too well documented now and the debugger session uri starts with a
ws:// not a http:// as the docs suggest. I need to update it.

On Wed, Oct 28, 2020, 20:54 Vladislav Voronin <notifications@github.com>
wrote:

[2020-10-28 10:24] vrnvorona commented on #91
Optionally maybe implement --use-application-binary, --no-build for flutter run seems to have no effect https://github.com/flutter/flutter/issues/68529

[2020-10-30 07:17] nandhini0761 commented on #79
Is there any way to get the color of the widget using flutter driver?

[2020-10-30 07:18] jonsamwell commented on #79
@nandhini0761 I am afraid the Flutter driver does not support this. Please fill a bug with the Flutter team for this

[2020-10-30 14:52] lukasgarcya opened #92 "Fail in final of test"
Starting Flutter app under test 'test_driver/app.dart', this might take a few moments
before run hook
VMServiceFlutterDriver Connecting to Flutter application at http://127.0.0.1:38445/ScaIiPjZCT0=/
VMServiceFlutterDriver Isolate found with number: 3682545693255519
VMServiceFlutterDriver Isolate is not paused. Assuming application is ready.
VMServiceFlutterDriver Connected to Flutter application.

[2020-11-09 03:25] lukasgarcya commented on #92
I tested in other notebook that I see the same error.

[2020-11-09 03:28] jonsamwell commented on #92
@lukasgarcya what command are you using to run the tests?

[2020-11-09 05:22] quan-codemetrics commented on #92
@jonsamwell I run dart app_test.dart and I get the error after every scenario.
![image](https://user-images.githubusercontent.com/70996524/98502891-d08f9e80-2285-11eb-90d6-fd68e24da105.png)
Thank you for your effort in fixing this.

[2020-11-09 06:59] comerc opened #93 "Error waiting for no transient callbacks from Flutter driver: `Failed assertion: boolean expression must not be null`"
[code]

[2020-11-09 06:59] comerc commented on #93
$ flutter doctor -v
Waiting for another flutter command to release the startup lock...
[✓] Flutter (Channel stable, 1.22.2, on Linux, locale ru_RU.UTF-8)
    • Flutter version 1.22.2 at /home/aka/flutter
    • Framework revision 84f3d28555 (3 недели назад), 2020-10-15 16:26:19 -0700
    • Engine revision b8752bbfff
    • Dart version 2.10.2

[!] Android toolchain - develop for Android devices (And

[2020-11-09 16:33] lukasgarcya commented on #93
This error is mentioned in #92

[2020-11-09 16:34] lukasgarcya commented on #92
I run in Visual Studio Code and flutter drive --target=test_driver/app.dart

[2020-11-09 20:24] jonsamwell commented on #92
Does this actually make the test fail or just print the error message

[2020-11-09 20:25] jonsamwell commented on #93
Does this actually make the test fail or just print the error message

[2020-11-09 21:31] lukasgarcya commented on #92
The test is running without error. After tests I receive this problem mentioned.

[2020-11-09 21:56] jonsamwell commented on #93
Can you please see if the error is still present using this branch https://github.com/jonsamwell/flutter_gherkin/tree/close-driver-error-fix

[2020-11-09 21:56] jonsamwell commented on #92
Can you please see if the error is still present using this branch https://github.com/jonsamwell/flutter_gherkin/tree/close-driver-error-fix

[2020-11-09 21:58] jonsamwell commented on #74
@Napas use the command

[code]
and don't invoke it using `flutter driver`

[2020-11-09 21:58] #74 closed

[2020-11-10 02:36] lukasgarcya commented on #92
@jonsamwell is working with this branch close-driver-error-fix.

[2020-11-10 06:51] comerc commented on #93
just print the error message :)

[2020-11-10 06:59] comerc commented on #93
its work fine for me :)

[2020-11-10 09:20] jonsamwell commented on #93
Great, I'll get this merged in tomorrow

[2020-11-10 09:20] jonsamwell commented on #92
Great, I'll get this merged in a published tomorrow

[2020-11-10 09:28] jonsamwell commented on #91
@vrnvorona you can connect to an existing app see here https://www.wfa.com.au/water-filters/

I will try and get the flag to stop the driver terminating the app under test in soon.

[2020-11-11 18:36] comerc opened #94 "How to translate pattern to other language for functional step?"
I have functional step in alient package, like this:
[code]
I want reuse it with other language, like the class step. For example:
[code]

[2020-11-11 22:44] jonsamwell commented on #94
@comerc I have never considered a step could have translations i.e. multiple pattern.

I will consider this and perhaps provide a translation property on a step so it can be matched when running in languages other than English.  For now you will have to add the seconds step `ThenWaitForFlutterRu` to the `stepDefinitions` property on the configuration object.

See https://github.com/jonsamwell/flut

[2020-11-12 05:08] comerc commented on #94
I want to reuse original functional step. Like this example (if pattern will be allow setter):

[code]

[2020-11-12 05:42] jonsamwell commented on #94
Why not do something like this

[code]

[2020-11-12 05:50] comerc commented on #94
I want to reuse "alient" steps. For example:

https://github.com/jonsamwell/flutter_gherkin/blob/master/lib/src/flutter/steps/restart_app_step.dart

[2020-11-12 05:54] jonsamwell commented on #94
Ah, I seem what you mean.  I think the ultimate answer is to do this via translations.  If you translate all of those common steps I will get these translations in place.

For instance this would become

[code]

In the meantime your only option would be to wrap these steps in steps with Russian patterns I am afraid.  I will get this in early next week though if you provide the translations

[2020-11-12 06:09] comerc opened #95 "Simplify step* (proposal)"
## why?

I want reuse my step definitions as `Given` and as `Then` inside `.feature` file;

also as benefit, idiomatic function names (with first verb) for my step definitions.

## step* replace for: given*, when*, then*

[code]

## my step definitions (example)
[code]

[2020-11-12 06:13] comerc commented on #94
I don't want to bother the author of someone else's library every time I need a translation. I want to be able to add translations myself via pattern. :)

[2020-11-12 06:15] comerc commented on #94
See first message again. :)

[2020-11-12 06:24] jonsamwell commented on #95
I can provide a step{n} overload as per above but to rename the given/when/then functions at this stage will be a huge breaking change.

Are you able to do a PR for the step overloads?

[2020-11-12 06:27] jonsamwell commented on #94
OK, I'll have a think here, at a guess I'll have to provide a mapping from step pattern to the step code in the config object that can be overridden with different translations.  Although I think I favour just getting the Russian translations for these steps and doing it a proper way.

I'll have a think and get back to you

[2020-11-12 07:01] comerc commented on #95
Done! :)

[2020-11-12 07:14] comerc commented on #94
https://github.com/jonsamwell/dart_gherkin/pull/18/commits/064861bb8b1bd875788d583af47255b62c7bb932

See pull request :)

[2020-11-12 07:17] jonsamwell commented on #94
@comerc I don't think this is the solution to pattern problem you are having. Steps should be immutable and allowing them to mutate the pattern would be bad

[2020-11-14 05:21] comerc opened #96 "Support running/debugging Flutter Driver integration tests for VSCode"
with this instruction:
https://github.com/Dart-Code/Dart-Code/issues/2609#issuecomment-654830800

I have error for [my example project](https://github.com/comerc/flutter_idiomatic): `Shell subprocess ended cleanly after tests finished. Did main() call exit()?`

[code]

[2020-11-15 21:25] jonsamwell commented on #96
see https://github.com/jonsamwell/flutter_gherkin#exitaftertestrun you will want to set this to false while debugging

[2020-11-15 21:25] #96 closed

[2020-11-23 16:58] sayadzad opened #97 "Tag negation not working as expected"
Hi, when trying to use a tag expression such as `not @skip` I get the following exception:

[code]

I believe that the syntax allows for having these type of one-sided conditionals.

[2020-11-23 19:33] sayadzad opened #98 "Tags on Examples not working as expected"
Hi, when I try to add tags to `Examples` blocks such as:

[code]

I get an exception:
[code]

I believe this would be useful to support.

[2020-11-24 03:06] jonsamwell commented on #97
@sayadzad are you able to provide a reproducing example.  I have just tried a single negated tag expression and it works as expected.  Are you perhaps not using a join when chaining conditional i.e. `@smoke and not @skip`?

[2020-11-24 03:13] jonsamwell commented on #98
@sayadzad if the `Example` is within a `Scenario Outline` I don't think they can have tags on them?  Instead you would put it on the parent `Scenario Outline`

[2020-11-24 04:32] jonsamwell commented on #98
OK it looks like you can have multiple example blocks under a scenario outline so that now makes sense that examples should adhere to tag expressions https://relishapp.com/cucumber/cucumber/docs/gherkin/scenario-outlines

[2020-11-24 04:35] jonsamwell commented on #95
Moved to dart_gherkin repo

[2020-11-24 04:35] #95 closed

[2020-11-24 04:36] jonsamwell commented on #94
@comerc are you able to provide translations to the built in steps?

[2020-11-24 04:50] #93 closed

[2020-11-24 04:52] jonsamwell commented on #92
Fixed in latest v1.1.9 release

[2020-11-24 04:52] #92 closed

[2020-11-24 04:52] jonsamwell commented on #89
Fixed in latest v1.1.9 release

[2020-11-24 04:52] #89 closed

[2020-11-24 04:54] jonsamwell commented on #91
Fixed in latest v1.1.9 release see https://github.com/jonsamwell/flutter_gherkin#keepapprunningaftertests

[2020-11-24 04:54] #91 closed

[2020-11-24 04:54] #90 closed

[2020-11-24 04:54] jonsamwell commented on #98
Fixed in latest v1.1.9 release

[2020-11-24 04:54] #98 closed

[2020-11-28 19:09] sayadzad commented on #97
@jonsamwell appreciate the fast reply and sorry for my late reply!

Sorry for the confusion, but what I meant was literally a tag expression being `not @skip`. This would ignore any tests with the tag `@skip`:

`..tagExpression = "not @skip"`

I believe the syntax allows for it, but I could be mistaken: https://cucumber.io/docs/cucumber/api/#ignoring-a-subset-of-scenarios. It definitely is an opti

[2020-11-28 21:22] jonsamwell commented on #97
@sayadzad this already works, are you able to do up a small example of this not working?

[2020-12-06 16:02] lucastien opened #100 "Could not run flutter driver on iOS simulator"
I was struggled with running flutter driver test with flutter_gherkin support on iOS simulator. The test was corrupted after running the command ``flutter drive --target=test_driver/app.dart`` . On Android, it run successfully.
![Screen Shot 2020-12-06 at 22 53 12](https://user-images.githubusercontent.com/5175237/101285244-b7432900-3816-11eb-9ab3-73184f85851b.png)

Could you please check my crash

[2020-12-06 20:28] jonsamwell commented on #100
@lucastien Looks like a problem with Flutter itself.  I suggest you file a bug with the Flutter team something is going wrong in the file `flutter_tools/src/ios/simulators.dart`.

It you use the latest stable channel do you still get the error?

I suggest you also upgate your POD file as per the build warning message.

Also you should be running flutter_gherkin using the dart command line rather t

[2020-12-06 20:28] #100 closed

[2020-12-09 21:09] elmickey opened #101 "Plan to add support to integration_test"
I don't know if the question has already been answered but is there any plan to support integration_test. For me it would help to write steps and help the execution time.
The last time, i tried to use gherkin with integration_test was the fact that gherkin needs to read the features files on disk which is incompatible with the way integration_test is working.

[2020-12-09 22:14] jonsamwell commented on #101
I don't have any experience with that package, what would be the benefit?

[2020-12-09 23:05] elmickey commented on #101
I may be wrong but it's the new recommended way to write integration tests https://flutter.dev/docs/testing/integration-tests . But for me the benefits are :

- same syntax as widget test
- can have access to the internal state of the app (would help to write tests which are right now impossible to write with fluttter driver)
- faster tests
- tests can run on firebase test labs

[2020-12-10 08:43] vrnvorona commented on #101
Second this, currently researching what that package does, but it may be solution for a lot of driver problems with same syntax as WT.

[2020-12-10 09:06] jonsamwell commented on #101
@vrnvorona please share your findings.  I will have to look into it as well but if it is the way the Flutter team suggest doing integration tests they will probably eventually deprecate the driver.  I won't have any time to look at this before the new year unfortunately. So if anyone want to do a proof of concept that would be awesome

[2020-12-16 22:53] bartonhammond opened #102 "The specified language version is too high"
1) Clone project
2) cd flutter_gherkin
3) `code .` (open VS Code)
4) `run debug` - iPhone simulator started
2) cd `/flutter_gherkin/example/test_driver`
3) `dart app_test.dart `

[code]

flutter doctor
[code]

[2020-12-16 23:11] jonsamwell commented on #102
@bartonhammond I can't replicate this on my windows box.  I'll jump on the mac in a bit and try it there.

I've seen this issue before in other projects when some dependencies have inadvertently got the null-safety version of some packages.

[2020-12-16 23:13] jonsamwell commented on #102
Are you able to paste the contents of the pubspec.lock file so I can compare it to mine in both the flutter_gherkin and the example folders?

[2020-12-16 23:20] bartonhammond commented on #102
`flutter_gherkin pubspec.lock`:
[code]
`example pubspec.lock`:
[code]

[2020-12-16 23:31] jonsamwell commented on #102
They are both identical to my versions on windows.  I'll try on the mac

[2020-12-17 15:48] bartonhammond commented on #102
I did `which dart` and it showed it was installed at `/usr/local/bin`. It wasn't running the correct `dart`!

So I did `brew uninstall dart`.  Then `which dart` showed `/Users/bartonhammond/tools/flutter/bin/dart` so then I ran `  /Users/bartonhammond/tools/flutter/bin/dart app_test.dart` and it ran perfectly!

So then I started a new terminal and was able to run `dart app_test.dart` successfully.

[2020-12-17 15:48] #102 closed

[2020-12-17 23:43] bartonhammond opened #103 "Timeout while executing waitFor"
Great project!

I am attaching to running ios Simulator.  `app_test.dart` has ` ..runningAppProtocolEndpointUri = 'http://127.0.0.1:64676/6_ew9UUqUPw=/'`

I am running feature
[code]
I VSCode, I run w/ launch.json
[code]

Log from VS Code:
[code]
I get this error:
[code]
![Screen Shot 2020-12-17 at 5 41 27 PM](https://user-images.githubusercontent.com/1282364/102556704-23335600-408f-11eb-8dbd-1294

[2020-12-17 23:58] bartonhammond opened #104 "Documentation about Step Timeout isn't clear"
From the documentation

I don't see a `Duration object  in the step's call to super`
[code]

[2020-12-18 00:16] bartonhammond commented on #103
[code]

[2020-12-18 00:19] jonsamwell commented on #103
@bartonhammond are you able to put a break point here https://github.com/jonsamwell/flutter_gherkin/blob/9ba831a695d2d75108212b2feab74d001c0dfa49/lib%2Fsrc%2Fflutter%2Fsteps%2Fgiven_i_open_the_drawer_step.dart#L24 to see what the timeout is set at?

[2020-12-18 00:21] jonsamwell commented on #104
Thanks, I switched to function based step syntax rather than class based so I must have missed this off the example.  There is an option third parameter which takes in a `StepDefinitionConfiguration` object which can define the timeout

[code]

[2020-12-18 00:24] bartonhammond commented on #103
@jonsamwell I don't know how.  How, from VS Code, can I find the package?

[2020-12-18 00:30] jonsamwell commented on #103
Are you using the example in the actual flutter_gherkin project or in your custom project?

If you are trying the example you can navigate to the file and put a break point it is here
`lib\src\flutter\steps\given_i_open_the_drawer_step.dart`

If you have a custom project where you are using flutter_gherkin do this:
1. File -> Open
2. `{YOUR_FLUTTER_DIRECTORY}/.pub-cache/hosted/pub.dartlang.org/flu

[2020-12-18 01:02] bartonhammond commented on #103
I'm using a custom project.
I set the breakpoint
I started the app with command : `flutter run -t lib/main_integration_test.dart  --verbose`
`main_integration_test.dart` is
[code]
saw this: ` [ +180 ms] Connecting to service protocol: http://127.0.0.1:52091/qYSiyLqpDVI=/`
updated ` ..runningAppProtocolEndpointUri = 'http://127.0.0.1:52091/qYSiyLqpDVI=/'`

in VSCode started target defined with:
[co

[2020-12-18 01:21] jonsamwell commented on #103
That error would indicate that the app under test is not running on the device or the protocol endpoint uri is not valid.

I only ever use the `runningAppProtocolEndpointUri` if I want to debug the actual app under test otherwise I just let flutter_gherkin spin up an app instance on the running emulator

[2020-12-18 01:47] bartonhammond commented on #103
My intention is to start the app  and run on iOS and leave it running
Then run the gherkin code so that I don't have to wait so long for the app to start.
Am I not approaching this in the correct manner?
It just seemed to me, that if I waited for `app_test` to start the mobile device, it was a great waste of time.  Any thing that would reduce that time was worth doing. Maybe I'm not doing this in

[2020-12-18 14:51] bartonhammond commented on #103
I got it to work. I can start the app once  and run the tests over and over by `attaching` rather than `launching`.
These steps work for me on MacOS

0) open terminal
1) Start the app: `flutter run -d 7D2E6D03-6416-4667-843D-39C739AFDBFE -t lib/main_integration_test.dart --verbose`
2) `main_integration_test.dart` - first 2 lines
[code]
3) open new terminal, cd into `test_driver`
4) copy  the http

[2020-12-18 14:51] #103 closed

[2020-12-18 15:11] bartonhammond commented on #103
@jonsamwell If you would like me to do a PR and update documentation w/ these directions, I'd be glad to.

[2020-12-18 20:47] bartonhammond opened #105 "Question: How can I click a position (x,y)?"
I have ImagePicker - how can I pick one of the images?

![Screen Shot 2020-12-18 at 2 45 50 PM](https://user-images.githubusercontent.com/1282364/102659887-c0e65e00-413f-11eb-9057-1b13043971c7.png)

[2020-12-18 21:36] bartonhammond commented on #105
I mocked it out...

[2020-12-18 21:36] #105 closed

[2020-12-18 21:48] jonsamwell commented on #105
@bartonhammond yes this is a known issue with the flutter driver as you are crossing the application boundary into the native device so need to somehow use native commands to picture the image (as you are no longer in the flutter app).  I have done something similar on Android pushing the flutter app to the background and bringing it back into focus to trigger a pin screen.

[code]

Although I am

[2020-12-18 21:49] jonsamwell commented on #103
@bartonhammond  yes please do that would be great!

[2020-12-18 22:14] bartonhammond opened #106 "How to get TextFormField with key GlobalKey"
My form has
` final _nameFormKey = GlobalKey<FormFieldState>();`
and later
` child: TextFormField(
                  key: _nameFormKey,
                  controller: nameFormFieldController,`

How can I find this element?

[2020-12-18 23:16] bartonhammond commented on #106
I added a tooltip:
[code]
then added Step:
[code]
And gherkin:
`And I enter "Test Name" into the field with "Email" tooltip`

[2020-12-19 18:31] bartonhammond commented on #106
When I try to validate the text w/in the TextFormField that has the GlobalKey I get this:
[code]
I get this error:
[code]

[2020-12-19 22:00] bartonhammond commented on #106
Credit: https://stackoverflow.com/questions/56079311/flutter-widget-test-find-bykey-does-not-work-if-widget-have-key-globalkeydebu

So I add a Key to the Container:
[code]
Now this gherkin works: `And I fill the "homeFormField" field with "Book Home City, State"`

But I had to add this step definition to test the content
[code]
Now this statement works: `And I expect the "homeFormField" textFormFi

[2020-12-19 22:00] #106 closed

[2020-12-20 00:15] jonsamwell commented on #106
Yes I usually just use the Key('name') rather than global keys with form fields

[code]

[2020-12-20 00:32] bartonhammond commented on #106
But I validate:
[code]

[2020-12-20 00:40] jonsamwell commented on #106
You can just set the form controls `autovalidateMode` to `AutovalidateMode.onUserInteraction`

[2020-12-21 14:17] psovit opened #108 "Driver Unable to connect with iOs Simulator"
My tests are working fine when running on device but trying to run the same tests on Apple iOs Simulator is throwing errors. Looks like the driver is not able to connect with the app on Simulator.

[code]

Any suggestions for this?

[2020-12-21 21:43] jonsamwell commented on #108
Looks more like a Flutter Driver error than this library.  I've seen this sort of error sometime on Android emulators but it is always very intermittent.  What iOS emulator are you running?  Can you provide the output `flutter doctor -v`.  Once thing to try would be to see if you can run a normal flutter driver test outside of this library against the emulator.

[2020-12-22 07:28] quan-codemetrics commented on #46
I have the same problem with @jsonConnor :) It would be great if you can help us with an example @jonsamwell. Thank you so much for your time.

[2020-12-22 08:26] jonsamwell commented on #46
@quan-codemetrics @jsonConnor I've update the comment above in regards to where to place those snippets of code https://github.com/jonsamwell/flutter_gherkin/issues/46#issuecomment-584462881

[2020-12-22 09:17] psovit commented on #108
I tried running integration tests and flutter_gherkin tests on a new project, both work fine on iOs simulator. But both not working for this particular project. Maybe something needs to be configured from XCode.

Here's the output of `flutter doctor -v`:

[code]

By the way, is this plugin supported on GitLab CI?

[2020-12-24 05:42] jonsamwell commented on #108
You are quite far behind on the flutter version, the latest stable release is v1.22.5.  I would upgrade as a first course of action here and try again.

I have never tired this plugin on GitLab CI so I cannot comment.

[2020-12-29 10:30] vrnvorona commented on #101
@jonsamwell We now need target and driver files, target has main() function with groups and tests. In each test we need to call main() of our app _without enabled extensions_ and not as pumpWidget(app) (otherwise all exceptions of app will break tests). All waits have to be done through pump/pumpAndSettle. All actions are as in WidgetTests.

### target
[code]

### driver
[code]

I can't really tel

[2020-12-29 22:10] jonsamwell commented on #101
@vrnvorona I have to investigate this to see if it is possible as I think the feature files will need to be assets on the device as at the moment this library is a parent process that invokes the flutter driver process so it is able to read the feature files off disk.  The actual swapping of the basic driver commands such as `driver.waitFor` -> `tester.pumpAndSettle()` isn't too bad, I will just p

[2021-01-04 07:15] jonsamwell commented on #101
I've had a quick look at this and it seems it may be quite hard as the test file is basically launched as the app (as the test file then invokes the app's main method).  Therefore, there would be no way for the gherkin lib to read the feature files off the disk.  My first though would be to do some sort of code generation which turns the feature files into a single file that can be used for testin

[2021-01-04 07:17] jonsamwell commented on #97
@sayadzad any update?

[2021-01-07 06:42] jonsamwell commented on #101
Hi All,

I have done a very rough first pass at using `integration_test`.  It would be great to get some feedback.  See this branch https://github.com/jonsamwell/flutter_gherkin/tree/integration_test__package_support

Look at the changelog for instruction on how to get started and some explanation of the approach.

https://github.com/jonsamwell/flutter_gherkin/blob/integration_test__package_suppor

[2021-01-08 17:12] clpo commented on #101
@jonsamwell I've had an opportunity to make use of you integration_test branch. Seems to work great locally but I haven't had a chance to send my app and tests to firebase yet, but can expect it to work. Logging seems fine as well. Nice work!
I'll be working more with this next week and i'll let you know if i experience any issues.

[2021-01-09 01:49] jonsamwell commented on #108
Closing for now as now response and this is working OK for me, feel free to reopen with anymore detail

[2021-01-09 01:49] #108 closed

[2021-01-09 01:51] jonsamwell commented on #101
@clpo many thanks for the feedback.  I'd be interested to see what happens when testing in firebase.  I need to get this setup too.  I think the biggest problem when testing on firebase will be the reports.  I am not sure how to save reports outside of the standard fluttter_test reporting.

On that point I have made the JsonReporter work today when running from flutter drive so update and have a g

[2021-01-09 01:55] jonsamwell commented on #97
Closing due to lack of response and it is working locally and when testing.  Feel free to reopen with more detail

[2021-01-09 01:55] #97 closed

[2021-01-11 11:34] clpo commented on #101
@jonsamwell i've had chance to run the tests through firebase test labs and it seems to be having issues initiating the tests. The app launches but there is no mention of the driver starting and no interaction is made with the app. I'm not certain if this is a configuration mistake on my part, but this issue does not occur locally. I looked through the logs provided by test labs but i cant pick an

[2021-01-11 12:45] vrnvorona commented on #101
@jonsamwell regarding reporting, what if we just generate additional steps for reporting purposes? Because approach sounds really different from what was with flutter_driver, I had this blunt stupid ides :)

I will refine my comment when I try your work a little bit

[2021-01-11 20:07] jonsamwell commented on #101
@clpo thanks for trying with firebase.   At that stage it is just a normal integration_test app but something might be happening with the way the reporters are doing stuff.  I'll try and get a simple test app running in firebase to see what is going on.

@vrnvorona yes, I originally had this idea too so each step would be a `test` but you cannot have any `test` calls within a `testWidget` block un

[2021-01-12 11:02] vrnvorona commented on #101
@jonsamwell If i understand correctly, we are still using driver exposed methods instead of WidgetTester? I have yet to successfully migrate my integration_test tests onto new flutter_gherkin since i have no idea how to use pump in it etc. I have quite a while of endless animations i need to skip, and waitForAppToSettle() doesn't work same way pumpAndSettle() does. Plus code is not reusable with W

[2021-01-12 11:09] jonsamwell commented on #101
No it is all using WidgetTester. I had to do an adapter so that the same
api could be used for the flutter driver implementations as the
WidgetTetser. Flutter driver is only used to actual start the test app.
Once the app is under test the appDriver property on the world object uses
WidgetTester.

The adapter api is still under flux so of you need something added to it
let me know.

See
https://gi

[2021-01-12 11:24] vrnvorona commented on #101
@jonsamwell Is it possible/viable to just expose WidgetTester through world/context? Or it is bad idea? For me the most appealing part of new package aside from access to better api (like keyboard event buttons) is code similarity with WidgetTests themselves, possibly allowing to write tests for E2E and Widgets faster than with two different approaches.

[2021-01-12 13:25] vrnvorona commented on #101
Btw while i was investigating, found little errors in changelog, here is PR https://github.com/jonsamwell/flutter_gherkin/pull/109 (for md file lmao but still) so others who use it won't have to debug.

[2021-01-12 19:58] jonsamwell commented on #101
@vrnvorona many thanks for the PR much appreciated! I'll get that merged in.

The `WidgetTester` is exposed via the world object, you can use `world.appDriver.rawDriver` however, this is not typed to `WidgetTester` so I'll see if I can type it.

Sorry for lack of documentation around this, once we have things working I'll focus on API documentation and updating the readme etc

[2021-01-12 20:51] vrnvorona commented on #101
So i can assume rawDriver as WidgetTester and work with it same way? Thanks, i cam to this conclusion too when checking adapter files, but didn't verify it yet mostly because had issues with app starting.

Many thanks again for quick work on adaptation.

[2021-01-12 21:09] jonsamwell commented on #101
Yes this is safe to assume, I will try and get a World with strongly typed adapter so intellisense will work on it

[2021-01-13 15:17] vrnvorona commented on #101
@jonsamwell I have this step with custom timeout (because 10 secs is not enough), but when i run step, i get null `config` and it uses default duration.
[code]
I checked `StepDefinitionGeneric` constructor and found that when steps are declared, they have config, but if i check `run` function they don't. In runStep(), because there they also all have null config, but i didn't yet narrow problem an

[2021-01-13 19:58] jonsamwell commented on #101
Thanks @vrnvorona I'll take a look at this today

[2021-01-14 08:18] vrnvorona commented on #101
Found that issue was not in that.

I have two declared step defs: "I wait {int} seconds" and "I wait {int} seconds with animation" (one is looping pump, other is puming with set timeout, then catches FlutterError so i can wait some time with infinite animation), and firstMatch method returns "I wait {int} seconds" instead of "I wait {int} seconds with animation" despite my feature file and generat

[2021-01-15 08:45] vrnvorona commented on #101
@jonsamwell btw, did you notice that tests now run from root folder or it's something with my setup? I tried to use json reporter and noticed that CWD is always '/' while tests are running.

[2021-01-15 09:33] jonsamwell commented on #101
@vrnvorona Yes I couldn't replicate your issue with the timeout so glad you fixed it.  I actually added a test in for that in the example (see https://github.com/jonsamwell/flutter_gherkin/blob/integration_test__package_support/example_with_integration_test/integration_test/gherkin/steps/when_await_animation.dart)

I am not sure what you mean about the CWD but any report that writes to a file will

[2021-01-15 09:34] jonsamwell commented on #101
I have this new branch running for a really complex suite of 100 test in a real life application now and it works really well and it is fast and more stable that the flutter_driver implementation.  There is still quite a bit of work to do updating the documentation but I think this is pretty much code complete now.

[2021-01-15 09:38] jonsamwell commented on #101
Also with the latest the `appDriver` property and `rawDriver` properties are now correctly typed to either `WidgetTester` or `FlutterDriver`.  If you use `WidgetTester` your world needs to extend `FlutterWidgetTesterWorld` (https://github.com/jonsamwell/flutter_gherkin/blob/integration_test__package_support/lib/src/flutter/world/flutter_widget_tester_world.dart#L9).

Scenarios are also correctly f

[2021-01-15 09:46] vrnvorona commented on #101
@jonsamwell Thanks for explanation on how reports work, I just couldn't find that report because I totally forgot about that path and was looking for usual `report.json` in root of project. Now I can find report.

As for `rawDriver` I will check latest commit, but so far I just did `final tester = context.world.appDriver.rawDriver as WidgetTester` and it worked.

So far we don't have a lot of test

[2021-01-15 10:09] vrnvorona commented on #95
Aren't steps already indifferent to a keyword? I have when stepdef with given in scenario and it's totally working.

[2021-01-15 10:43] vrnvorona commented on #101
As for WidgetTester again, i just change `when<FlutterWorld>` with `when<FlutterWidgetTesterWorld>` and it's good to go?

[2021-01-15 10:46] jonsamwell commented on #101
Yes that is correct

On Fri, Jan 15, 2021, 21:44 Vladislav Voronin <notifications@github.com>
wrote:

[2021-01-15 14:37] vrnvorona commented on #101
I am currently debugging report creating after failed tests, do you personally have any problems or your reports are created every time? So far I narrowed it down to tearDownAll not being called for some reason, will try with simpler app on monday to verify that it's not app problem (if it isn't). Just asking though, please don't spend much of your time on it.

[2021-01-18 09:41] jonsamwell commented on #101
Hi @vrnvorona you won't be able to use reported that save files to the file system as they actually run on the device now.  To get around this there is a new interface which indicates the result of a reporter can be serialised to json.  This is then sent back over the wire to the driver which is then saved on the host file system (i.e. your computer).  The JsonReporter already supports this see (h

[2021-01-18 11:27] vrnvorona commented on #101
@jonsamwell Yes, that i already understand, so far i use JsonReporter only. When I my tests fail, it won't save report, while if test passes it does generate file in the path which is set up in integration_test.dart.

To test this i used example app in integration_test folder of plugins repo. I created simple step, with `expect(2 + 2, equals(4));`. If expect is true, there is generated JSON. If i

[2021-01-18 14:46] vrnvorona commented on #101
@jonsamwell I found that `responseDataCallback` is not called if tests fail (https://github.com/flutter/plugins/blob/faa26ec364cd6d3c738d73526ea55a95b7f4ab1a/packages/integration_test/lib/integration_test_driver.dart#L82). Though `response.data` is null when they fail, so i still can't get report with info after failed tests.

[2021-01-19 11:20] vrnvorona commented on #101
For some reason `tearDownAll()` is called later than `responseDataCallback` if test fails, because of it `testRunner.reportData` is null. I will keep trying to debug it.

[2021-01-21 09:38] vrnvorona commented on #101
https://github.com/flutter/flutter/issues/74324
https://github.com/flutter/flutter/issues/74391
reported both issues i've encountered with reporting so far. Also preparing PR with new reporter, because current JSONreporter is not in cucumber format (and it is even saving in string with a lot of escaped quotes, which is no really a JSON).

[2021-01-21 09:47] jonsamwell commented on #101
@vrnvorona awesome thanks for reporting these.  Funny enough I was trying to solve all these issues today.  I got the reporting working but only if all tests pass.  We should add another bug (which really bugs me) is that if a single test fails it will stop the whole test run which is not really good behaviour.

Also please see my latest commit today (https://github.com/jonsamwell/flutter_gherkin/

[2021-01-21 10:00] vrnvorona commented on #101
@jonsamwell Thanks for your work. But i have issue with this line `final String resultString = _encodeJson(reportData, true);`, The function '_encodeJson' isn't defined (not a surprise, since it's function from integration_test_driver.dart, and it is private). 🤔

Am I doing something wrong?

[2021-01-21 10:07] jonsamwell commented on #101
@vrnvorona sorry I missed that bit, the above code has been updated

[2021-01-21 13:14] vrnvorona commented on #101
@jonsamwell Hm, i tried code above and new commit and when it fails it won't create file (well, not a surprise because responseDataCallback is not called when tests fail, and if it is called then it's still null and i get exception:
[code]

[2021-01-22 08:46] ervuks opened #111 "Multiline strings to support YAML format"
I have a use case where I would like to pass YAML in a multiline string and it would be converted to JSON (YAML is used for simplicity to write it).
Example:
[code]
After multiline has been read, YAML is modified and the output now looks like this and from here it can't be correctly read with Dart:
[code]

Point of code to check:
https://github.com/jonsamwell/dart_gherkin/blob/45acf80426e94a4eb39f

[2021-01-22 09:57] jonsamwell commented on #111
Yes this is an interesting one, I trim it get rid of the formatting spaces most IDE's add when formatting multiline strings in feature files.  Do you know how this is handled in other gherkin implementations.  I am not sure how you would specify to not trim the string? I will have a think about this.

[2021-01-22 10:28] ervuks commented on #111
In gherkin-java implementation, the closest I could find is https://github.com/cucumber/gherkin-java/blob/f8bb798cba46730877e45525d7f5433f5d47b461/src/main/java/io/cucumber/gherkin/GherkinLine.java#L43

And it follows rule from https://github.github.com/gfm/#info-string
Quote from the link above:
[code]

[2021-01-22 10:44] jonsamwell commented on #111
Yes that logic makes sense which would make the yaml still work I believe
if the number of leading spaces on the first line were removed from each
line.

I'll get that logic implemented

Thanks for you investigation!

On Fri, Jan 22, 2021, 21:29 Ervīns Patmalnieks <notifications@github.com>
wrote:

[2021-02-03 14:47] vrnvorona commented on #101
Btw, do we support/possible to do nested steps?
Ruby has it like this:
[code]

[2021-02-03 15:27] Drrrybi opened #112 "Is it possible to select a scenario by condition?"
Is it possible to specify the " if " condition to run a specific feature scenario?
For example:

Future<void> executeStep() async {
    final SerializableFinder locator = find.byValueKey('Home_screen');
    await FlutterDriverUtils.isPresent(world.driver, locator);
  }

If (home_screen isPresent) you are logged in to the app - run 2_scenario.feature
(in this case, the scenarios are run when the us

[2021-02-03 22:28] jonsamwell commented on #112
I think this goes against the fundamental concept that a test should not rely on any state and be atomic.

When I have a test that needs say the use to be logged in I add background steps to log the user in before the test is performed.

[2021-02-03 22:28] jonsamwell commented on #101
@vrnvorona I've got no plans to implement this but PR's are welcome

[2021-02-03 22:58] Drrrybi commented on #112
Thank you 👍

[2021-02-03 22:58] #112 closed

[2021-02-03 23:04] jonsamwell commented on #112
If you migrate to the integration_test way of doing things you could put your app in the state you want before the test is run see
https://github.com/jonsamwell/flutter_gherkin/issues/101 and the branch https://github.com/jonsamwell/flutter_gherkin/tree/integration_test__package_support

I'll be making this the standard way to do tests in the lib in the coming month

[2021-02-10 01:29] LSG-6 opened #113 "Step function for dragging"
With given2 method, we can write a step function for clicking a button for n times, but how can I write a step function for dragging in a specific direction on the gestrueDectector?

[2021-02-10 06:54] vrnvorona commented on #101
Also regarding issue with reports being created: what if we try cucumber messages approach and send it all to stdout and redirect it to ndjson file, for later parsing? Not exactly asking to do it, just thinking of approaches. Also could help with, for example, attachments for reports.

[2021-02-10 07:27] jonsamwell commented on #101
@vrnvorona that is basically what is happening now

[2021-02-10 07:44] vrnvorona commented on #101
Is it? AFAIK, currently we edit binding data for integration_test to use it to generate file later, stdout is just short messages with info for console view, while it's possibly plausible to use stdout optionally as reporter, collect all messages in NDJSON file and use external json-reporter without any reliance on integration_test to create file.

The issue though is to basically silence both app

[2021-02-10 11:29] zynhrus opened #114 "Is it possible to use flutter_gherkin for testing flutter web?"
Hi @jonsamwell thank you so much for create this plugin, It's really helping me a lot to testing the app
But is it possible to test the flutter web with this flutter_gherkin. I have tried to run it but it's failed and always got this error message
`More than one device connected; please specify a device with the '-d <deviceId>' flag, or use '-d all' to act on all devices.`
I already add '-d <devic

[2021-02-10 20:52] jonsamwell commented on #114
Hi @zynhrus

Once the migration to using the integration_test package and subsequently using `WidgetTester` instead of flutter driver is complete the web will be fully supported.

The migration is pretty much working and I am using it successfully on two huge apps and it is working well, more reliable and quicker.  Feel free to take a look as the code is pretty stable.  I just need to find time to

[2021-02-10 20:54] jonsamwell commented on #113
You would just do this the normal way you would do it with the flutter driver apis.

Note this is easier using the new `WidgetTester` as it has a drag method.

Once the migration to using the integration_test package and subsequently using WidgetTester instead of flutter driver is complete the drag operation will be easier

The migration is pretty much working and I am using it successfully on two

[2021-02-10 20:54] #113 closed

[2021-02-11 10:31] jonsamwell commented on #101
@vrnvorona what is NDJSON.  The trouble is this all executes on the phone .  Currently the app is sending back some json which is saved to disk just as you said.  I would be hesitant to pollute the stdout.  The JSONReporter is working the way it is currently implemented which is basically doing what you said (apart from writing to stdout).

[2021-02-11 11:10] vrnvorona commented on #101
Well ruby-cucumber doesn't hesitate to pollute stdout for some reason

You just collect with > into file and then parse it.

[2021-02-11 11:13] jonsamwell commented on #101
Sorry I've got no experience with that. Feel free to put together a pr and
we can go from there 🙂

On Thu, Feb 11, 2021, 22:10 Vladislav Voronin <notifications@github.com>
wrote:

[2021-02-11 14:19] Moyubori opened #115 "Support Gherkin Feature/Scenario descriptions"
Hi! I've been using this package to run and generate reports for my gherkin tests. I noticed that the description lines are either ignored (feature description) or treated as a syntax error (scenario description) by `flutter_gherkin`. I'm using `JsonReporter` to generate test report json files, that I then convert to HTML reports, but it seems that the `description` fields in `JsonFeature` and `Js

[2021-02-11 20:03] jonsamwell commented on #115
Yes agree it should support the descriptions, are you able to provide a sample test where the test description raises a syntax error and I will fix that and get the JSON reports working as per spec.

[2021-02-12 06:54] Moyubori commented on #115
Thanks for a quick reply. Here's a simple gherkin I used to reproduce the problem:

[code]

And runner config I use:

[code]

Running that produces following error:
[code]

When I remove the description under the scenario name, It runs fine.

[2021-02-12 06:56] jonsamwell commented on #115
Thanks, I'll take a look at this weekend 👍

[2021-02-12 06:58] jonsamwell commented on #66
This will be supported soon when the support to integration_test package arrives shortly

[2021-02-12 07:12] phamnhuvu-dev commented on #66
@jonsamwell.
It is ok guy. I am combining your gherkin package and flutter driver and it is working well on Android, iOS and Web for integration test.
I am also testing the integration_test package, then apply it for our project.

And Happy Lunar New Year.

[2021-02-12 07:14] jonsamwell commented on #66
Ah great I'm glad your testing the new integration_test migration of this project.  Let me know how if goes and if you have any thoughts.  I've got it successfully working with two very large apps and it is working well.

Happy Lunar New Year too!

[2021-02-16 21:17] Drrrybi opened #116 "The order of features does not work on the Mac os"
In the app_test.dart file, I specified the order ..order = ExecutionOrder.sequential
On computers with windows, everything starts in the correct order.
On computers with Mac OS, the features files run in a strange order, according to my observations, the order by file modification date.
The code was run the same everywhere, from the same branch.
[code]

[2021-02-16 21:20] jonsamwell commented on #116
This is order, all it does if you specify the random order is shuffle the array (https://github.com/jonsamwell/dart_gherkin/blob/master/lib/src/test_runner.dart#L71) of tests otherwise it just executed them in the order it finds them on disk.

So I guess the order if finds the feature files based on the globs that you provide is more randomised on a mac https://github.com/jonsamwell/dart_gherkin/b

[2021-02-16 21:26] Drrrybi opened #117 "How can I press Enter on the system keyboard?"
In the application to which I am writing the test. The search starts after pressing enter on the keyboard. Please tell me how this can be implemented?
![photo_2021-02-17_03-23-24](https://user-images.githubusercontent.com/49107326/108123159-a42ebe00-70cf-11eb-8677-2510aedcf2b9.jpg)

The search is launched only through the system keyboard

[2021-02-16 21:28] jonsamwell commented on #117
Sorry this is not a place for implementation help on tests, I suggest you use StackOverflow for that.

However, can you just not send a enter character?

[2021-02-16 21:28] #117 closed

[2021-02-20 14:41] Drrrybi commented on #116
Mac os logs
[code]

[2021-02-20 14:41] Drrrybi commented on #116
Windows logs

[code]

[2021-02-20 14:44] Drrrybi commented on #116
I can't figure out why Windows opens everything in order from 1 to 7.
Mac os opens in its own order. I tried to change the date of saving files, etc. , did not find a solution

[2021-02-21 18:26] zynhrus commented on #114
Hi @jonsamwell

I have tried the branch that you mention above, I can successfully run the automated test with Flutter_gherkin in the Flutter Web. But the problem is I can't generate a report from this test? Am I doing something wrong or is it a bug from this branch?

I try to do this
`JsonReporter(
      path: './integration_response_data.json',
      writeReport: (_, __) => Future<void>.value(),

[2021-02-21 21:19] jonsamwell commented on #114
@zynhrus looks like you are using an old version of the branch try this one

[code]

Note that when the test run fails no report will be generated.  There is an open bug with the Flutter team for this.  We can work around it by writing out own runner but trying to avoid that for now

[2021-02-24 13:18] zynhrus commented on #114
Hi @jonsamwell Thanks I already can run and generate the report file, but I still kinda confused with where and how to write the integration test. I already see the example file, but I can't see where is the function of each step.

for example this step: `'When I tap the "add" button'`

But I can't find the function of that steps, something like this
[code]

Do you have any idea or have any docume

[2021-02-24 19:21] ozayolkan opened #118 "Preconditions error when using the scenario outline"
Hi

I'm trying to use scenario outline feature, but getting this error when running the tests:

[code]

Here is my feature file:
[code]

I think somewhere scenario name is generated automatically and it's using spaces & brackets and those don't seem to be allowed. Do you know how can I fix this issue?

Thanks in advance.

[2021-02-25 10:09] jonsamwell commented on #118
Could you add the output from `flutter doctor -v` thanks

[2021-02-25 10:10] jonsamwell commented on #118
Could you try switching to the `code_gen_changes` branch and see that that works.  I have a lot of changes pending

[code]

[2021-02-25 10:15] ozayolkan commented on #118
Hmm, we are using `flutter_gherkin`, not `dart_gherkin`. I am checking with the latest version of `flutter_gherkin` now.

Here is `flutter doctor -v` output
[code]

[2021-02-25 10:21] jonsamwell commented on #114
Yes there is full documentation in the readme file?  Some step are predefined such as 'When I tap the "xxxx" button' (see https://github.com/jonsamwell/flutter_gherkin/blob/integration_test__package_support/lib/src/flutter/steps/when_tap_widget_step.dart)

[2021-02-25 10:21] jonsamwell commented on #118
Ah sorry flutter_gherkin uses dart_gherkin under the hood.  That new branch probably won't work then as there has been lots of changes.  If you are just starting out using this lib it is probably better to use the branch with upcoming changes in that enables the use of `WidgetTester` see https://github.com/jonsamwell/flutter_gherkin/issues/101#issuecomment-755920726.

Would you try the test again

[2021-02-25 15:56] zynhrus commented on #114
The readme file still uses flutter_driver (https://github.com/jonsamwell/flutter_gherkin/blob/integration_test__package_support/README.md)?

I can't find the full documentation that uses integration_test, could you share the right readme file URL, please?

Thank you so much for helping me till now, so sorry if I bother you with many questions :sweat_smile:

And I have one more question.  I already

[2021-02-25 17:32] bartonhammond commented on #116
Any update on this?  I need to run in specific order because of Permissions.

[2021-02-25 19:52] Drrrybi commented on #116
@bartonhammond  At the moment, I have not found a solution

[2021-02-25 20:10] bartonhammond commented on #116
Couple of ways I thought of.

I would be happy if I could order the features by the `Feature.name` or the `file` name.

0) Feature name:
change
`for (var entity in glob.listSync()) {`
to
[code]

1)File name: Takeout the Glob and just pass in an comma separated list of Feature files in the order preferred:
`
..features = 'one.feature, two.feature,three.feature'
for (var feature in features.split(',

[2021-02-25 20:20] Drrrybi commented on #116
@bartonhammond Thank you

[2021-02-25 20:26] jonsamwell commented on #116
@Drrrybi I guess this is just the way the macos accesses files and just doesn't guarantee the order.  With the pending update to use integration_test and `WidgetTester` (see https://github.com/jonsamwell/flutter_gherkin/issues/101#issuecomment-755920726) all tests are pre-generated and will be in order so I don't think there is any point spending time on this ordering issue at the moment.  I would

[2021-02-25 20:28] jonsamwell commented on #116
Actually @bartonhammond @Drrrybi we could add another options to the `ExecutionOrder` enum (https://github.com/jonsamwell/dart_gherkin/blob/master/lib/src/configuration.dart#L15) to have this order by name option

[2021-02-25 23:54] bartonhammond commented on #116
If you haven't already done this, I can do a PR.

[2021-02-25 23:57] jonsamwell commented on #116
Please do, many thanks

[2021-02-26 10:49] ozayolkan commented on #118
This was an issue on our end. Sorry for the trouble.

[2021-02-26 10:49] #118 closed

[2021-02-26 14:23] bartonhammond commented on #27
In case someone else finds this....
I did the following.  I wrote a script that uninstalls the app (thus resetting all the permissions) and then grants all permissions.  My tests run on iOS and do not deal w/ permission prompts
[code]

[2021-02-26 15:01] bartonhammond commented on #27
Now that we can run the Features by sorted filename (`..order = ExecutionOrder.sorted`), I put the tests that encounter Permissions at the beginning and I manually OK them by using `And I pause for 10 seconds`.  I start the server with the following script so that I know the first time through the Permissions will pop up due to the `uninstall`.  It's brute force but it works for me.
[code]

[2021-03-05 11:15] harrytran998 opened #120 "[Feature Request] Force end 1 step in a scenario"
In my case, I want to force a step on my scenario. Because my widget has a Timer countdown, and the scenario must wait for the timer to end up --> run the next scenario! Thanks, you <3.

Here it's the log message when waiting for the timer to end up.
[code]

![image](https://user-images.githubusercontent.com/24296018/110108395-b8b4cb00-7dde-11eb-8afd-1b459a9cc12f.png)

[2021-03-09 13:07] azcama opened #121 "Migrating to null safety?"
Hi @jonsamwell, thanks for sharing this library.
I would like to ask you if you have considered the migration to null safety with the new Flutter 2. It would be great to have this library updated in order to use it in some web Flutter projects.
In case of a positive answer, I really appreciate if you can give us an approximate date of release. I'm examining this library as a great candidate for my

[2021-03-09 20:23] jonsamwell commented on #121
It'll probably be in the next few months.  I am working on the converting the base gherkin library to null safety and this library to use `WidgetTester` instead of the now deprecated flutter driver.  There just isn't enough hours in the day.  Feel free to contribute a PR.

[2021-03-22 21:33] thanh-vo-opun-ai commented on #121
Hi @jonsamwell ,
How about progress of migrating this library to null safety?

[2021-03-24 04:53] steadycoding commented on #121
@jonsamwell I'm interested in contributing a PR to migrate flutter_gherkin to null safety. Have you started on this task?

[2021-04-01 16:19] Drrrybi commented on #117
@jonsamwell https://stackoverflow.com/questions/66825911/how-can-i-press-enter-on-the-system-keyboard-using-flutter-gherkin

[2021-04-07 16:10] rmargolinross opened #124 "Update dependency on glob to 2.0 or higher"
I am using this package as well as injectable_generator. There is a dependency conflict due to both of them referencing glob, but this packages references an older version. ^1.1.7.

This work may be done eventually when you convert the package to use null safety, but it might be nice to get this step done earlier.

[2021-04-11 07:59] jonsamwell commented on #124
@rmargolinross thank for this, you are correct as part of the null-safety migration this will be updated.  Hoping to get that done next week.

[2021-04-11 08:00] jonsamwell commented on #121
Hoping to get this package migrated to null safety and publish the branch using the `integration_test` package next week,

[2021-04-11 08:01] jonsamwell commented on #101
Aiming to get this publish next week

[2021-04-28 06:48] SomeCodingUser commented on #121
@jonsamwell Any way to help you migrating to null safety?

[2021-04-29 06:58] juanagu commented on #101
News?

[2021-04-29 06:59] jonsamwell commented on #101
Sorry, I am push this intergration_test package and the null-safety stuff to master and publishing by the end of this weekend

[2021-05-05 04:14] jonsamwell commented on #124
The dependencies on Glob can been removed in the latest release

[2021-05-05 04:14] #124 closed

[2021-05-05 04:16] jonsamwell commented on #116
The option to sort alphabetically has been added to the latest release so this will ensure the correct order regardless of platform

[2021-05-05 04:16] #116 closed

[2021-05-05 04:18] jonsamwell commented on #120
I'm not sure what you want here?  Could you provide a better example and some code of what you are trying to achieve

[2021-05-06 07:58] nupis-JanH commented on #101
@jonsamwell Do you have any news?

[2021-05-06 09:12] vrnvorona commented on #101
Meanwhile i will ask if anyone had tried to make restart app step with integration_test. I am yet to dive into it so maybe someone already got it working?

[2021-05-08 09:59] harrytran998 commented on #120
Sorry about this issue, actually this relative to the timer problem. I fixed!

[2021-05-08 09:59] #120 closed

[2021-05-25 06:08] jonsamwell commented on #121
Finally migrated!

[2021-05-25 06:08] #121 closed

[2021-05-26 15:41] vrnvorona opened #128 "All scenarios end up in latest feature in report"
Today i noticed that in my reports all scenarios are not separated by feature files, and are instead all bunched in latest one.

For me this happens because auto generated file's gherkin_suite_test.g.dart function onRun() is executed as if parallel:

[code]

All those prints will be instant before first scenario is running. This behaviour is constant until i hit testWidgets part of code, then thin

[2021-05-26 15:57] vrnvorona commented on #128
https://codebeautify.org/jsonviewer/cbc82ecf example report with such behaviour. Ironically that last feature file is empty

[2021-05-27 03:59] jonsamwell commented on #128
@vrnvorona thanks for reporting this.  Yes it has to run syncronisly first to register all the `test` steps although the report should still be correct.  I'll take a look.

What version are you using the lastest 3-rc1?

[2021-05-27 07:52] vrnvorona commented on #128
@jonsamwell 1.2.0 flutter_gherkin and 1.1.10 dart_gherkin. At least judging by pubspec.lock

[2021-05-27 08:02] jonsamwell commented on #128
Could you upgrade to the latest (https://pub.dev/packages/flutter_gherkin/versions/3.0.0-rc.1) as you are using the new integration_test way of doing things and see if you still get this error.

[2021-05-27 08:07] vrnvorona commented on #128
I will try with sample app or something, since our project is not yet on Flutter 2 sadly.

[2021-05-27 08:14] jonsamwell commented on #128
Ah no worries.  I don't blame you not upgrading to Flutter 2 yet.  I have been migrating a medium sized app all week to Flutter 2 and null-safety it is a HUGE pain

[2021-06-04 19:24] esDotDev opened #129 "Is it possible to inspect the state of the app?"
We would like to somehow read the state of the application to verify it's behavior. For example, checking the current `userModel.session != null` after logging in.

Is this possible?

[2021-06-04 19:51] esDotDev opened #130 "Unable to specify device when running tests"
Getting an error when running `>dart test_driver/app_test.dart`
[code]

Specifying device `dart test_driver/app_test.dart -d windows` does not work.

[2021-06-04 19:52] esDotDev commented on #130
Found it, you need to set `..targetDeviceId = "windows"` on the `FlutterTestConfiguration`

[2021-06-04 19:52] #130 closed

[2021-06-07 10:08] jonsamwell commented on #129
@esDotDev sorry for the delayed reply here.

In short yes although it isn't the easiest with flutter_driver (I assume in part why the Flutter team now reccommend using WidgetTester).

Basically you need to start a debugging session in your app (with the enableDriver extension method invoked) then you can tell the tests to run against that running instance of the app rather than an instance it star

[2021-06-07 10:08] #129 closed

[2021-06-07 10:08] jonsamwell commented on #101
All see the new relesase https://pub.dev/packages/flutter_gherkin/versions/3.0.0-rc.1 .  I need to do the documentation but the code is working very well.  Feedback welcome

[2021-06-07 10:09] jonsamwell commented on #114
It is now see the new relesase https://pub.dev/packages/flutter_gherkin/versions/3.0.0-rc.1 .  I need to do the documentation but the code is working very well.  Feedback welcome

[2021-06-07 10:09] jonsamwell commented on #66
All see the new relesase https://pub.dev/packages/flutter_gherkin/versions/3.0.0-rc.1 .  I need to do the documentation but the code is working very well.  Feedback welcome

[2021-06-08 01:53] cpunion opened #131 "[3.0.0-rc.1] Exception: Unknown runnable child given to FeatureFile 'TextLineRunnable'"
Need more details for parsing exception.

[code]

[2021-06-08 01:58] jonsamwell commented on #131
@cpunion are you able to provide the feature file that is causing this issue?

[2021-06-08 03:12] cpunion commented on #131
@jonsamwell Just created a repo to reproduce this problem: https://github.com/cpunion/gherkin_test

[2021-06-08 03:17] jonsamwell commented on #131
@cpunion thanks for this.  On first glance I don't think the '*' is supported (in the english version) https://github.com/cpunion/gherkin_test/blob/master/integration_test/features/test.feature#L4

[2021-06-08 07:38] cpunion commented on #131
@jonsamwell Thanks, I fixed it, and then it works.

I found a few problems:
1. Every time I changed the feature file, I must change `gherkin_suite_test.dart` too, otherwise it doesn't generate the new `gherkin_suite_test.g.dart` file.
2. It stopped all when a case failed.

[2021-06-08 10:52] jonsamwell commented on #131
@cpunion what was the fix for the original issue?

Regarding those points:

1) You can run this command so the pub builder doesn't use the cache when rebuilding

[code]

2) Stopping the test run when a single test fails is a current limitation with the way the flutter team has implemented the integration_test library.  I agree it is really frustrating!  Acutally it looks like they are push a fix f

[2021-06-08 11:15] cpunion commented on #131
I just replaced '*' with 'Given/And/Then' :-)

Thanks.

[2021-06-11 13:31] BauerLoser opened #132 "Test Execution Internal Late Error after upgrade to 3.0.0.rc.1"
We used the integration test Plugin for Flutter and setup and run succesfully a TestSuite and Steps. After Upgrade to Flutter 2 and the Flutter gherkin 3.0.0.rc.1 our Test Results in the following Error:

[code]

We had to remove the following import:
`import 'package:flutter_gherkin/flutter_gherkin_integration_test.dart';` because it could not be resolved anymore.
Is there anything else we should

[2021-06-15 11:50] Gayatri-N opened #133 "Fails to update to 3.0.0-rc.1"
Hello,

I am trying to add `flutter_gherkin: ^3.0.0-rc.1` with `integration_test: ^1.0.2+3`
however `flutter pub get` gives below error:

[code]

When I try to add it using the command `flutter pub add flutter_gherkin`, it adds a version 2.0.0 successfully.
I am not able to figure out what is wrong here.
Can anyone help me to solve this issue, or guide the correct path?

Thank you!

[2021-06-20 22:38] jonsamwell commented on #133
Could you post your pubspec.yaml.  There is no specific version requirement on `integration_test` I think you might be adding it wrong in your pubspec.yaml you shouldn't need to specify a version number as it is now part of the sdk?

[2021-06-20 22:43] jonsamwell commented on #132
Sorry for the delay in replying I was on holiday last week.  I'll get this late init error sorted and published.

[2021-06-20 22:52] jonsamwell commented on #132
Fixed in https://pub.dev/packages/flutter_gherkin/versions/3.0.0-rc.2

[2021-06-20 22:52] #132 closed

[2021-07-02 07:39] fadhlimaulidri opened #134 "Error: 'Table' isn't a type. data table"
[code]

[code]

when run displayed like below
[code]

[2021-07-02 07:43] jonsamwell commented on #134
Table has changed to GherkinTable in the latest releases

[2021-07-02 07:43] #134 closed

[2021-07-02 08:37] fadhlimaulidri commented on #134
i am try change like below
[code]
and get error
[code]

[2021-07-02 08:39] fadhlimaulidri commented on #134
do you mean latest version is 2.0.0 @jonsamwell ?

[2021-07-02 17:07] JessWeston opened #135 "flutter_gherkin_integration_test.dart not found in 3.0.0-rc.2 package"
I am trying to experiment with flutter_gherkin for integration test in flutter_gherkin 3.0.0-rc2 pre-release. The Readme.md suggests I should import the `package:flutter_gherkin/flutter_gherkin_integration_test.dart`, but in my gherkin_test_suite.dart file this is not found.

My pubspec.yaml contains the following:
[code]

Its seems my environment has flutter_gherkin-2.0.0 as well, though this is

[2021-07-02 20:53] jonsamwell commented on #134
@fadhlimaulidri it looks like your feature file `/Users/fadhlimaulidri/workspace/bukalapak_seller_apps/test_driver/features/example.feature`

is not well formed could you paste the contents here so I can see what is wrong.

Yes in v2 Table changed to GherkinTable

[2021-07-02 21:12] jonsamwell commented on #135
@JessWeston sorry I need to find time to update the documentation.  Glad you are trying it out as it is the way to go!

These are the imports you need now

[code]

[2021-07-02 21:12] jonsamwell commented on #135
Also are you sure `pub get` ran successfully if you still have `flutter_gherkin-2.0.0` in your pubspec.lock file?

[2021-07-06 06:28] fadhlimaulidri commented on #134
i have try again. this is my gherkin code
[code]

finally that work, i dont have idea why error before. thanks you @jonsamwell . but i have get issue after that, maybe i create at new issue

[2021-07-06 06:31] jonsamwell commented on #134
Yes create a new issue it you think something is not working

[2021-07-06 09:51] JessWeston commented on #135
@jonsamwell thanks for confirming the imports. I just checked my pubspec.lock file and I have only flutter_gherkin 3.0.0-rc2 and gherkin 2.0.4 so I think that's all good. Everything compiles now I just need to fill in the code in the runSteps. Thanks again!

[2021-07-06 09:51] #135 closed

[2021-07-06 15:19] fadhlimaulidri opened #136 "Datatable to JSON"
i have table like below
[code]
can i get JSON like below?
[code]

my question reference from https://github.com/cucumber/common/tree/main/datatable

i use cucumber in ruby too. when i have datatable like a define before, i can get json easy use
[code]
and then we can get the output like JSON as before

[2021-07-06 23:29] jonsamwell commented on #136
@fadhlimaulidri you can use `dataTable.asMap()` which gives back a `Map<String, dynamic>` then you can use `json.encode` if yo require.  Please see the docs on the table https://github.com/jonsamwell/flutter_gherkin#data-tables

[2021-07-06 23:29] #136 closed

[2021-07-06 23:30] jonsamwell commented on #133
Closing due to no response.  Feel free to reopen if you are still encountering this issue

[2021-07-06 23:30] #133 closed

[2021-07-07 04:14] fadhlimaulidri commented on #136
i have try use like that
[code]
i have get output `data` like below
[code]

[2021-07-08 09:49] zaralockheart opened #137 "Scenario with same matcher will run the first match."
Hi, thanks for making it available for integration_test.

gherkin version that I am using:
[code]

 I know that this is expected `gherkin_integration_test_runner.dart`
[code]

but I have scenarios like `I expect to view Dashboard` and `I expect to view Dashboard with action` and when I am expecting it to run `I expect to view Dashboard with action`, it run `I expect to view Dashboard`.

[2021-07-08 11:20] jonsamwell commented on #137
@zaralockheart you can upgrade to this (https://pub.dev/packages/flutter_gherkin/versions/3.0.0-rc.2) version now as I think that commit is behind somewhat.

It you put your step definitions with the most specificity first in teh `stepDefinition` collection it should get picked up first.

[code]

Or you could make the step a little more specific using regex in the pattern parameter of the step def

[2021-07-10 06:24] fadhlimaulidri commented on #136
@jonsamwell have you try yet?

[2021-07-10 07:26] jonsamwell commented on #136
@fadhlimaulidri the tests work as expected see

https://github.com/jonsamwell/dart_gherkin/blob/master/test/gherkin/runnables/table_test.dart#L196

See the actual code also

[2021-07-12 08:58] Nut41tank opened #138 "run dart app_test.dart but test not run"
### try to run test but look like it not run
**flutter_gherkin** version 2.0

Hello, I follow your documentation and try to set up my own test
but When I run it got
[code]
### **this is my set up**

**config - app_test.dart**

![image](https://user-images.githubusercontent.com/26061580/125259388-74f04600-e329-11eb-8549-bf9d551c222d.png)

**steps**

![image](https://user-images.githubusercontent.co

[2021-07-12 20:26] Boomspip opened #139 "VMServiceFlutterDriver It is taking an unusually long time to connect to the VM..."
i was running flutter_gherkin example file with "dart app_test.dart" command as in readme file, and i got this message "VMServiceFlutterDriver It is taking an unusually long time to connect to the VM...". i wait for an hour but nothing happened. pls help.

[2021-07-12 20:27] Boomspip commented on #139
Doctor summary (to see all details, run flutter doctor -v):
[√] Flutter (Channel stable, 2.2.3, on Microsoft Windows [Version 10.0.19042.1052], locale en-US)
[√] Android toolchain - develop for Android devices (Android SDK version 30.0.3)
[√] Chrome - develop for the web
[√] Android Studio (version 4.1.0)
[√] VS Code (version 1.58.0)
[√] Connected device (3 available)

[2021-07-13 09:02] jonsamwell commented on #139
I've seen this before (https://github.com/flutter/flutter/issues/50898) but never had a solution.  It has always been intermittent and not related to this library.  Try searching stackoverflow for some possible solutions.

You could try using an x86 version of the Android emulator

Sorry I could not be of more help

[2021-07-13 09:02] #139 closed