[2021-07-13 09:02] jonsamwell commented on #138
You could try modifiying the `features` regex so that is matches the path to your feature files

[2021-07-13 09:47] Nut41tank commented on #138
OK thank you, resolve this problem by changing from `Regex` to `Glob`

[2021-07-13 09:47] #138 closed

[2021-07-13 09:53] Nut41tank opened #140 "Run test but got missing provider"
**flutter_gherkin** version 2.0

Hello, I try to run but got this issue related to provider package. Do I need to include specific provider for test with _flutter_gherkin_

![image](https://user-images.githubusercontent.com/26061580/125431446-f28e5f3d-cc68-404f-989e-713fd80cdec1.png)

Thank you

[2021-07-13 09:53] jonsamwell commented on #138
Great!

[2021-07-13 09:55] jonsamwell commented on #140
No the v2 package will not affect you application in anyway.  This must be a problem with your application I would imagine

[2021-07-13 10:00] Nut41tank commented on #140
I see but  when I run main.dart. it work just fine as expected
not sure which part should look into first ?

[2021-07-13 10:07] jonsamwell commented on #140
Are you calling `enableFlutterDriverExtension();` before `runApp()`?

[2021-07-13 10:13] Nut41tank commented on #140
![image](https://user-images.githubusercontent.com/26061580/125434725-1ff6fd4f-0fb3-4a22-9bf6-c9d0967361c3.png)
already

[2021-07-13 10:15] jonsamwell commented on #140
Does it work if you just run main without running flutter_gherkin?

[2021-07-13 10:16] Nut41tank commented on #140
Yes it work but when run with dart app_test.dart it show error on above

[2021-07-13 10:17] jonsamwell commented on #140
To be honest if you are just starting out with this I would use the V3 package which uses intergration_test as it recommended way of doing it now and I'll soon be push that version as the default way to do things.

https://pub.dev/packages/flutter_gherkin/versions/3.0.0-rc.2

It'll give you a better idea of what is going on

[2021-07-13 10:20] jonsamwell commented on #140
Great.  If you are still having trouble with V2 if you could produce a sample app with the problem I can see what is going on

[2021-07-16 15:47] Stephane99 opened #141 "How to generate the html report with the pre-release 3.0.0-rc2 ?"
Hi,
I managed to use **simple_cucumber_html_reporter** and **multiple_cucumber_html_reporter** with **Flutter driver** and **flutter_gherkin** a few months ago.
Now I have switched to **integration_test** with **fluter_gherkin 3.0.0.-rc2**.

### simple_cucumber_html_reporter / multiple_cucumber_html_reporter
Firstly, when I try to generate the gherkin report with the simple or multiple reporter, I

[2021-07-16 22:46] jonsamwell commented on #141
I think this related to #128

I take a look this weekend.  Thanks for reporting

[2021-07-20 13:26] Stephane99 opened #142 "Can not generate the suite part file for a feature with many rules"
Hi,
I encounter a problem when trying to generate the suite part file "foo_bar.g.dart" with **build_runner** for a feature containing:
- 2 "Rule" keywords
- or 1 "Rule" keyword with scenarios outside of "Rule" tree.

I think this is low priority because we can easily work around the problem by not using Rule at this time.

#### Example of feature

	Rule: Foo bar 1

		Scenario: Run test with exampl

[2021-07-21 04:21] jonsamwell commented on #142
Looking at the parser code it looks like I didn't implement rule blocks at all so the parser must be interpreting the `Rule:` line just as a text line.  I'll look into getting this implemented.

[2021-07-21 09:18] Stephane99 commented on #142
My bad, I didn't see that "Rule" was not implemented.
"Rule" was proposed by Gherkin v6, it's not a mandatory feature but if it's quick to implement, it would be nice to have :)

[2021-07-27 04:05] fadhlimaulidri opened #143 "Screenshoot can't be work at Hooks"
hi,
i try to take a screenshoot if any failed or pass step.

but there isn't image receive in the folder

this is my code

test_driver/app_test.dart
[code]

test_driver/hooks/attach_screenshot_on_failed_step_hook.dart
[code]

for the complete code here
https://github.com/fadhlimaulidri/flutter_apps/tree/cucumber_version_1.0.1/test_driver

to run
`flutter drive --target=test_driver/bdd.dart`

[2021-07-27 04:12] jonsamwell commented on #143
The class `AttachScreenshotOnFailedStepHook` does not save the image to a folder it attached it to the report.  If you want to save it to a folder add some code to do this  after the `await takeScreenshot(world);` code.

[2021-07-27 04:55] fadhlimaulidri commented on #143
yes, my expected isn't attach image to report,  but just generate image if step passed or failed. somehow the image can't generate. i have use `await takeScreenshot(world);` but no happen at the hooks
https://github.com/fadhlimaulidri/flutter_apps/blob/cucumber_version_1.0.1/test_driver/hooks/attach_screenshot_on_failed_step_hook.dart#L18

[2021-07-27 04:58] jonsamwell commented on #143
Sorry I am not sure what you mean?

Is the code `await takeScreenshot(world);` throwing an exception?

[2021-07-27 05:10] fadhlimaulidri commented on #143
nothing error
<img width="962" alt="Screenshot 2021-07-27 at 12 09 09" src="https://user-images.githubusercontent.com/11204909/127098842-28105485-1577-4221-8c5d-39f04cc49b47.png">

i think the hooks isn't called

[2021-07-27 05:16] jonsamwell commented on #143
It would be called it just does not print anything or save the image to disk

[2021-07-27 06:13] fadhlimaulidri commented on #143
have you seen at else section? i do same action

[2021-07-27 06:15] fadhlimaulidri commented on #143
[code]

i try code like that, there's no print '******'

[2021-07-27 06:27] jonsamwell commented on #143
It won't print to the console as it is running in a different process than the console being logged (I think).  Try debugging it.  I'm confident this works as expected.

It would be easier and more future proof (as well as really easy debugging) to use the latest RC version of the library as this generates the code and is easier to run and debug https://pub.dev/packages/flutter_gherkin/versions/3.

[2021-07-27 07:00] fadhlimaulidri commented on #143
i find why can't printed, thats because there in class `AttachScreenshotOnFailedStepHook` in the package, not call to my own file
<img width="712" alt="Screenshot 2021-07-27 at 13 39 57" src="https://user-images.githubusercontent.com/11204909/127107811-8e2f4b26-8962-4865-b93c-66914dd2cb79.png">

so i rename the file, and now can print **** as expected

ok. next continue to screenshot hooks.
in fil

[2021-07-27 07:07] jonsamwell commented on #143
FlutterWorld is not in that package.  You will need to not modify the code directly and create your own class

[2021-07-27 08:02] fadhlimaulidri commented on #143
do you mean i should use class `AttachScreenshotOnFailedStepHook`?

[2021-07-27 08:05] jonsamwell commented on #143
I'm not really sure what you are trying to achieve here? Modifying a class in the library is not good practice.  If you want a step to just capture a screenshot after a step you will have to write your own hook class

[2021-07-27 08:07] fadhlimaulidri commented on #143
i just want get a screenshot when the step is failed

[2021-07-27 08:15] jonsamwell commented on #143
WARNING: Code not tested

[code]

[2021-07-27 10:26] fadhlimaulidri commented on #143
i have try your code but i get error like below

<img width="960" alt="Screenshot 2021-07-27 at 17 25 18" src="https://user-images.githubusercontent.com/11204909/127138948-96458114-05a9-4647-acbc-e60908691c57.png">

[2021-07-27 10:54] jonsamwell commented on #143
Post your code to github and will have a look over the next few days.

[2021-07-27 10:54] #143 closed

[2021-07-28 00:24] fadhlimaulidri commented on #143
this is my code https://github.com/fadhlimaulidri/flutter_apps/pull/3/files

[2021-07-29 04:07] zaralockheart commented on #137
Ah, that totally make sense, since by matcher, if the regex match. I was wondering if we should do some exact keyword, but I wonder if it doesn't make any sense. https://pub.dev/packages/flutter_gherkin/versions/3.0.0-rc.2 is already in null-safety right? The project I'm working on is not in null-safety yet :(

[2021-07-29 12:20] fadhlimaulidri commented on #143
hi @jonsamwell . i have get why. i think it will generate file such png or jpeg, but the image in the form of code from json. so my code run as expected. thanks for this library and thanks also for your response

[2021-07-30 00:18] jonsamwell commented on #143
Great glad you figured it out!

[2021-07-30 17:39] brenoasm opened #144 "[QUESTION] Is there full support to the integration_test already?"
Hi, I'm doing some research so we can use integration tests. I've managed to get the project setup to work using the integration_test package, but now I need to do a custom Step and there is no example on how to do that with the new structure, is there a way to do it? Thanks in advance.

[2021-07-31 05:10] jonsamwell commented on #144
Hi @brenoasm yes the integration_test implementation has full support and I am using it on two large and complex projects.  I'll soon be releasing the rc and a major version (I just have to find time to do new documentation).

In terms of creating a custom step it is the same as the way currently documented.  See https://github.com/jonsamwell/flutter_gherkin#steps-definitions

[2021-07-31 10:20] brenoasm commented on #144
Thanks for the answer! How to access the integration_test methods? Like WidgetTester (like from context accessing the flutter_driver)?

[2021-07-31 23:44] jonsamwell commented on #144
See https://github.com/jonsamwell/flutter_gherkin/blob/integration_test__package_support/example_with_integration_test/integration_test/gherkin/steps/expect_todos_step.dart#L6

[code]

[2021-08-02 11:58] #144 closed

[2021-08-02 19:34] marcglasberg opened #145 "Configuration problem."
Hello! I have this file:

[code]

But I am getting this:

[code]

Please, would you have any suggestion on what I may be doing wrong?

[2021-08-04 03:28] fadhlimaulidri opened #146 "Run the application that has been built (existing app)"
i have 2 stage in pipline, build app and run automation. i have build the application and passed. can i run automation with the app has been built?

[2021-08-04 03:36] jonsamwell commented on #145
What emulator are you running?

[2021-08-04 03:38] jonsamwell commented on #146
If you are using the intergration_test RC version of this package no as that executes within the app.

If you are using the Flutter driver version you would have to build the app with the `enableFlutterDriverExtension()` call in which would be detrimental to the apps performance when released.

So overall you cannot unfortunately

[2021-08-04 04:30] fadhlimaulidri commented on #146
oke thank you @jonsamwell

[2021-08-04 04:30] #146 closed

[2021-08-04 13:28] fadhlimaulidri opened #147 "Handle alert notification confirmation"
how to handle alert confirmation?

[code]

<img width="399" alt="Screenshot 2021-08-04 at 17 45 47" src="https://user-images.githubusercontent.com/11204909/128189004-9128b348-7b06-4139-9e66-baf8a3a984a4.png">

[2021-08-04 22:00] jonsamwell commented on #147
@fadhlimaulidri  this is a tricky one as is it a native dialog and Flutter gives us no way to interact with native elements.  So what I do is disable notifications on iOS interest relying on testing notifications in the Android version of the app (as their is no user interaction required to enable notifications).

[2021-08-05 04:47] fadhlimaulidri commented on #147
do you know how to disable that? i can't find notification setting in my Simulator

[2021-08-05 04:57] jonsamwell commented on #147
You will have to pass a flag into the code that manages your app notifications and not call `requestPermission()` on the firebase messaging instance

![image](https://user-images.githubusercontent.com/3694497/128293027-862b4b20-315d-4da6-a7f3-cb1de2d0aff8.png)

You'll probably want to do something like this so you can pass whether or not to disable notifications in when you run the tests

![image]

[2021-08-06 04:14] fadhlimaulidri commented on #147
finnaly i use https://github.com/flutter/flutter/issues/12561#issuecomment-780114188 and works
thanks for reply @jonsamwell

[2021-08-06 04:14] #147 closed

[2021-08-06 16:13] marcglasberg commented on #145
Actually we've been able to run it with your new version for integration_tests, so I am closing this. Thank you!

[2021-08-06 16:13] #145 closed

[2021-08-12 10:59] umangdivyanshu commented on #128
Hi Jon,
I am also facing the same issue and cucumber-html-reporter is not able to generate html report from the integration_response_data.json. Waiting for this issue to be fixed. :)

[2021-08-18 09:30] sefin92 opened #148 "Grant runtime permissions"
In integration testing using flutter gherkins with BDD, how to grant permissions for camera and storage.

[2021-08-18 09:46] jonsamwell commented on #148
I am not entirely sure this would be better asked on StackOverflow.

I imagine it would be using the ABD and similar for iOS

[2021-08-18 09:46] #148 closed

[2021-09-03 10:41] fadhlimaulidri opened #149 "what is different create new class with use step generic?"
what do you recomended?

if step defenition is not found, can i get step def in terminal in the form of step generic?
<img width="930" alt="Screenshot 2021-09-03 at 17 40 38" src="https://user-images.githubusercontent.com/11204909/131992862-47e6e7d9-b277-446a-a1a3-622d23647e80.png">

[2021-09-06 05:03] jonsamwell commented on #149
Hi the class definition to create a step and the function declaration are exactly the same.  I recommend choosing one that fits your use cases best.

[code]

[2021-09-06 05:03] #149 closed

[2021-09-07 03:28] fadhlimaulidri commented on #149
any plan to add step generic at not found step definition?

[2021-09-07 03:33] jonsamwell commented on #149
What do you mean? Could you explain a bit further?

On Tue, 7 Sept 2021 at 13:28, Fadhli Maulidri ***@***.***>
wrote:

[2021-09-07 04:48] fadhlimaulidri commented on #149
for example we have scenario in example.feature. and then we run. but step defenition of our step have yet we create. for now it give step definition in the form of class definition as the screenshot. any plan to change class definition to step generic / (or) add step generic at there?

[2021-09-10 20:09] dwach414 opened #150 "How to do multiline string with curly braces"
When Trying to create a step using a multiline string if there are curly braces it will fail the pub build. It seems to work if you escape the first curly brace but only when it's on line. This makes it really hard when dealing with large json strings.

For example:
This works:
[code]

But this won't work:
[code]

It's really annoying to have to put a huge json object on one line. Any help would b

[2021-09-10 20:10] jonsamwell commented on #150
What is the build error message?

On Sat, 11 Sept 2021 at 06:09, Daniel Wachtel ***@***.***>
wrote:

[2021-09-13 14:51] dwach414 commented on #150
The error that we get back has a lot of random stuff in it. Looks kinda of like this. Using
[code]

[code]

[2021-09-14 10:37] Stephane99 commented on #141
Hello, has there been any progress on this subject?

[2021-09-15 01:01] jonsamwell commented on #140
Closed due to no reproducible example

[2021-09-15 01:01] #140 closed

[2021-09-15 01:01] #137 closed

[2021-09-15 01:02] #114 closed

[2021-09-15 04:36] jonsamwell commented on #150
Fixed in 3.0.0-rc.3

[2021-09-15 04:36] #150 closed

[2021-09-15 04:37] jonsamwell commented on #128
Fixed in 3.0.0-rc.3

See https://github.com/jonsamwell/flutter_gherkin/blob/3.0.0-rc.3/example_with_integration_test/generate-cucumber-html-report.js on how to generate html report from output

[2021-09-15 04:37] #128 closed

[2021-09-15 04:37] jonsamwell commented on #141
Fixed in 3.0.0-rc.3

See https://github.com/jonsamwell/flutter_gherkin/blob/3.0.0-rc.3/example_with_integration_test/generate-cucumber-html-report.js on how to generate html report from output

[2021-09-15 04:37] #141 closed

[2021-09-21 10:15] aliakbr opened #151 "VMServiceFlutterDriver: It is taking an unusually long time to connect to the VM..."
Hi all, I am experiencing a very weird issue. I've pulled the example code from this repo and successfully run the example code. Meanwhile, after copying the example code to my current repo project I am facing this issue :

[code]

It seems like the flutter driver can't connect to. any of my simulator/devices in this project. This is some detail of my environment and how to run the test :

flutter

[2021-09-21 10:52] jonsamwell commented on #151
This is odd. I will try and run the sample code again tomorrow.

Are you trying to run against an ios or Android emulator?  If it is Android try and ensure use use an x86 image as I have had trouble with this on my CI server using x86_64 images.

If you are starting a new project I strongly suggest you use the new integration_tests way of doing things as I'll soon be moving flutter_gherkin over to

[2021-09-23 06:16] naswin35 opened #152 "BDD is not working in code magic flutter"
I have written integration test cases with flutter gherkins(BDD) in my flutter project, But I am getting errors with test failed results. My concern is whether code magic will work with BDD or not?

[2021-09-23 06:18] jonsamwell commented on #152
Could you elaborate further - are the test errors expected?

It will work with any CI tool it is just running a native flutter command under the hood (flutter drive...).  I have two huge apps running well on Azure devops

[2021-09-23 06:51] naswin35 commented on #152
My need is I want to run my integration test command automatically while
making a build with code magic. I have already written integration test
cases with gherkins(BDD) in my project and it is working fine when I run it
normally. But I added "drive
--target=test_driver/signup_skip/signup_skip.dart --flavor staging" this
command in the test area of code magic and started building process test
fail

[2021-09-23 06:55] jonsamwell commented on #152
Looks like something to do with the flutter driver connection ```VMServiceFlutterDriver: waitFor message is taking a long time to complete...```

How are you creating and starting the emulator?

Also are you using the flutter driver version of this lib or the integration_test widget versions?

[2021-09-23 07:03] naswin35 commented on #152
in the android studio, we are just giving this command in the terminal and the app will run on selected device either emulator or real device command for eg: "flutter driver --target=test_driver/dashboard_search_price/telehealth.dart --flavor staging". Simply giving this only. I am using "flutter_gherkin: ^2.0.0" this library not "integration_test" this

[2021-09-23 07:05] jonsamwell commented on #152
Ah OK so you are seeing this locally not on your CI server?

It you are just starting out I would recommend this version of this library as the old flutter drive way of doing this in being deprecated shortly.  Plus the new way is much easier and more reliable.

https://pub.dev/packages/flutter_gherkin/versions/3.0.0-rc.5

[2021-09-23 07:10] naswin35 commented on #152
the issue seeing in CI server working fine locally. anyway will try "https://pub.dev/packages/flutter_gherkin/versions/3.0.0-rc.5"

[2021-09-23 07:11] jonsamwell commented on #152
OK how are you creating and starting the emulator on the ci server?

[2021-09-23 07:13] naswin35 commented on #152
there is an option to select run on the emulator in codemagic

[2021-09-23 07:17] jonsamwell commented on #152
Do you know the below details for the emulator

ios / android
os version
x86 / x64 x86_x64?

[2021-09-23 07:31] naswin35 commented on #152
All virtual machines are located within the private network. In order to allow users to connect to the virtual machine, Codemagic allows a temporary SSH or VNC access through the public gateway using a unique SSH key or user credentials that are generated before each build. The unique key and user credentials are valid for the duration of the build only and are revoked after the build is finished.

[2021-09-23 07:33] jonsamwell commented on #152
OK I am not sure why it flutter driver is taking a long time to get messages then.  Give it a go with the rc version of the library and see how you get on

[2021-09-23 07:34] naswin35 commented on #152
ok

[2021-09-24 08:57] DevGabrielDeSouza commented on #101
How is this going on? Is the new release candidate compatible with the integration_test? Is there any documentation to use it with integration test instead of flutter_driver?

[2021-09-24 09:09] jonsamwell commented on #101
@DevGabrielDeSouza yes it is all working and I am using it in two very large projects on a CI server. It is much quicker and far more reliable.

See https://pub.dev/packages/flutter_gherkin/versions/3.0.0-rc.5

There is a bit of documentation in the change log and readme file in that rc release.

It is already to go now. I just need to update the documentation. PR's for that are welcome!

[2021-09-27 02:23] gobearjr commented on #151
Hi @jonsamwell

Me (I am the QA) and @aliakbr (Dev) working on the same company. I try using 3.0.0-rc-5 but it seem to have a dependencies issue

Here are our dev dependencies :

If I add analyzer: ^2.1.0 it will conflict with intl_utils: 2.1.0

[2021-09-27 02:27] jonsamwell commented on #151
@gobearjr could you add a dependency override?

[code]

[2021-09-27 02:28] jonsamwell commented on #151
Or ask https://github.com/localizely/intl_utils/blob/master/pubspec.yaml to upgrade their dependency on anaylzer as it is out of date.

[2021-09-27 02:30] gobearjr commented on #151
Ok, Thank you.
I will follow up with them and try overriding the dependencies.

[2021-09-29 07:41] skumar11pk opened #153 "Cucumber steps not working on window"
I am executing feature file on mac that is working fine, but same code not working on window, showing 0 scenario, 0 steps..

PS D:\flutterautomation\test_driver> dart app_test.dart 'ws://127.0.0.1:49898/U2WgzMRMI2w=/ws'
Connecting to running Flutter app under test at 'ws://127.0.0.1:49898/U2WgzMRMI2w=/ws', this might take a few moments
before run hook

0 scenario ()
0 step ()
0:00:00.002000
after

[2021-09-29 08:00] jonsamwell commented on #153
It looks like the `featurePath` pattern is not finding anything on windows.  You could try 'features/*.*.feature' instead

[2021-09-29 08:23] skumar11pk commented on #153
Thanks for the reply !

I tried this 'features/..feature', but no luck.

any other solution ?

[2021-09-29 08:40] jonsamwell commented on #153
Sorry looks like the last thing I posted was wrong try this

[code]

[2021-09-29 16:03] skumar11pk commented on #153
I have tried everything, even I have passed the absolute path of feature file, but its not working

[2021-10-01 16:04] colleenvillon commented on #101
@jonsamwell I'm facing this issue you mentioned before:

Is this fixed? I'm trying to run feature file with multiple scenarios, when 1 scenarion/step failed, it would stop the whole test run..

[2021-10-03 15:37] WahdanZ commented on #101
i'm try to create a hook , but the function  `onBeforeRun`  is not  called

[2021-10-03 21:14] jonsamwell commented on #101
@colleenvillon I need to investigate the test stopping after the first failure.  When I mentioned it before it was an issue with the way the flutter team had implemented the integration_test pacakge.  I agree it is really annoying so will look into if this is fixed (See https://github.com/flutter/flutter/issues/75216).  It appears they think it is fixed so I need to see what is going on here

@Wah

[2021-10-04 10:54] adityamirza opened #154 "Close the driver after run"
Hi, can we close the driver after all scenarios run? I run this with GitlabCI, and the apps stays forever even the statuses all Passed

is there anything I can do with Hooks?

[code]

Thank you

[2021-10-04 21:28] SoftWyer commented on #153
It looks like [there's some path parsing issues](https://github.com/jonsamwell/dart_gherkin/issues/49) in Gherkin that means it doesn't handle Android/iOS platform differences particularly well.

On Windows, try this:

[code]

In the [Gherkin test code](https://github.com/jonsamwell/dart_gherkin/blob/2c6fa8a7564578a9e33ec295d2abde573d0cb75d/example/test.dart#L14), they have this cumbersome logic:

[2021-10-04 21:30] jonsamwell commented on #153
@SoftWyer thanks for this.  Yes we really need to address this logic.  Feel free to do a PR!  I will add some better documentation around this as well

[2021-10-06 13:04] Nolat opened #155 "Reporters not working properly with integration_test"
We try to switch to version 3 of the package to use the integration_test package. But it seems that the reporters are not working properly.

StdoutReporter, ProgressReporter and TestRunSummaryReporter don't show any color when logged by the print function. Also, they don't display any message when leaving the stdout function as default, and neither does the developer.log function.

The JsonReporte

[2021-10-07 06:54] jonsamwell commented on #155
@Nolat where are you passing it an absolute path?

Does you test_driver.dart file look something like this?

[code]

[2021-10-07 06:54] fadhlimaulidri opened #156 "Flutter Driver extension is taking a long time to become available"
i have a application, when i run multiple scenario, i get `Flutter Driver extension is taking a long time to become available.` at second scenario

[code]

do you ever get same issue @jonsamwell ?

[2021-10-07 06:57] jonsamwell commented on #156
See https://github.com/jonsamwell/flutter_gherkin/issues/151

I used to see this using the driver version of this library since converting to the integration_test version I do not see this.  I think this is a flutter issue and something to do with Android x86_64 and the google_api on the image

[2021-10-07 23:17] jonsamwell commented on #155
@Nolat what version of Flutter are you using?

[2021-10-08 07:11] duchdtran opened #157 "Continue running cucumber steps after a failure step"
I have many test features. When there is a failed step in any *.feature file, the test process will be stopped immediately. Could I  continue running cucumber steps after a failure step?

[2021-10-08 09:32] vrnvorona commented on #155
For me if I run on ios it has no colouring, but on android it does.
![image](https://user-images.githubusercontent.com/11422913/136533213-687030db-6691-4010-a891-32c2ccaa5894.png)

[2021-10-08 09:40] vrnvorona opened #158 "Can't use ^ in RegExp because of keywords"
Coming from Ruby I got used to this notation `When(/^I do something$/)` which is pure regexp. It's great because $ helps with avoiding similar but-not-really steps to be misused:
For example 'When I do one thing' and 'When I do on thing differently', there is big chance that scenario step of smaller step gets matched to step def of bigger step because of `firstWhere`. But hopefully $ works ok with

[2021-10-08 10:45] jonsamwell commented on #155
Yes I think that might be it. It looks like I can get if the stdout
supports ansci in the reporter so if it doesn't it should try to colourize
it

On Fri, Oct 8, 2021, 21:39 Vladislav Voronin ***@***.***>
wrote:

[2021-10-11 13:23] Nolat opened #159 "Swipe step is not working with integration_test"
The step "I swipe [down|left|right|up] by {int} pixels on the {string}" is not working on the 3.0.0-rc.5.

![image](https://user-images.githubusercontent.com/22156783/136797362-ad036a9b-d02c-4afb-a3af-eebec7c82b44.png)

Doctor summary (to see all details, run flutter doctor -v):
[✓] Flutter (Channel stable, 2.5.1, on macOS 11.2.3 20D91 darwin-arm, locale fr-FR)
[✓] Android toolchain - develop for

[2021-10-12 09:51] jonsamwell commented on #159
Thanks for reporting this. I'll get a fix in

On Tue, Oct 12, 2021, 00:23 Alexis Talon ***@***.***> wrote:

[2021-10-12 11:03] Yuiry-IV commented on #151
Same for Windows + Android tablet:
![image](https://user-images.githubusercontent.com/9569717/136944125-d687457b-1ab2-4c9f-b031-16a2384cc433.png)

My configuration:
![image](https://user-images.githubusercontent.com/9569717/136943717-2f66b151-eb0e-4e4d-bd7e-f1945a9e6ba5.png)
![image](https://user-images.githubusercontent.com/9569717/136943775-54d56ebb-fa65-482e-a776-c71107522990.png)

[2021-10-14 05:45] rizkavio21 opened #160 "Error: Method not found: 'FlutterDriverUtils.scroll'."
Hello, i have an application. But when i want to using scroll, always get a message "Error: Method not found: 'FlutterDriverUtils.scroll'. " and how i can handle it?  this is my code
`await FlutterDriverUtils.scroll(context.world.driver, 0, 0, 50, timeout: 5);`

[2021-10-14 19:53] colleenvillon commented on #101
@jonsamwell I noticed in the configuration, there is no property restartAppBetweenScenarios that I can set to true. Do you have plan to implement it or have any way to do it. thank you

[2021-10-19 08:08] vrnvorona commented on #101
It depends heavily on how your app is written.

Most basic thing is clear Shared Preferences and other storages.

[2021-10-25 08:04] fadhlimaulidri opened #161 "call step definition from Hook"
hi @jonsamwell , i want do logout for each scenario. Therefor i want to call stepdefinition from Hook. but i have problem to get FlutterWorld at there. my question, can i call it at hook?

i use stepdefinitiongeneric for define my step

[2021-10-25 08:21] #160 closed, assigned to nobody

[2021-10-25 08:22] #161 closed, assigned to nobody

[2021-10-29 08:24] umangdivyanshu opened #162 "Incorrect feature name in HTML reports"
In the HTML report, correct feature name is not publishing. For each feature, the first scenario name is getting published for feature name in the report.

I am using 3.0.0-rc.3 with integration_test support.

[2021-10-31 03:28] umangdivyanshu opened #163 "Question - Do we have tags support in 3.0.0-rc6?"
Hi @jonsamwell, Could you please answer below queries -

Do we have tags support in 3.0.0-rc6?
How can I execute specific feature files/scenarios based on tags?

[2021-11-01 04:31] jonsamwell commented on #163
Yes, just set the tags you want to run on your configuration.  I'll try and get an example of using args to pass in tags at runtime using --dart-define="@tags" syntax

[2021-11-01 04:31] #163 closed

[2021-11-01 07:11] jonsamwell commented on #163
Everything you have asked in on the readme file and can be set on the configuration object

[2021-11-01 18:32] sebastiankutschbach opened #164 "TapWidgetOfTypeStep - Exception: type 'String' is not a subtype of type 'Type'"
Hi,

can anyone tell me what I am doing wrong here?

**My scenario looks the following:**

[code]

**Test output is this:**

[code]

**My dependencies:**

[code]

Complete source code can be found [here](https://github.com/sebastiankutschbach/brick_app).

Thanks in advance!

[2021-11-01 21:05] jonsamwell commented on #164
Hmm might be a problem with finding a widget by type - I'll take a look

[2021-11-01 22:14] jonsamwell commented on #164
OK looked into this and it has never worked nor is it going to in the context of using the step in a feature file.  The reason being is that finding a widget by a type need a type at the moment all the step has is a string i.e. "FloatingActionButton" not the actual type.  It is pretty much impossible to coerce the type from the string name so this will never work and I think the step should probab

[2021-11-01 22:14] #164 closed

[2021-11-01 22:15] jonsamwell commented on #162
Closing as fixed in rc-6

[2021-11-02 06:15] sebastiankutschbach commented on #164
Thank you for your fast reply!

[2021-11-02 06:38] umangdivyanshu commented on #162
I have upgraded to 3.0.0-rc.6 and the issue still persists. In the HTML report, the first scenario name is getting published for feature name in the report. Plase see attached screenshot for reference.
![Screenshot 2021-11-02 at 12 06 59 PM](https://user-images.githubusercontent.com/77405518/139798021-f375d6ea-c2c5-4691-ab80-bfa6ad74783e.png)

[2021-11-02 06:49] jonsamwell commented on #162
Ah OK I will take a look - thank for reporting.

[2021-11-02 06:49] jonsamwell commented on #164
No problem!

[2021-11-03 08:01] umangdivyanshu commented on #162
**Adding one more issue w.r.t. reporting in this.**

After using tags in the configuration, the HTML report has only one scenario listed. Scenarios from other feature files are rendering under only one feature in the report.

Validate login with valid credentials is a part of a separate feature file and Adding new watches to the product list is a part of a different feature file. But both are rend

[2021-11-03 08:28] AFASbart opened #165 "[3.0.0-rc.6] Empty .feature files"
When a project has empty .feature files, the test suite (.g.dart) file builds these files into functions as well, but because there aren't any scenario's the functions get thrown away. Problem is that the onRun() still references them. Creating errors.

The functions testFeature0 and testFeature1 do not exist.
![code](https://user-images.githubusercontent.com/89916189/140028949-6ec29c5e-d196-4c45-

[2021-11-08 08:35] TomBenaiteau commented on #159
Hello, i tried the "swipe" step on the 3.0.0-rc.6, and it still doesn't work.
I suspect the scroll function to not working on the file app_driver_adapter.

![Capture d’écran 2021-11-08 à 09 26 53](https://user-images.githubusercontent.com/70884460/140709354-5b49b0fb-7b46-44d7-86b0-dac7ecdf576e.png)

[✓] Flutter (Channel stable, 2.5.1, on macOS 11.4 20F71 darwin-arm, locale fr-FR)
[✓] Android too

[2021-11-08 21:26] jonsamwell commented on #159
@TomBenaiteau are you able to set up a reproduction of this so I can debug it?

[2021-11-09 21:05] AFASbart commented on #162
So I am having this problem aswell, I have looked in the code. Apparently the function onFeatureStarted gets the name and id of the first scenario instead of the feature name. After some debugging I found that it is an problem with the feature to .g.dart file. In the .g.dart file the title is inproperly stated.

[2021-11-09 21:25] jonsamwell commented on #162
@AFASbart thanks for looking into this so do you think the problem is the name that the onFeatureStarted function gets?

[2021-11-09 21:38] AFASbart commented on #162
So I have figured it out. It is in the gherkin_suite_test_generator. You call the visitScenario() function. But the feature name does not get given with it. Then the onBefore etc should contain the feature name. I have fixed it locally (will make PR tomorrow @ work). You can review it then. The ON_BEFORE_SCENARIO_RUN variable should change scenario_name to feature_name. And then add a block
`_curr

[2021-11-09 21:44] jonsamwell commented on #162
@AFASbart many thanks for this.  Looking at it now.  I think we'll need to pass the feature tags as well as they are the scenarios tags at the moment.

I'll try and looks at this today.

[2021-11-09 21:52] BartVerm779 commented on #162
(I'm @AFASbart but this is my personal account), we'll have to add because the scenarioname etc is also used in the function. So we can't replace it.

[2021-11-09 22:09] jonsamwell commented on #162
Thanks @BartVerm779 just doing the fix now.  Let me do this one as I'll fix #165 at the same time 👍

[2021-11-10 03:13] jonsamwell commented on #159
@TomBenaiteau should be fixed in 3.0.0-rc.7

[2021-11-10 03:13] #159 closed

[2021-11-10 03:13] jonsamwell commented on #165
Should be fixed in 3.0.0-rc.7

[2021-11-10 03:13] #165 closed

[2021-11-10 03:13] jonsamwell commented on #162
Should be fixed in 3.0.0-rc.7

[2021-11-10 03:13] #162 closed

[2021-11-10 03:14] jonsamwell commented on #155
Colour codes are now not set if the target does not support them in 3.0.0-rc.7 so should lead to a better experience on Mac

[2021-11-10 03:14] #155 closed

[2021-11-10 03:16] jonsamwell commented on #152
@naswin35 did you make any progress with this?

[2021-11-10 16:12] TomBenaiteau commented on #159
I tried on 3.0.0-rc.7, and I still get the same error, so I tried with your example, and it works fine, but the problem is with the widget we are using. We are using a "ListWheelScrollView". You can debug it with this widget and find the same error with the example I give you. Can you watch it, thank you.

[code]

[2021-11-11 15:15] AFASbart commented on #165
This still is not fixed in 3.0.0-rc.7, I am right now checking what the problem is. If I find it I will come back here.

[2021-11-11 15:34] AFASbart commented on #165
So I have found the issue. In the file gherkin_suite_test_generator.dart the function generateForAnnotatedElement() creates the .g.dart file (at least the code that messes everything up). Where the features are build, I have changed a bit of code. What happens when there are no features / scenarios? The function `generator.generate` returns an empty string. But then when you create the onRun funct

[2021-11-12 07:12] jamontes79 opened #167 "Log display a lot of exceptions when test are finished correctly"
Hi,

using version 3.0.0-rc.7 when the test are finished the console display a lot of exceptions not related with the code that I'm testing. This is console output:

`juanalberto@MacBook-Pro-de-admin cms_fe % fvm flutter drive --driver=test_driver/integration_test_driver.dart --target=integration_test/gherkin_suite_test.dart --flavor dev
Running "flutter pub get" in cms_fe...
Warning: You are usin

[2021-11-12 13:23] AFASbart commented on #167
What I am seeing is that the errors are the Bad State no element exceptions?
These errors are caused when the driver cannot find the element you are trying to find with the finder.
Make sure your driver can find the element. (In rc-07 you can also use textContaining)

[2021-11-12 13:31] AFASbart commented on #165
Pull request has been made.

[2021-11-12 16:14] AFASbart opened #169 "Is it possible to skip a test from an hook?"
I want to be able to skip a test from an hook. Is this possible?

[2021-11-12 23:25] jonsamwell commented on #169
This is an interesting idea.  At the moment it is not possible.  I will check and see if cucumber actually supports this and how they do it.  Let me get back to you on this

[2021-11-12 23:27] jonsamwell commented on #167
I wonder why these cannot find element errors did not result in a test failure? @jamontes79 did the test actually work and manipulate the elements correctly?  Are you able to do a small reproducing repo for me to look at?

[2021-11-15 06:12] jamontes79 commented on #167
Hi, finally there was a problem in my code, but I don't understand why the test was green and then lunch the exceptions. That's fine because alert us, but in my opinion the test must be red.

For my part the issue can be closed.

Thanks a lot for your comments.

[2021-11-15 06:12] #167 closed

[2021-11-15 06:16] jonsamwell commented on #167
@jamontes79 agree it should probably be red and fail are you able to do a sample to reproduce this so it can be fixed?

[2021-11-15 09:54] AFASbart commented on #162
@jamontes79 The best you can do is open a new issue with some code and things that you tried. Also the error that you get. Jon or someone else cannot help you without any reproducible code / errors that you give us.

[2021-11-15 13:34] jamontes79 opened #170 "Generate json with JsonReporter when some test fail"
Using flutter_gherkin 3.0.0-rc.7 when some test fails, the json generated by JsonReporter is not generated. It would be important to know which test are failing when we use automatic process to run them.

integration_test_driver.dart
`
import 'package:integration_test/integration_test_driver.dart'
    as integration_test_driver;

Future<void> main() {
  // The Gherkin report data send back to this

[2021-11-15 13:42] jamontes79 opened #171 "Json bad generated when first scenario of a feature is not executed"
Using flutter_gherkin 3.0.0-rc.7 when I run only some specific test by tag and the scenario is not the first of the feature, the json generated by JsonReporter is not well generated.

integration_test_driver.dart
`
import 'package:integration_test/integration_test_driver.dart'
as integration_test_driver;

Future main() {
// The Gherkin report data send back to this runner by the app after
// the t

[2021-11-15 13:45] jamontes79 opened #172 "Error with log output when lunch the tests over web"
Using flutter_gherkin 3.0.0-rc.7 the log output throws an exception using Android Studio + macOs

integration_test_driver.dart
`
import 'package:integration_test/integration_test_driver.dart'
as integration_test_driver;

Future main() {
// The Gherkin report data send back to this runner by the app after
// the tests have run will be saved to this directory
integration_test_driver.testOutputsDirec

[2021-11-15 13:52] AFASbart commented on #170
Yes so I also had this problem. I hope that @jonsamwell wants to fix this. It is in the integration_test_driver.dart function integrationDriver() it has an if statement:

`if (response.allTestsPassed) {
    print('All tests passed.');
    if (responseDataCallback != null) {
      await responseDataCallback(response.data);
    }
    exit(0);
  } else {
    print('Failure Details:\n${response.format

[2021-11-15 14:01] AFASbart commented on #170
I just saw this is from an external package and @jonsamwell cannot do anything about it. What I have done is copied the function that you return in your own integration_test_driver.dart and placed it in my own file. Removed the if statement and created my own writeGherkinReports function (you don't have to, but I think the other way is stupid, due to no version control).

If you want to I can send

[2021-11-15 14:43] jamontes79 commented on #170
Yes please, it would be very helpful for me.
Thanks in advance

[2021-11-15 15:11] AFASbart commented on #170
I have removed some parts of the code, that is because these are secrets of the project I am working on.
But what you'll need will be present.

Sooo my integration_test_driver.dart has this as the main function:
# Main function
[code]

# integrationDriver (Return function)
[code]

# writeGherkinReports
[code]

This is it. Make sure all the functions are correctly referenced (some functions have th

[2021-11-16 06:38] jamontes79 commented on #170
Thanks a lot!! Works like a charm :)

I'm going to mantain the issue open to check if it would be possible to have this fix in the library

[2021-11-16 06:48] jonsamwell commented on #170
@jamontes79 it would be good to file a bug with flutter for this one but I will add some documentation and this function to the library for now.

[2021-11-16 07:00] AFASbart commented on #170
I have updated it with the _encodeJson, forgot that one wasn't in the original file..

[2021-11-17 04:40] umangdivyanshu opened #173 "Question - How can we add logs for failed steps in the HTML report?"
Hi @jonsamwell, Could you please answer below queries -

I am using 3.0.0-rc.7 and in the HTML report I am getting screenshot added to failed step by using AttachScreenshotOnFailedStepHook().

However, I also need to have some logs in the report along with screenshot which could explain the reason of failure. Could you please guide me on how to add logs to the report?

[2021-11-17 04:56] jonsamwell commented on #173
You can do something like this and it will appear in the report

[code]

[2021-11-17 06:34] umangdivyanshu commented on #173
Hi @jonsamwell, I have added the above code and updated the gherkin_suite_test.dart file for this hook configuration. But it does not seem to be working, logs are not getting attached in the report. Do I need to add something in step definition as well? Could you please provide an example here, if possible?

[2021-11-18 09:17] AFASbart opened #174 "Different feature folder"
When setting the features or the feature path (or both), it still imports all features under the features folder. I want the structure features/casex and features/casey. When I enter the path features/casey it still includes the features of the casex with it.

[2021-11-18 09:19] jonsamwell commented on #174
I'm not entirely sure what you mean here.  Can you give a worked example?

[2021-11-18 09:28] AFASbart commented on #174
[code]

So the path I am trying is: integration_test/features/DM_ERP/*.*.feature.
But it still grabs features from the integration_test/features/FLEX_POC/*.*.feature folder.

[2021-11-18 09:51] jonsamwell commented on #174
Odd as it just assesses the pattern against the file path.  Are you able to debug to see what is going on?

https://github.com/jonsamwell/dart_gherkin/blob/master/lib/src/io/io_feature_file_accessor.dart#L46

I've never really like that code so it could do with some TLC

[2021-11-18 10:02] AFASbart commented on #174
I am using the flutter_gherkin not the dark_gherkin? So where do I find it in the code of this package?

[2021-11-18 10:06] jonsamwell commented on #174
flutter_gherkin sits on top of dart_gherkin.  It you set debugging to my code + packages and find that file above you should be able to debug.

I wonder if there is some conflict between featurePath & features in the above config

[2021-11-18 10:11] AFASbart commented on #174
For some weird reason my debug is not working, I am using the flutter command line tool then it will run the tests. Is it possible for me to access the file so I can add an print() there?

[2021-11-18 10:17] jonsamwell commented on #174
I think you could modify the local version (although I wouldn't recommend it!).  Is the debugger set to debug packages as well?

VSCode shows this:

![image](https://user-images.githubusercontent.com/3694497/142396499-c74e3f5c-8607-4b13-9631-382976c57133.png)

[2021-11-18 10:24] AFASbart commented on #174
I have that enabled, but I cannot use the debugger because for one reason it won't go into an hook that enters a pin code.
It just start-up the app and then does nothing.

[2021-11-18 10:26] AFASbart commented on #174
I know why I can't use the debugger. I have an websocket server for communication to my localhost pc. The websocket can't connect and times out...

[2021-11-18 10:44] AFASbart commented on #174
What launch config are you using? With me it doesn't enter the integration_test_driver.dart main() function.

[2021-11-19 11:33] umangdivyanshu opened #175 "Question - Can we avoid generating gherkin_suite_test.g.dart file after making changes in feature file?"
Hi @jonsamwell, hope you are doing well !

Every time I make changes in the feature file, I had to re-generate gherkin_suite_test.g.dart file again. Is there any way we could avoid this or any work around for this?

Thanks

[2021-11-19 12:52] vrnvorona commented on #101
@jonsamwell do you have any issues with android devices crashing with long executions?

[2021-11-22 08:10] AFASbart commented on #175
I think that the new integration_test package needs this .g.dart file. I do not know if it is possible to detect changes and if it is faster than rebuilding the .g.dart file.
Maybe @jonsamwell can build the .g.dart file and the app simultaneously?

[2021-11-22 08:16] jonsamwell commented on #175
@umangdivyanshu yes unfortunately I to convert this library to generate the .g file at design time as the invocation actually happens on the device now so there is not any access to the feature files at runtime.  Unlike the previous flutter_driver version that controlled the app and thus had access to the file system.

We should probably do something to watch feature file changes and regenerate ba

[2021-11-22 08:18] AFASbart commented on #175
@jonsamwell With the usage of websockets you CAN get access to the file system. I do not know if this is bad, but it _can_ be a workaround of this issue.

[2021-11-22 08:19] AFASbart commented on #174
@jonsamwell Do you have the launch.json file that you are using for me? In my project it doesn't use the integration_Test_driver.dart file and I need it because I am setting up some important things like the websocket and it saves the report.

[2021-11-22 08:20] jonsamwell commented on #175
@AFASbart are you able to do a POC? I am not sure it is worth the added complexity though?

[2021-11-22 08:22] AFASbart commented on #175
Yeah, so for my tests I have to restore my database, and to do that I need access to my PC. With the server in the integration_test folder I created an websocket server with my phone that has access to the working directory. There I can for instance make calls to my local database (with Powershell). If you want I can mail you an .zip with the dart files.

[2021-11-22 08:24] AFASbart commented on #175
And I believe this is not so complex that it outweighs the extra step of 2 commands + 20 seconds build time of the .g.dart file.

[2021-11-22 08:24] jonsamwell commented on #174
@AFASbart this is a launch.json that I use in on of my project

[code]

This my gherkin_suite_test.dart file

[code]

[2021-11-22 08:27] jonsamwell commented on #175
It would have to work on build servers though - we could do a POC but I have limited time at best so that is a problem as well haha

[2021-11-22 08:31] jonsamwell commented on #172
Looks like the StdoutReporter can't be supported on the web now - I added a check to see if ANSI code are supported due to #155.  You could try running it and removing that report from the reporters config?  I think the best option would be to catch this error in the stdout reporter though.  I'll try and get a fix in tomorrow

[2021-11-22 08:39] AFASbart commented on #174
Ok, so the different feature folder is kinda fixed? If I give the feature path with the @GherkinTestSuite then it works. But in the conf itself it doesn't work on generation of the features.
For the integration_test_driver and launch.json part, I am going to work on that now.

[2021-11-22 08:43] AFASbart commented on #175
So I have a small POC for you:

## server.dart (gets called in test_driver/integration_test_driver.dart)
[code]

## client.dart (Is present in integration_test/socket/client.dart)
[code]

This can be of course be cleaned up a bit, but this is what I use for the communication between the phone and the host pc.

[2021-11-22 08:48] jonsamwell commented on #175
OK there is still some complexity involved with the fact that the `testWidget()` integration_test function needed to run in a serial fashion so it is quite well suited to code generation.  I'll have to think about this one

[2021-11-22 08:49] jonsamwell commented on #174
@AFASbart I am not entirely sure what you mean?

[2021-11-22 09:01] AFASbart commented on #174
This is my configuration (gherkin_test_suite.dart)
[code]

And it had to be this ```
@GherkinTestSuite(featurePaths: <String>[
  'integration_test/features/DM_ERP/**.feature',
])```

Instead of an parameter (like ..defaultTimeout) in ```FlutterTestConfiguration.DEFAULT```

[2021-11-22 11:10] umangdivyanshu commented on #175
Thanks @jonsamwell and @AFASbart for your response. I am passing the test data from the feature files and had to re-generate the .g.dart file every time there is a change made in feature file, so I was hoping to eliminate this step.

[2021-11-22 11:14] umangdivyanshu commented on #173
Hi @jonsamwell, could you please answer the query here?

[2021-11-23 06:06] jamontes79 commented on #172
Thanks a lot, I'll try it and I give you feedback. :)

[2021-11-23 07:10] jonsamwell commented on #173
Sorry @umangdivyanshu I will have time tomorrow to look into this

[2021-11-23 15:53] bluego-joe commented on #172
I am experiencing this issue also. Removing the reporters solves the problem, but means that you can't see any test output. Needless to say, this makes debugging tricky :)

[2021-11-23 19:54] jonsamwell commented on #173
This should work.  Note that you need to provide the step as the context to the attachment so the json reporter knows it relates to the step

[code]

[2021-11-23 20:18] jonsamwell commented on #172
Should be fixed in v3.0.0-rc.9

[2021-11-23 20:18] #172 closed

[2021-11-24 06:54] umangdivyanshu commented on #173
Thanks @jonsamwell for the help 👍
Is there any plugin/library or in-built method which could be used to return the logs in _getLogs method?

[2021-11-24 09:27] AFASbart opened #176 "Debug doesn't access integration_test_driver.dart in test_driver folder"
When using the launch.json example in the README for the integration_test version, it doesn't go into the integration_test_driver.dart file.

[2021-11-25 06:16] jonsamwell commented on #172
great

[2021-11-25 06:17] jonsamwell commented on #176
It won't as that is the file that drivers the app and not the app itself.  You should be able to change the launch.json to debug the host program

[2021-11-25 06:17] #176 closed

[2021-11-25 06:20] jonsamwell commented on #154
@adityamirza any logs to help diagnose this issue?

[2021-11-25 06:33] jamontes79 commented on #172
Working like a charm... thanks a lot for the quickly fix.

Great job and great library! :)

[2021-11-25 06:59] jonsamwell commented on #173
I use https://pub.dev/packages/logging

You could then have a  hook that listens to the logs but you'll have to come up with some way of retrieving the logs yourself

[code]

[2021-11-25 06:59] #173 closed

[2021-11-25 07:38] #66 closed

[2021-11-25 07:39] jonsamwell commented on #157
@duchdtran @umangdivyanshu are you see this with the latest version.  I am seeing it continue after failed tests

[2021-11-25 08:08] umangdivyanshu commented on #173
Thanks @jonsamwell  for the help. Really appreciate it!

[2021-11-26 08:17] umangdivyanshu commented on #157
@jonsamwell  I am not facing this issue with the latest version, working fine for me 👍

[2021-11-26 10:00] jonsamwell commented on #157
Thanks for letting me know.  Closing this for now then!

[2021-11-26 10:00] #157 closed

[2021-11-29 10:06] bluego-joe opened #177 "gherkin_suite_test.g.dart is sometimes not updated"
I am encountering a strange issue where sometimes running `flutter pub run build_runner build --delete-conflicting-outputs` does not update the contents of `gherkin_suite_test.g.dart`, after changing one or more `.feature` files. This behaviour seems to be mostly persistent, but cannot be produced 100% of the time.

I have found that deleting `gherkin_suite_test.g.dart` before running `flutter pub

[2021-11-29 14:00] golane-august commented on #177
Deleting the file `.dart_tool/build/generated/your_project_folder/integration_test/gherkin_suite_test.gherkin_tests.g.part` can replace all these steps. This file should be deleted / checked when running `build_runner`

[2021-11-29 21:34] jonsamwell commented on #177
This is the script I use to regenerate the when I change any feature files and seems to always work

[code]

We don't have any control over the build_runner it just calls the generator classes if it things files have changed so it must not be taking the files outside of the main lib folder into account.  I'll investigate but not sure there is much I can do

[2021-11-30 10:18] bluego-joe commented on #177
@jonsamwell, this works for me too. However if your project contains a lot of generated code, this can quite significantly increase the time taken to run `flutter pub run build_runner build`. Deleting the individual file, as per @golane-august's comment, appears to be equally effective, but a lot quicker.

I tried adding `integration_test/features/*.feature` to the `sources` in `build.yaml`, but t

[2021-12-01 15:29] porturabo opened #178 "How to run tests marked with a specific tags"
I am using 3.0.0-rc.9 version of the package and want to use tags to be able to run tests for a specific group of tests. Based on [this example](https://github.com/jonsamwell/flutter_gherkin/blob/integration_test__package_support/example_with_integration_test/integration_test/features/check.feature#L1) tags can be added to the code without any issues, but I am not sure how to run the tests marked

[2021-12-02 08:45] AFASbart commented on #178
In your configuration (gherkin_test_suite.dart) should be an option ..tagExpression = "". There you can place your tag, I do not know if you have to include the @

[2021-12-02 09:00] jonsamwell commented on #178
I use the below code to set various things from the command line or you can set the tag expression inline as @AFASbart  suggests (note that you need the '@')

[code]

This command would set the tag expression

[code]

[2021-12-02 09:00] #178 closed

[2021-12-02 09:26] porturabo commented on #178
@jonsamwell thanks a lot

[2021-12-02 13:14] AFASbart opened #179 "Non-run steps are not being showed in the report"
Is it possible for the steps that have not been run (because a previous failed step) to still show up in the JSON report and for instance have the skipped status?

[2021-12-06 09:41] veesmana opened #180 "Swipe step is not working with integration_test for flutter_gherkin 3.0.0-rc.9"
Hi
I use flutter_gherkin 3.0.0-rc.9 for my project but I can't use default swipe steps like:

- I swipe [down|left|right|up] by {int} pixels on the {string}
- I swipe [down|left|right|up] by {int} pixels on the on the [button|element|label|field|text|widget|dialog|popup] that contains the text {string}
Because I always get the error "Too many elements"
And when I try to use custom steps I got the

[2021-12-06 09:48] jonsamwell commented on #180
Hmmm, I have a test for swiping (https://github.com/jonsamwell/flutter_gherkin/blob/integration_test__package_support/example_with_integration_test/integration_test/features/swiping.feature).

The swipe step expects a scrollable descendent element under the element given in the step so this could be the issue?

https://github.com/jonsamwell/flutter_gherkin/blob/integration_test__package_support/li

[2021-12-06 12:47] umangdivyanshu opened #181 "Question - How can we share data between steps in a scenario?"
Hey @jonsamwell, Hope you are doing well !!

I am trying to automate a scenario where I need to share data between test steps in a scenario. How can I do this?

I tried to use context.world.attach(String testData, 'text/plain'), but I am not sure how to retrieve the attached data in the next step. If I use context.world.attach(), would it be a correct approach for this?

[2021-12-06 21:33] jonsamwell commented on #181
Hi @umangdivyanshu this is exactly what the World object is for.  You should create a custom world object that can persist the returned data for you.  The world object is shared across the whole scenario so any step within a single scenario run can access it.  The attach method is just for attaching information for the reports to use.

You can see how to create a custom world in the example https:

[2021-12-06 21:33] #181 closed

[2021-12-06 21:33] jonsamwell commented on #171
Could you try the latest version and see if this is still a problem?

[2021-12-07 15:54] AFASbart opened #182 "Can we accept exceptions?"
Is it possible to 'accept' exceptions? For an action a custom Exception gets thrown, and that makes the step fail, but I want the exception to be thrown...

Is it possible to say that that specific exception is allowed to be thrown?

[2021-12-08 10:31] veesmana commented on #180
Hi
Thank you for your helping. I understood how it working and  how I should work with it.
But I have one more question. Have we any solution to use swipe when we have more than 1 Scrollable widget in parent widget or we must to search widget only with 1 Scrollable widget inside it?

[2021-12-08 10:47] veesmana opened #183 "tests fail when the app is restarted"
Hi
Could you help me?
Our tests crash every time when the app reload in one screen. And we get this error
![error](https://user-images.githubusercontent.com/65387404/145193483-4e63e446-4ca9-40e9-8cb6-2f52544fe246.PNG)

But this widget with error declared only once in the app and it can't have any duplicate. When use flutter_gherkin_2.0.0 we hadn't this problem
Screen from terminal:
![image](https:

[2021-12-08 21:08] jonsamwell commented on #183
Is the key a static one?

[2021-12-08 21:11] jonsamwell commented on #182
This is a tricky one of a step performs an action and unlike a unit test does not wrap the code being executed rather perform an action on say a UI element that executes the code that would throw an exception.

That being said I you might be able to do something with this https://api.flutter.dev/flutter/flutter_test/WidgetTester/takeException.html?

[2021-12-08 21:14] jonsamwell commented on #180
In that case you could always just create a step that can handle this.  This is the code that performs the swipe so you could modify it to your needs in a custom step.

Step:

https://github.com/jonsamwell/flutter_gherkin/blob/integration_test__package_support/lib/src/flutter/steps/swipe_step.dart#L53

Scroll logic:

https://github.com/jonsamwell/flutter_gherkin/blob/integration_test__package_supp

[2021-12-08 21:14] #180 closed

[2021-12-09 08:53] veesmana commented on #183
Yes, it is static

[2021-12-09 10:22] jonsamwell commented on #183
Yes that will be it. As it is static is persists. The running instance is
not reloaded just the application within.  Make that an instance variable
and it will work.

On Thu, Dec 9, 2021, 19:53 veesmana ***@***.***> wrote:

[2021-12-09 18:29] AFASbart commented on #179
I see that we can maybe read the file which the feature is stored. But in my report the uri is empty. @jonsamwell Is this a known bug or?

[2021-12-09 22:57] jonsamwell commented on #179
I think this is probably something to do with the generated code not catching exceptions around the runStep code so the runStep after the one that failed are not actually ran.

[2021-12-09 22:57] #183 closed

[2021-12-13 16:24] Stephane99 commented on #171
Hi,

After successfully generating the report when at least one test is in error (thanks to the workaround proposed in the previous issue https://github.com/jonsamwell/flutter_gherkin/issues/170),
I have the same problem with flutter_gherkin version 3.0.0-rc.9:
- when the first test is in error, the report contains "Unnamed feature" as the name of the feature.
- when the second test is in error bu

[2021-12-13 22:18] jonsamwell commented on #171
@Stephane99 that would indicate there is an exception being raised and sent to the reporter before the first scenario has started executing.  Are you able to provide a reproducible repo that I can look at?

[2021-12-14 13:55] ayush-mandowara-bst opened #184 "Can we get total case count which is picked by the gherkin runner once the test file starts running?"
I want to capture the run-time progress of my suite (current_case_count/total_case_count).

[2021-12-15 11:35] veesmana opened #185 "Problem with test generation from config"
Hi
I try create file only with some tests and Create configuration like this:

_final config = TestConfiguration()
    ..features = [
      Glob(r"integration_test/features/test.feature")]
    ..reporters = [
      StdoutReporter(MessageLevel.info)
        ..setWriteLineFn(print)
        ..setWriteFn(print),
      ProgressReporter()
        ..setWriteLineFn(print)
        ..setWriteFn(print),

[2021-12-15 13:35] vrnvorona commented on #177
clean is nice solution. I am dumb so i always meddle with packages and i disabled cache retrieval completely.

[2021-12-15 13:36] vrnvorona commented on #182
I never had success with takeException in e2e compared to WidgetTests, hopefully it works in later versions of flutter maybe?

[2021-12-15 13:40] vrnvorona commented on #185
Easier to assign all tests a tag based on their features and execute only them. I remember having difficulties with Glob as well, but don't remember if i ever solved it.

[2021-12-17 15:05] AFASbart commented on #185
I have a fix for this, if you are using the rc (integration test) version, you have a piece of code (@GherkinTestSuite()) in your file.
In the brackets of that piece of code, you can (need) to specify the features path if it differs from the original path.
##### From:
[code]
##### To:

[code]

[2021-12-17 15:21] AFASbart commented on #185
I also made a pull request @jonsamwell, to make these unused variables deprecated. This should avoid these kind of issues.

(PR: #187)

[2021-12-17 15:22] AFASbart commented on #174
I have fixed this issue with the pull-request #187

[2021-12-17 23:34] yahyakara opened #188 "How Can we use flutter_gherkin on device farm ?"
Hi I am new for flutter test, I develop some tests with flutter  integration test but there is a lot of limitation on it :(
So I want to use flutter_gherkin but I want to know  Can we use flutter_gherkin on any device farm  etc ? I didn't find any document about this.

Regards

[2021-12-19 19:26] Dersh opened #189 "Example of the project doesn't work for me"
I'm running on Android and get the error.
The app is just hanging on the white screen.

[code]

Flutter doctor:
[✓] Flutter (Channel stable, 2.5.3, on macOS 11.5.2 20G95 darwin-arm, locale en-RU)
    • Flutter version 2.5.3 at /Users/dersh/sdk/flutter
    • Upstream repository https://github.com/flutter/flutter.git
    • Framework revision 18116933e7 (9 weeks ago), 2021-10-15 10:46:35 -0700
    •

[2021-12-20 00:02] yahyakara opened #190 "Test is freezing on Test Starting Screen When second Test was running"
Hi I am new for flutter testing.
I imlemented flutter_gerkhin integration test on our project.I have a  problem , problem is  the first test is running perfectly but while second test was running test is freezing on test start screen and Second test is failing on first step. I don't understand why . Please help me :)

My FlutterTestConfiguration :
[code]

[code]
I don't use any restart app functio

[2021-12-20 02:35] jonsamwell commented on #188
@yahyakara did you find a way to do this?

[2021-12-20 02:36] jonsamwell commented on #190
Looks like it cannot find any elements with the text "Continue"

[code]

[2021-12-20 02:38] jonsamwell commented on #184
dry-run is not implemented.  I could easily pass total scenario count to the reporters on test started method I think

[2021-12-20 08:28] yahyakara commented on #190
@jonsamwell Yes because test is freezing on test starting screen :/ on second test

[2021-12-20 09:47] jonsamwell commented on #190
@yahyakara please can you make a reproducing example of this as I have little to go on here apart from the exception that is raised.

[2021-12-20 11:31] veesmana commented on #185
Hello
Thank you to everyone for your advices. They are really helpful for me
@AFASbart if you already made pull request I will close my ticket

[2021-12-20 11:31] #185 closed

[2021-12-20 15:49] yahyakara commented on #190
@jonsamwell  Firstly Thanks a lot for response thank you !  I am taking this issue on our private project,

The second scenario is not waiting for the first screen of the application, and when the app is on the test start screen, the test starts searching for elements, the frst screen of application can not start while second test starts and it is freezing on test starting ...

Test is freezing th

[2021-12-20 20:22] #190 closed

[2021-12-20 20:43] jonsamwell commented on #190
OK great.  I would where possible avoid using the raw tester directly instead use the helper functions as I suspect they would avoid things like this as they pump in all the correct places.

[2021-12-21 10:23] yahyakara commented on #188
@jonsamwell No I still looking for a way I closed because I had another issue But We fixed it,
I will continue about this :) Do you have any advice? :)

[2021-12-21 12:58] skumarpk opened #191 "Failed to take screenshot Unknown method "_flutter.screenshot" is coming as error in Integration Testing in Chrome"
When I try to take screenshots with Integration Testing then it throwing an error as -
Failed to take screenshot
_flutter.screenshot: (-32601) Unknown method "_flutter.screenshot".

This issue is only occurring in Chrome browser, same code working fine with Android device and able to take screenshots.
I have followed 'https://pub.dev/packages/flutter_gherkin#screenshot' and everything working fine

[2021-12-27 05:06] gwanhyeong commented on #88
@jonsamwell

Is there any way to use this extension?

https://marketplace.visualstudio.com/items?itemName=alexkrechik.cucumberautocomplete

[2021-12-27 07:37] gwanhyeong commented on #88
Hello, @jonsamwell

This extension is compatible.
[[VSCode Extension] Cucumber (Gherkin) Full Support](https://marketplace.visualstudio.com/items?itemName=alexkrechik.cucumberautocomplete)

It doesn't support absolute routes, so library hooks are impossible.

`.vscode/settings.json`
[code]

And I haven't found a way to solve the regular expression.
[code]

[2021-12-31 10:46] yeongsheng-tan opened #193 "Could not resolve annotation @GherkinTestSuite() in `void main()`"
pubspec.yaml file added to dev_dependencies:
[code]

Added build.yaml to root of flutter 2.8.1 (dart 2.15.1) project:
[code]

Created `test_driver\integration_test_driver.dart` with contents:
[code]

Created `integration_test\features\counter.feature` with contents:
[code]

Added `integration_test\gherkin_suite_test.dart` with contents:
[code]

When run `flutter pub run build_runner build`, got er

[2022-01-11 23:42] op-perilous commented on #193
I just encountered this also, and solved it for myself by changing `gherkin_test_suite.dart` from:
[code]
to:
[code]

[2022-01-14 07:55] skazkiful commented on #164
@jonsamwell Hi, I have same problem, but I need to find widget by type. This scenario worked well in `2.0.0` version of plugin, but now I need to use `3.0.0-rc.9`. Can you help me to find widget by type?

[2022-01-18 10:03] wei-gtstudio opened #195 "wait_until_key_exists_step.dart not export in flutter_gherkin"
pre-define steps not export "wait_until_key_exists_step.dart"

[code]

[2022-01-18 10:13] jonsamwell commented on #195
Good spot I'll get it added in

[2022-01-18 22:02] yahyakara opened #196 "[Help Request] Restart app with integration test"
I have been using the integration test package for our test, I need to reset the application between scenarios and I defined hook as below,

[code]

* But with this hook, I have seen some problem, for example
When I add product to cart and the scenario is not first runned , I have get error from our cartRepository,

[code]

So I added to hook  await getIt.reset(dispose: false); function like this

[2022-01-19 08:49] #196 closed

[2022-01-19 09:37] #188 closed

[2022-01-24 20:36] yahyakara opened #197 "[Help Request] Firebase TestLab Integration"
Hi everyone, I am using the flutter gherkin rc 9 package, I wonder anyone is using firebase test lab,
 How can we run the tests on the firebase test labs. Is it possible ?
Do anyone have any advices and experience for run the tests on cloud ?

[2022-01-25 17:56] colleenvillon commented on #80
Hi @jonsamwell I have multiple flutter applications wherein I need to assert something on the other application and vice versa.
For example..
I updated a text field in the application A, and  I need to assert that it is reflected in the application B.

is this possible at the moment using flutter gherkin? Thank you so much

[2022-01-25 20:59] fodil-a commented on #193
Confirmed, we should update the documentation

[2022-01-25 21:58] yahyakara opened #198 "The first method (WidgetTester.pump) had not yet finished executing at the time that the second"
Hi everyone, I use the integration test rc 9 package for our test, If the first scenario fails I gets an error on the second test starts. I use the reset hook as below,

`@override
  Future<void> onAfterScenario(
    TestConfiguration config,
    String scenario,
    Iterable<Tag> tags,
  ) async {
    await (await SharedPreferences.getInstance()).clear();
    await getIt.reset(dispose: false);

[2022-01-27 15:12] colleenvillon commented on #170
This is really a big help! thank you so much @AFASbart

[2022-01-27 22:08] colleenvillon commented on #197
I have the same problem, I hope someone can help us with this.

[2022-01-28 09:30] haci56 commented on #197
Thats what i look for. Helpful answers would be appreciate.

[2022-01-28 15:46] colleenvillon commented on #170
@AFASbart @jonsamwell  How can we add test logs (exceptions) of failed test step on the json file? thank you

[2022-01-29 14:44] yahyakara commented on #197
@jonsamwell  Can you help 🙏

[2022-01-30 23:16] jonsamwell commented on #198
Hmmm this is suspicious?  I wonder if something when creating the app is now completing before the pumpAndSettle call?  Perhaps we don't need that pumpAndSettleCall at all?

[2022-01-30 23:18] jonsamwell commented on #197
Sorry I am really struggling to find any time at the moment.  I run my tests on AzureDevops and I have been finding then failing a bit more often now.  I think Microsoft have reduced the power of the VMs so the emulators are stuggling to run on single cores.  So I have been meaning to investigate Firebase TestLab.  Although as always it is just time I unfortunately do not have at the moment.  Help

[2022-01-30 23:19] jonsamwell commented on #191
Hmmm, It looks like there is now implementation for this method when running in a browser

[2022-01-30 23:19] jonsamwell commented on #193
@fodil-a please feel free to send through a PR :-)

[2022-02-02 00:07] jonsamwell commented on #189
This looks like a permission issue see the error `ERROR: `FileSystemException: Directory listing
failed, path = '/' (OS Error: Permission denied, errno = 13)`` what version of this library are you using?

[2022-02-04 09:06] amitkumar-qa opened #199 "Not able to generate json report using JsonReporter(path: './report.json')"
Hi,

I am using below reporters configuration :
`..reporters = [
    StdoutReporter(MessageLevel.error)
      ..setWriteLineFn(print)
      ..setWriteFn(print),
    ProgressReporter()
      ..setWriteLineFn(print)
      ..setWriteFn(print),
    TestRunSummaryReporter()
      ..setWriteLineFn(print)
      ..setWriteFn(print),
    JsonReporter(path: './report.json')
  ]`

In the end of the flutter t

[2022-02-04 10:21] jonsamwell commented on #199
It looks like a permission issue when the json file is being written to './report.json' are you running the process as a user who would be able to write a file to that location?

[2022-02-07 10:10] amitkumar-qa commented on #199
Yes, user has required access but not able to generate json file and getting same error

[2022-02-07 13:25] umangdivyanshu commented on #197
Hi @yahyakara @haci56 @colleenvillon

I am using Firebase Test Lab to run my tests.

First you have to create a MainActivityTest.java file and add native android dependencies in android/app/build.gradle file. You can get the code and follow the steps mentioned here - https://github.com/flutter/flutter/tree/master/packages/integration_test#android-device-testing

After that, you can create the apks

[2022-02-07 13:38] umangdivyanshu opened #201 "[Question] How can we get scenario status?"
Hi @jonsamwell

We can get the status of the step by using StepExecutionResult but couldn't find anything which gives the status of the scenario.

How can we determine if a scenario is Pass/Fail? I need the scenario's status? Is there anything similar to StepExecutionResult by which we can identify the status of scenario as Pass/Fail?

[2022-02-08 14:21] amitkumar-qa commented on #199
@jonsamwell One more finding is, directory is appearing as root directtory '/' instead of project directory in jsonreporter process. so code line 'Directory.current' gives root directory in json reporter
`JsonReporter(
      writeReport: (report, reportPath) async{
        print(report);
        print(reportPath);
        print(Directory.current);
)`

[2022-02-10 02:59] rizkavio21 opened #203 "Multiple scenario and app always back to home"
Hello, I try to running Flutter Gherkin Automation. However, I'm having a little trouble getting it to work by running multiple scenarios at the same time. Is it really not possible to run it with multiple scenarios at the same time without a logout step in each scenario?

Then, I tried the code `restartAppBetweenScenarios = true` but why does the application keep returning to the home page? thank

[2022-02-10 03:07] jonsamwell commented on #203
Hi, you have to handle resetting your app state after / before every test as the actual application is being run not just a widget within it.  You can do this on with a reset hook similar to the one in the sample project here https://github.com/jonsamwell/flutter_gherkin/blob/integration_test__package_support/example_with_integration_test/integration_test/gherkin/hooks/reset_app_hook.dart

[2022-02-10 03:07] #203 closed

[2022-02-10 03:22] rizkavio21 commented on #203
ok thanks means i have to add a hook huh? or can I just add the hook to my app?

[2022-02-10 03:29] jonsamwell commented on #203
You can add that hook but as each app is specific resetting the internal app state needs to be done depending on how to do that in your all.  For example you may need to clear preferences, database, navigate to login etc etc

[2022-02-10 03:30] rizkavio21 commented on #203
oke thanks, i will try it

[2022-02-10 03:39] jonsamwell commented on #203
Great!

[2022-02-11 06:15] umangdivyanshu commented on #201
Hi @jonsamwell, could you please answer to above query?

[2022-02-11 06:21] jonsamwell commented on #201
There isn't an easy way to do this yet we should probably add it to the `onAfterScenaro` hook I think https://github.com/jonsamwell/dart_gherkin/blob/master/lib/src/hooks/hook.dart#L37

Feel free to do a PR.

[2022-02-14 06:22] skumarpk commented on #191
Hi Jon,
It is still unimplemented method, can't take screenshot in browser. Any idea how long it will take to implement.

[2022-02-14 06:41] jonsamwell commented on #191
It's within the Flutter framework so it is out of my control. You could file an issue with Flutter to see when they plan to implement it or see if there is a recommended alternative approach for taking screenshots on the web?

[2022-02-15 07:55] rizkavio21 commented on #203
currently i am using flutter gherkin 2, is it support for hook? or i need update to flutter gherkin 3?

[2022-02-24 04:03] rizkavio21 commented on #203
I'm trying to use RC version `flutter_gherkin: ^3.0.0-rc.9` but got some problems like undefined name 'FlutterDriverutils' What should I do now?

[2022-02-24 04:09] jonsamwell commented on #203
@rizkavio21  FlutterDriverUtils is no longer in the RC version it relies on the driver instead `context.world.appDriver`.  See the example https://github.com/jonsamwell/flutter_gherkin/blob/integration_test__package_support/example_with_integration_test/integration_test/gherkin/steps/expect_todos_step.dart#L28

[2022-02-24 04:40] rizkavio21 commented on #203
ok i think i need to read it. how for `pre-defined step` can it be used in the RC version?

[2022-02-24 05:08] jonsamwell commented on #203
@rizkavio21 it's all on the `context.world.appDriver`

[2022-02-27 14:22] Danrusu1 opened #205 "GherkinTestRunFailedException thrown when scenario fails"
Hi,
Using flutter_gherkin 2.0.0, if a scenario fails I receive this exception
`
Terminating Flutter app under test
Unhandled exception:
Instance of 'GherkinTestRunFailedException'
#0      GherkinRunner.execute (package:gherkin/src/test_runner.dart:86:9)
<asynchronous suspension>
`
Is there any way to avoid this error?
My problem is this: I run test on Jenkins and when that error its thrown build i

[2022-03-02 06:25] amitkumar-qa opened #206 "How to start app and reset app before each gherkin scenario Run with latest integration test package?"
Hi @jonsamwell

I am using latest integration test package `flutter_gherkin: ^3.0.0-rc.9` to write gherkin tests in flutter.
I want to start app as fresh every-time before each gherkin scenario run.
Could you please check and help with it how it is possible with latest integration test package?

Thanks
Amit

[2022-03-02 10:14] jonsamwell commented on #206
See https://github.com/jonsamwell/flutter_gherkin/blob/integration_test__package_support/example_with_integration_test/integration_test/gherkin/hooks/reset_app_hook.dart

[2022-03-02 10:51] amitkumar-qa commented on #206
@jonsamwell As i followed the above link shared by you. But that code requires lots of dependencies to create such as customworld , external applicationmanager and injector etc. Please clarify if i am on right track?

Thanks
Amit

[2022-03-02 14:34] #205 closed

[2022-03-03 02:42] jonsamwell commented on #206
@amitkumar-qa the linked code is quite a robust pattern but you are correct it add complexity.  Depending on your app you might just need to clear shared preferences and return to the login screen.  If it is simple enough you could just do it all in the hook itself.

[code]

[2022-03-03 06:46] amitkumar-qa commented on #206
@jonsamwell Thank you so much for providing the context. Any idea by when integration test support will be fully available as part of RC?

[2022-03-03 09:22] jonsamwell commented on #206
The RC is ready to go I just need to find some time to get the documentation up-to-date.  Feel free to do a PR.

[2022-03-03 09:22] #206 closed

[2022-03-03 10:12] amitkumar-qa commented on #206
Thank you @jonsamwell

[2022-03-09 13:38] vpkhachane commented on #14
@jonsamwell  I am trying to generate html report but facing issue. Please help me

import 'dart:async';
import 'package:flutter_gherkin/flutter_gherkin.dart';
import 'package:gherkin/gherkin.dart';
import 'package:glob/glob.dart';
import '../stepDefinitions/login_stepDef.dart';

Future<void> main() {
  final config = FlutterTestConfiguration()
    ..features = [Glob(r"test_driver/features/**.featu

[2022-03-10 00:42] jonsamwell commented on #14
Looks like you just have the wrong path your check where the report.json is being saved to

[2022-03-12 18:48] snakebyte3d opened #207 "Migrate from flutter_driver to integration_test package"
Can you please update  dependencies so that it works with latest versions of analyzer package, especially 3.0.0+?

[2022-03-14 08:27] snakebyte3d commented on #207
Changed to subject from "Analyzer ^3.0.0 support" to "Migrate from flutter_driver to integration_test package" to properly describe the root cause rather than the effect. Without doing these changes the new build_runner cannot be used which makes development with the new packages that depend on code generation impossible.

[2022-03-14 20:54] jonsamwell commented on #207
@snakebyte3d see https://pub.dev/packages/flutter_gherkin/versions/3.0.0-rc.9

It is ready to go but the documentation needs to be updated.  Feel free to do a PR for the documentation then this can become the main version

[2022-03-14 20:54] #207 closed

[2022-03-15 06:51] appAutoTesting opened #208 "How to launch Pre-Installed app and run test"
Is there an option to test the pre-installed app instead of calling the main()/runApp() function in the app.dart file and pointing it as '**targetAppPath**' ?

I'm writing automation test for our flutter app, where i have used flutter_gherkin, my requirement is to not depend the developers code and run the test by installing .apk/.ipa file OR by launching the pre-installed app?..

Can someone plea

[2022-03-15 07:23] jonsamwell commented on #208
Unfortunately this is not possible as the app has to have the integration_test version as the tests are effectively compiled in and you would not want to release that.  With the flutter_driver version I still don't think it is as you still need to enable the `enableFlutterDriverExtension()` in the main entry point.

Although if the app is pre-installed with the test code in t might be worth having

[2022-03-16 00:39] vhoang1102 opened #209 "Why it throws out the error "waitForCondition message is taking a long time to complete""
Hello all,
Sometimes I run the test and it shows this error message, then terminating the test. I observe that every time the test login to my app, if there is a particular widget (this widget appears randomly), this issue happens. I try to open the log and see that it's failed due to wait "NoTransientCallbacksCondition".

So my question is how can I disable this waiting? Or what's wrong with this

[2022-03-19 03:07] zpsean opened #210 "Enhance the screenshot to support Chrome (and other browsers)"
As stated in https://github.com/jonsamwell/flutter_gherkin/issues/191. Currently the flutter_gherkin has issue to define the step for screenshot on Chrome (and other browsers).

[**Note**: for web, flutter web can not take screenshot by itself, it will notify the flutter_driver, then flutter_driver notify the chromedriver to tell Chrome to take screenshot with API call, after done, the flutter_dri

[2022-03-20 09:53] jonsamwell commented on #210
Thanks @zpsean the binding variable is probably something that should be given the the driver adapter class.  I'll try and look into the next week.  Thanks for the pseudocode

[2022-03-20 09:54] jonsamwell commented on #210
We should probably pass it to the adapter here

https://github.com/jonsamwell/flutter_gherkin/blob/1913832893576e391cf48b0953b62079177190da/lib/src/flutter/runners/gherkin_integration_test_runner.dart#L248

Then for the above screenshot logic in the adapter rather than the step definition / hook

[2022-03-22 04:16] vhoang1102 opened #211 "How to set environment variables from command line"
Hi all,

I'm looking for a way to set environment variables from command line, I have tried with "--dart-define" but not successfully. My running test command is "`dart app_test.dart`", so I expect something like "`dart app_test.dart -e DATADOG=true`"

Thanks

[2022-03-22 04:25] jonsamwell commented on #211
This is how I am going it using the RC release

[code]

[2022-03-22 04:25] #211 closed

[2022-03-22 04:50] skumar11pk opened #212 "How to pass multiple tags in configuration.dart ?"
I am using the below format and getting the error:

Feature File:
@smoke
  Scenario: User test
  Given I test it

@regression
  Scenario: User test
  Given I test it

Format:
..tagExpression = '@smoke and @regression'

Getting error in console:
Ignoring scenario `User test` as tag expression `@smoke and @regression` not satisfied

[2022-03-22 04:57] jonsamwell commented on #212
That is expected as it is boolean logic. None of the tests have both the @smoke and @regression tag.  You want to use the or conjunction.

[code]

[2022-03-22 04:57] #212 closed

[2022-03-23 00:55] zpsean commented on #210
I'm considering for screenshot, we may have below 3 scenarios:
- Implicitly: take screenshot for all Failed steps [currently in hooks]
- Implicitly: take screenshot for all steps
- Explicitly: User may want to define his own steps to take screenshot as required (like. When I take screenshot 'screenshot-homepage-01')

[2022-03-23 23:23] jonsamwell commented on #210
Yes this covers most scenarios I think

[2022-03-24 06:29] appAutoTesting opened #213 "How to use flutter_gherkin for flutter desktop app"
Hi, I'm using flutter_gherkin for our flutter mobile app automation and I would like to use the same for desktop app.. but currently when i try to run it says

"More than one device connected; please specify a device with the '-d <deviceId>' flag, or use '-d all' to act on all devices."

Though i gave '-d windows' still the test was not kickstarting and it was throwing the same above error... Is t

[2022-03-24 08:20] appAutoTesting commented on #213
I disabled the web config and now my test is running on desktop app :)

[2022-03-24 17:32] gokul17 opened #214 "How to send graphql queries from feature file and validate the response in step definition?"
I want to send graphql query through feature file and validate the response in steps. Could you please add it in examples?

[2022-03-24 22:12] jonsamwell commented on #214
Please read the documentation.  When you create a custom step you can put any code you want in it.

[2022-03-24 22:12] #214 closed

[2022-03-24 22:13] jonsamwell commented on #213
Great glad you got it working!

[2022-03-24 22:13] #213 closed

[2022-03-24 22:13] jonsamwell commented on #208
Did you have any luck with researching this?

[2022-03-24 22:13] #208 closed

[2022-04-05 19:09] Stephane99 opened #216 "Be able to add text to the JSON report"
Hi,

How can I add more details in the report using world.attach()?

When a step is in error, I get the screenshot in the json file, and in the Html report (generated with Cucumber HTML Reporter).

Sometimes the step is in error when comparing an array of values with expect().
In this case I would like to get the results of the expect() in the report.

I tried to add text to JSON file with world.a

[2022-04-08 09:15] youssef-t opened #217 "Tests not starting if the application has an infinite loop animation in the first view"
Hello everyone,

I am using the integration test package version of flutter_gherkin.
In order to configure the tests, we have to specify the entry point to the application (its main function) in the function `executeTestSuite`.

At the start of the test execution, the main function of the application is called using the method `startApp` contained in the following file: [https://github.com/jonsamw

[2022-04-08 09:31] jonsamwell commented on #217
Hi,

Yes this is a good point, I think there is a similar issue resolved in this PR that could be worth thinking about - instead of implicitly calling pumpAndSettle on every action (including startup) let the implementor have more control over this somehow?

https://github.com/jonsamwell/flutter_gherkin/pull/204/files

I'll give it some thought

[2022-04-11 11:22] olerudyshyn opened #218 "Retry test scenario in case of failure"
Does flutter_gherkin supports test scenario retry in case of failure? Let's say I would like to retry test up to 3 times if it fails, since the test could be flaky due to long wait of data from third party service(some times).

[2022-04-11 22:18] jonsamwell commented on #218
Yes this would be something good to get in

[2022-04-17 09:01] amitkumar-qa opened #219 "-- AppModule DISPOSED error after first scenario run and no further scenario gets executed"
Hi @jonsamwell

In my feature file there are more than one scenario , but i am not able to run all scenarios as it runs only first scenario and after that getting  -- AppModule DISPOSED error due to which next scenario doesnt run.
Note: I am using integration test package with latest RC build -flutter_gherkin

[2022-04-17 21:13] jonsamwell commented on #219
This sounds like a problem with your application rather than the library.
Remember all tests are atomic so your app is restarted after every test.
Perhaps you have some static dependencies that are not reset? If you can
provide a simple code sample that reproduces the error that would be good.

On Sun, Apr 17, 2022, 7:01 PM amitkumar-qa ***@***.***> wrote:

[2022-04-18 04:54] amitkumar-qa commented on #219
@jonsamwell
Sample code:

1. Gherkin suite test dart file:
`import 'package:gherkin/gherkin.dart';

// The application under test.
import 'package:appPackage/main.dart' as app;

import 'gherkin/configuration.dart';

part 'gherkin_suite_test.g.dart';

@GherkinTestSuite()
void main() {
  executeTestSuite(
    gherkinTestConfiguration,
        (World world) => app.main(),
  );
}`

2. Feature file:
`F

[2022-04-18 07:24] jonsamwell commented on #219
@amitkumar-qa I am afraid there isn't enough to go on here.  The problem is clearing in your app code.  If you can create a sample repo with this problem I can take a look.  As I mentioned before it looks like in your AppModule disposed isn't being handled correctly indicating you might have some statics somewhere?

[2022-04-19 12:32] amitkumar-qa commented on #219
@jonsamwell We are using modular structure in our app code :
Sample main.dart look like this:

[2022-05-03 08:52] AFASbart commented on #218
I have been working on this part for a bit, I hope to finish this in the near future. If anyone wants to also work on this, I can add you to the repository

[2022-05-03 08:54] AFASbart commented on #193
This issue has been resolved with #215.

[2022-05-03 08:55] #193 closed

[2022-05-03 09:42] jonsamwell commented on #218
@AFASbart this would be excellent

[2022-05-03 17:54] AFASbart commented on #201
I have fixed this, this will now get added send to the hook but also added to the default JSON reporter. I will create PR tonight.

[2022-05-03 17:55] AFASbart commented on #218
I have made this, it seems to work and it can be configurable. I will create a PR tonight.

[2022-05-03 17:56] AFASbart commented on #189
This is indeed a permission / configuration error. I have started the example project but I am getting errors of an outdated version of Kotlin / Android SDK. I think it should be a good idea to create a version with the latest versions? @jonsamwell

[2022-05-03 17:56] AFASbart commented on #179
I have created this function, it will now be seen as a skipped step in the JSON report (and hooks).

[2022-05-03 18:36] AFASbart commented on #154
[code]

On verbose these are my latest logs. It only does this when I run it with a launch.json command:

[code]

But when I run it with the commands (flutter drive), it does exit the driver.

[2022-05-04 10:57] youssef-t opened #222 "Single quotation marks in data table are not being espaced"
(package version: flutter_gherkin: ^3.0.0-rc.9)

If there is a single quotation mark in a data table, it will not be escaped and the test file will not generated as a result.

Let's take for example the following feature file:
[code]

When we try generate  the test file, we get the following error:
[code]

[2022-05-05 09:04] jonsamwell commented on #222
Thanks for this we'll get a fix in

[2022-05-06 04:39] umangdivyanshu commented on #201
Thanks @AFASbart for working on this.

[2022-05-06 13:34] amitkumar-qa commented on #219
@jonsamwell found an alternative solution by changing some code in main function of the app. Thank you for your support

[2022-05-06 13:34] #219 closed

[2022-05-06 13:36] amitkumar-qa opened #223 "How to run flutter gherkin test in any of the available cloud platform such as aws/ browserstack or firbase test lab ?"
@jonsamwell Any clue or idea would be appreciable. As we want to run gherkin tests in range of devices to check pur app quality

[2022-05-11 15:29] linchen2chris opened #224 "test exit without failed but didn't execute all scenario"
Hi, I put a tests which have 34 test scenarios, but it will exit after only run 5 or 6 scenarios, I check the report and find the scenarios are all success, I can't understand why this happen

[2022-05-13 07:12] youssef-t opened #225 "[Bug] JsonReporter with data tables containing null values"
Version: flutter_gherkin 3.0.0-rc.9
Flutter 2.10.5
Dart 2.16.3

Hello everyone,

When JsonReporter is used with a feature file containing a data table with null values, the following error is thrown at the start of the test (when the reporter is called for the first time) and test stops:

[code]

An example of a feature file reproducing the bug:
[code]

The step "I see the following users" is defi

[2022-05-16 12:51] SashaKryzh commented on #164
@skazkiful to answer your question, you could read the above response. In short, it will never work. It worked in `2.0.0` because at that time it used flutter_driver, but the same thing is impossible in the new version with integration_test. It is so because **flutter_driver** `find.byType()` argument is string and **widget_tester** `find.byType()` argument is actual type.

[2022-05-16 12:58] golane-august opened #226 "Branch `integration_test__package_support` not compatible with `dart_gherkin`"
Hey there,
since there is a version restriction for package dependency, I wanted to make a [PR](https://github.com/jonsamwell/flutter_gherkin/pull/227) to solve this to be compatible to other dependencies in my app.
So I wanted to compile the project for `integration_test__package_support` , but either dart_`gherkin` version `2.0.8` nor the master branch `git: 'https://github.com/jonsamwell/dart_g

[2022-05-16 14:03] SashaKryzh commented on #164
**POSSIBLE SOLUTION**

It is possible to define String -> Type mapper and then use it to convert String arguments to the actual type. This way it would work with the newest version 3.*

[code]

[code]

The downside is that for every type you should manually add a mapper entry. Or create a code generator :)

[2022-05-23 07:50] thekucays commented on #209
is that randomly appeared widget blocks the widget you expecting? making your expected widgets pushed down so you need to scroll down for example?

if so then maybe you could create some conditional for it, if that random widget existed then do something first before clicking or typing or whatever you want to perform

or maybe you just have to wait longer because that random widget makes the app l

[2022-06-14 05:56] umangdivyanshu commented on #223
Hi @amitkumar-qa

First you have to create a MainActivityTest.java file and add native android dependencies in android/app/build.gradle file. You can get the code and follow the steps mentioned here - https://github.com/flutter/flutter/tree/master/packages/integration_test#android-device-testing

After that, you can create the apks using below commands and upload on Firebase Test Lab to run an ins

[2022-06-14 06:01] umangdivyanshu opened #228 "[Question] How can we add the device and os version in the JSON report?"
Hi @jonsamwell

I am trying to add the device info into the report. I am able to get the device info using device_info_plus package but how could I add this info into the json/html report during runtime?

Thanks in advance.

[2022-06-15 09:57] cjmeyer-polymorph opened #229 "My scenario fails at the point where I tap a button, even though the button is successfully tapped"
I wrote a scenario where in the middle it says "And I tap the 'continue_sign_in_button' button"

It actually taps the button and loads the next screen, but then it doesn't do anything on the next screen because it says `× And I tap the
'continue_sign_in_button' button # :0 took
104ms
Exception: Bad state: No element`

Can I maybe set it up to continue despite exception?

[2022-06-17 04:44] jonsamwell commented on #226
Hi @golane-august I'm taking a look at this now

[2022-06-17 05:00] jonsamwell commented on #225
@youssef-t I can't seem to replicate this in the latest dart_gherkin release.  We'll be updating this library soon, there has been a lot work around the json reporter to quite possibly it was fixed

[2022-06-20 07:15] amitkumar-qa opened #231 "Exception: Guarded function conflict error during tap in latest RC 3.0.0-rc.9"
@jonsamwell Getting error while taping on element in android ,
Below function gives error:
Future<void> selectClientDetails(String contactName) async { await appDriver.tap(clientDropdown); }
In above function appDriver is object of AppDriverAdapter.

Error below:

`I/flutter ( 7983): × Then User selects client "[test@test.com](mailto:test@test.com)" # :0 took 3ms
I/flutter ( 7983): Exception: Guar

[2022-06-20 07:22] jonsamwell commented on #231
@amitkumar-qa could you add your code here for that step.  I can't see any unawaited calls to pumpAndSettle

[2022-06-20 07:47] jonsamwell commented on #231
Actually I think this is solved by this PR #230

You could try that branch and see if you experience the same issue

[2022-06-20 07:51] jonsamwell commented on #229
This suggests the button does not have the key `continue_sign_in_button` or it is not present at the time of tap

[2022-06-20 07:54] cjmeyer-polymorph commented on #229
Thanks for the help. No, I changed it to the key selection after the "contains "Continue"" did the same thing, and it does have the key. And it does click the button, when I remove that line it doesn't click the button, so it finds it but then fails for no reason.

[2022-06-20 08:01] cjmeyer-polymorph commented on #229
[code]

[2022-06-20 08:07] amitkumar-qa commented on #231
@jonsamwell Yes might be, leme try this branch

[2022-06-20 08:07] cjmeyer-polymorph commented on #229
`
Feature: Sign in
    Using a test user to sign in to the dashboard

    Scenario: Sign in works
        Given I tap the label that contains the text "Sign In"
        And I fill the 'email_address_input' field with 'test@test.com'
        And I fill the 'password_input' field with 'password'
        And I tap the 'continue_sign_in_button' button
        Then I expect the widget 'bitcoin_price_wi

[2022-06-20 08:26] jonsamwell commented on #229
Hmmm, interesting can you run it with the logging set to verbose to see what is happening.

https://github.com/jonsamwell/flutter_gherkin/blob/integration_test__package_support/example_with_integration_test/integration_test/gherkin/configuration.dart#L29

It might be worth trying with this branch as it fixes a number of stability errors

https://github.com/jonsamwell/flutter_gherkin/tree/dart-3.0s

[2022-06-20 08:43] WernerRaathAtPolymorph commented on #229
I can confirm the exception being thrown was as follows (using the dart-3.0support branch):
[code]

[2022-06-20 08:43] cjmeyer-polymorph commented on #229
Unfortunately still get the same error with   gherkin: ^3.0.0+1 and
flutter_gherkin:
    git:
      url: https://github.com/jonsamwell/flutter_gherkin.git
      ref: dart-3.0support

[2022-06-20 08:45] jonsamwell commented on #229
@cjmeyer-polymorph @WernerRaathAtPolymorph are either of you able to do a reproducing project so I can dig into this? We have tests that cover the `I tap the button that contains the text` step which are passing

[2022-06-20 09:37] amitkumar-qa opened #232 "Missing plugin exception in latest RC"
@jonsamwell I suddenly started getting missing plugin error while running flutter gherkin tests.
Till last week it was working fine. Any idea on below error:

`Failure in method: Create Invoice with non integrated stripe account Examples: (1)
══╡ EXCEPTION CAUGHT BY FLUTTER TEST FRAMEWORK ╞═════════════════
The following MissingPluginException was thrown running a test:
MissingPluginException(No i

[2022-06-20 15:32] cjmeyer-polymorph commented on #229
Hi, unfortunately I don't think I'll be able to share the code. But thank you so much for your help, really appreciate it. I see #231 might be a similar issue?

[2022-06-21 09:48] amitkumar-qa commented on #232
@jonsamwell Closing this issue as it was due to flutter 3, Resolved with flutter 3 upgrade

[2022-06-21 09:48] #232 closed

[2022-06-22 12:13] WernerRaathAtPolymorph opened #233 "Q: Why does each Scenario run all steps for the previous scenarios before its own within a feature?"
Is there a way to override this behaviour?

[2022-06-22 12:26] WernerRaathAtPolymorph opened #234 "Feature Request: Cucumber `Background`"
I think it would make a lot of sense to implement the Cucumber `Background` keyword. Is this something down the roadmap?

Official Gherkin reference: https://cucumber.io/docs/gherkin/reference/#background

[2022-06-22 22:43] jonsamwell commented on #234
@WernerRaathAtPolymorph we do already have support for the background keyword.

see https://github.com/jonsamwell/dart_gherkin/blob/master/example/features/calculator_background_example.feature

[2022-06-22 22:44] jonsamwell commented on #233
@WernerRaathAtPolymorph Could you clarify what you mean by this? A scenario should only run the steps contained within it unless there is a background keyword preceding it.

[2022-06-23 03:44] jonsamwell commented on #231
@amitkumar-qa could you give this a go in the latest rc relesae `3.0.0-rc.10`?

[2022-06-23 03:45] jonsamwell commented on #226
Should be fixed in the latest release `3.0.0-rc.10`

[2022-06-23 03:45] #226 closed

[2022-06-23 03:45] jonsamwell commented on #225
Should be fixed in the latest release `3.0.0-rc.10`

[2022-06-23 03:45] jonsamwell commented on #224
Could you try again in the latest release `3.0.0-rc.10`

[2022-06-23 03:46] jonsamwell commented on #218
Should be fixed in the latest release `3.0.0-rc.10`

[2022-06-23 03:46] #218 closed

[2022-06-23 03:47] jonsamwell commented on #217
Should be fixed in the latest release `3.0.0-rc.10`

Although the app needs to pump after it is created to initialise but the new release buts a duration and timeout on the pump and settle

[2022-06-23 03:47] #217 closed

[2022-06-23 03:47] jonsamwell commented on #210
Should be fixed in the latest release `3.0.0-rc.10`

[2022-06-23 03:47] #210 closed

[2022-06-23 03:47] jonsamwell commented on #209
Should be fixed in the latest release `3.0.0-rc.10`

[2022-06-23 03:47] #209 closed

[2022-06-23 03:48] jonsamwell commented on #198
Should be fixed in the latest release `3.0.0-rc.10`

[2022-06-23 03:48] #198 closed

[2022-06-23 03:48] jonsamwell commented on #195
Should be fixed in the latest release `3.0.0-rc.10`

[2022-06-23 03:48] #195 closed

[2022-06-23 03:48] jonsamwell commented on #191
Should be fixed in the latest release `3.0.0-rc.10`

[2022-06-23 03:48] #191 closed

[2022-06-23 03:48] jonsamwell commented on #189
Should be fixed in the latest release `3.0.0-rc.10`

[2022-06-23 03:48] #189 closed

[2022-06-23 03:48] jonsamwell commented on #179
Should be fixed in the latest release `3.0.0-rc.10`

[2022-06-23 03:48] #179 closed

[2022-06-23 03:49] amitkumar-qa commented on #231
@jonsamwell Sure , let me check

[2022-06-23 03:50] jonsamwell commented on #101
Latest release is the final one before we push this to the main release see `3.0.0-rc.10`

[2022-06-23 03:52] jonsamwell commented on #101
@vrnvorona I know there are overall timeout limits to execution so perhaps you are encountering this? You could try setting `scenarioExecutionTimeout` to more than 10 minutes on the `GherkinIntegrationTestRunner` which sets the timeout on the `testWidgets` function

[2022-06-23 05:02] jonsamwell commented on #231
Thanks

[2022-06-23 06:49] jonsamwell commented on #233
Thanks for this it's perfect! I wish everyone did this!

It's odd, we have tests that cover more than one scenario is a single feature file so I am not sure why this doesn't work.  I'll have time to look at this tomorrow.

[2022-06-23 07:39] vrnvorona commented on #101
Thanks for tip. For me it's not that issue, because for example iOS can run for 90 mins and pass all tests, while android can fail, say, on 45 minute mark. This is consistent for that _specific device_, but different across different devices (as if performance/memory). And it is not producing timeout errors, just crashes.

Well it was more like a curiosity, because high chance problem was in us us

[2022-06-23 07:53] jonsamwell commented on #101
Perhaps there is a memory leak in the app somewhere?

[2022-06-23 07:56] vrnvorona commented on #101
Could be, but after upgrade to 2.10 it seems fine. I've found several issues on main flutter repo about leaking driver messaging or sth.

[2022-06-23 08:12] jonsamwell commented on #101
Yeah sounds likely, the driver code isn't their best work unfortunately.

[2022-06-23 08:40] WernerRaathAtPolymorph commented on #231
FYI If you create your own step file using the exact same code as for [tap_widget_with_text_step.dart](https://github.com/jonsamwell/flutter_gherkin/blob/integration_test__package_support/lib/src/flutter/steps/tap_widget_with_text_step.dart), rename all cases of `tap` to something like `click` and omit the `await context.world.appDriver.waitForAppToSettle();` line, it actually succeeds.

I believe

[2022-06-23 08:46] WernerRaathAtPolymorph commented on #231
I can confirm that this error happens before Scenarios as well. This issue is also intermittent. Could be a race condition?

[2022-06-24 01:35] jonsamwell commented on #153
Fixed in latest RC release

[2022-06-24 01:35] #153 closed

[2022-06-24 01:36] #174 closed

[2022-06-24 01:38] jonsamwell commented on #171
Could you try this in the latest rc release?

[2022-06-24 02:27] jonsamwell commented on #233
Fixed in 3.0,0-rc-11

[2022-06-24 02:27] #233 closed

[2022-06-24 02:27] jonsamwell commented on #231
Should be fixed in Fixed in 3.0,0-rc-11

[2022-06-24 02:27] #231 closed

[2022-06-24 02:28] jonsamwell commented on #229
Fixed in 3.0,0-rc-11

[2022-06-24 02:28] #229 closed

[2022-06-24 02:29] jonsamwell commented on #224
Can you give this a go in the latest release 3.0,0-rc-11 and include the verbose output if it is still failing

[2022-06-24 04:12] #154 closed

[2022-06-24 04:14] jonsamwell commented on #222
Fixed in 3.0.0-rc.12

[2022-06-24 04:14] #222 closed

[2022-06-24 07:58] amitkumar-qa opened #235 "Error while taking screenshot after step in 3.0,0-rc-11"
@jonsamwell Getting error while taking screenshot after step execution, Could you please provide work around ASAP if possible because reports without screenshots doesnt make much sense?
 Note:-in 3.0,0-rc-9 , It was working fine.

Sample code and error below:
AttachScreenshotStepHook.onAfterStep function:

[code]

`tter (15208): └────────────────────────────────────────────────────────────────────

[2022-06-24 09:07] jonsamwell commented on #235
What devices are the tests running on?

On Fri, Jun 24, 2022, 5:58 PM amitkumar-qa ***@***.***> wrote:

[2022-06-24 10:13] jonsamwell commented on #231
You should be able to set the configuration parameter  `
waitImplicitlyAfterAction`
to false to stop the implicit pump and settle actions.

On Fri, Jun 24, 2022, 6:00 PM amitkumar-qa ***@***.***> wrote:

[2022-06-24 11:34] amitkumar-qa commented on #235
@jonsamwell Pixel 5 and pixel 2 on emulators, and pixel 6 on real device.

[2022-06-24 11:45] cjmeyer-polymorph commented on #229
Thank you for all your work

[2022-06-24 19:19] WernerRaathAtPolymorph opened #236 "Q: Call in-app code within hook"
So I see in the `example_with_integration_test` that you create a CustomWorld and call in-app code by injecting the app with an external application manager.

I'm a bit stuck understanding how to do something similar for my app. I know how to handle the tag logic, but where I'm stuck is how to call in-app code.

I specifically want to create both login and logout hooks, since writing steps for eac

[2022-06-27 01:03] jonsamwell commented on #236
@WernerRaathAtPolymorph use are effectively in the app so you can call any service / action in your app.  For instance the authentication service to login / logout.  The external application manger example is just a wrapper around doing this.  This of course is much easier if you are using injection etc

[2022-06-27 01:42] jonsamwell commented on #235
@amitkumar-qa it seems that on Android this functionality is actually broken / not implemented in the flutter intergration_test library see https://github.com/flutter/flutter/issues/92381.

So I am not really sure what I can do here at the moment as it seems you can only take one screenshot per test because of this issue.

[2022-06-27 02:42] jonsamwell commented on #235
@amitkumar-qa I've replaced the old screenshot code for now so see if this works for you

[2022-06-27 02:42] #235 closed

[2022-06-27 02:43] jonsamwell commented on #224
Closing for now.  Feel free to re-open with reproduction steps

[2022-06-27 02:43] #224 closed

[2022-06-27 02:44] #171 closed

[2022-06-27 02:44] jonsamwell commented on #170
Closing as the example project now includes code to deal with this

[2022-06-27 02:44] #170 closed

[2022-06-27 15:19] golane-august opened #237 "bug: flutter driver tests not working on web [3.0.0-rc.13]"
When I execute the command:
[code]
the web driver cannot be executed leading to following error messages, but only on Web:
[code]

The reason is adding "dart:html" in these two files via 0961916daa100bd08782784d8c03daa94b8e31db:
- [lib/src/flutter/adapters/widget_tester_app_driver_adapter.dart](https://github.com/jonsamwell/flutter_gherkin/commit/0961916daa100bd08782784d8c03daa94b8e31db#diff-5ced6

[2022-06-27 22:33] jonsamwell commented on #237
@golane-august I don't have any experience with flutter on the web so I perhaps wrongly thought that dart:io is not available on the web thus a conditional import was needed.  Do you have any suggestions for a fix?

[2022-06-27 23:07] jonsamwell commented on #237
@golane-august please give the latest rc release a go 3.0.0-rc.14

I need to spend some time updating the sample app so we can run it on all platforms

[2022-06-27 23:07] #237 closed

[2022-06-28 09:13] amitkumar-qa opened #238 "Afterscenario hook keep on running if any expect condition gets failed in scenario step"
Expect condition func:
Future<void> verifyInvoiceDetailsPageDisplay() async {
    expect(find.text(Strings.newInvoice), findsOneWidget);
  }

Expect condition failure log:

`I/flutter ( 1151): │ 💡 onAfterStep 'Then Verify user sees invoice details page' StepExecutionResult.error
I/flutter ( 1151): └────────────────────────────────────────────────────────────────────────────────────────────────────

[2022-06-28 10:12] amitkumar-qa commented on #238
One more point:
In case of any issue with StepExecutionResult , same above issue happening , run keeps running infinite time:
`onAfterStep 'Then User selects client "' StepExecutionResult.error
`

[2022-06-28 12:48] amitkumar-qa commented on #235
@jonsamwell Screenshots are appearing but complete screen is not visible in screenshots instead it is showing like zoomed image screen shot which only display left portion of the screen
<img width="532" alt="Screenshot 2022-06-28 at 6 17 45 PM" src="https://user-images.githubusercontent.com/94505953/176182232-8277d0f4-5797-443b-99f2-411fbdb554a5.png">
Requesting your help to fix this.

[2022-06-28 14:57] amitkumar-qa commented on #231
@jonsamwell I tried with waitImplicitlyAfterAction`=true.
Even after i am getting below error

`══╡ EXCEPTION CAUGHT BY FLUTTER TEST FRAMEWORK ╞═════════════════
The following assertion was thrown running a test:
Guarded function conflict.
You must use "await" with all Future-returning test APIs.
The guarded method "pumpAndSettle" from class WidgetTester was
called from
package:flutter_gherkin/src

[2022-06-29 01:50] jonsamwell commented on #231
@amitkumar-qa try the new rc-15 release, I've removed the default frame binding policy as it was set to benchmarking which can not schedule all frames.

[2022-06-29 01:58] jonsamwell commented on #235
@amitkumar-qa I've tried for a bit but cannot fix this.  It seems the layer that is being turned into an image (the parent layer) thinks it is smaller than the viewport size.

[2022-06-29 04:53] amitkumar-qa commented on #231
@jonsamwell I will check and update you on this soon

[2022-06-29 23:43] f3z0 opened #239 "No support for --no-sound-null-safety"
I have a project which I migrated to null-safety however it had one dependency which had no null-safety support. The project runs fine with `--no-sound-null-safety` option however trying to run the tests would fail and would not produce any output as to why it was failing. Here you can see what I mean:
[code]

After struggling on this for a few hours I had a hunch it might be silently failing beca

[2022-06-29 23:48] jonsamwell commented on #239
@f3z0 thank you for reporting this.  Are you using the current rc version of the library or the current (soon to be depricated) fluter driver based version?

[2022-06-30 11:16] amitkumar-qa commented on #235
@jonsamwell It was work fine 3.0,0-rc-9, Could you please revert the screenshot code as fix if possible ? Otherwise it will be difficult for our test report without screenshots.
Looking forward to hearing from you soon

[2022-06-30 22:08] jonsamwell commented on #238
@amitkumar-qa I am not quite sure what the error is here? Please create a reproducible sample I can debug.  Thanks

[2022-06-30 22:10] jonsamwell commented on #228
You can add a report attachments

[code]

[2022-06-30 22:10] #228 closed

[2022-06-30 22:13] jonsamwell commented on #201
Fixed in the latest rc version (see https://github.com/jonsamwell/dart_gherkin/blob/master/lib/src/hooks/hook.dart#L49)

[2022-06-30 22:13] #201 closed

[2022-07-01 03:27] jonsamwell commented on #216
I think this is now doing what you want.  The exceptions or `expect` failure reasons are now added to the json report.  Please get the latest rc version 3.0.0-rc.16

![image](https://user-images.githubusercontent.com/3694497/176817638-eb6e251b-aea2-4767-96fe-5a2601f0f4e4.png)

[2022-07-01 03:27] #216 closed

[2022-07-01 03:28] jonsamwell commented on #177
Closing and current suggested workflow is

[code]

[2022-07-01 03:28] #177 closed

[2022-07-01 03:29] jonsamwell commented on #235
@youssef-t thanks for the pointer, that seems to work using the local coordinate system.  The is release in version 3.0.0-rc.16

[2022-07-01 04:54] amitkumar-qa commented on #235
@jonsamwell works like a charm in 3.0.0-rc.16
@youssef-t Really appreciate your suggestion.

Thanks guys

[2022-07-01 08:13] amitkumar-qa commented on #238
@jonsamwell
Ex:
When you select a country from dropdown , you expect one widget with a country name , if widget is not available there , then after scenario keep on running:
Ex:
`Future<void> selectCountry(String countryName) async {
    await appDriver.tap(countryDropdown);
    expect(find.text(countryName), findsOneWidget);
  }`
In above function , if countryname is not visible in dropdown then

[2022-07-01 08:29] jonsamwell commented on #238
Could you try on the latest version I have just published? I have a test that almost replicated this in the latest release so are you able to do a minimal code reproduction I can debug?

[2022-07-01 08:32] amitkumar-qa commented on #238
@jonsamwell I tested it on 3.0.0-rc.16 now and same results as above recently mentioned

[2022-07-01 08:33] jonsamwell commented on #238
OK, I'll wait for you to produce a sample that displays this error so I can debug

[2022-07-01 12:08] youssef-t commented on #225
Thanks a lot !

[2022-07-03 14:31] Ekhart86 opened #240 "waitImplicitlyAfterAction parameter does not work"
Hi, I am using the latest version of flutter_gherkin 3.0.0-rc.16. I have a lot of endless animations in my application and despite the fact that the waitImplicitlyAfterAction: false parameter was added, it does not help me, and my tests continue to hang for 10 minutes due to the pumpAndSettle() method.
I had to modify the _appLifecyclePhasePumper method to somehow solve this problem. Please fix th

[2022-07-03 23:12] jonsamwell commented on #240
@Ekhart86 you can provide your own appLifecyclePumpHandler function rather than modifying the code.  In your case it'll probably just be a no op.

[code]

[2022-07-03 23:12] #240 closed

[2022-07-03 23:20] jonsamwell commented on #169
@zaralockheart you can already run tests based on tags. Furthermore you can provide expressions to tags i.e. `@smoke and not @payment` etc

@AFASbart do you still have this requirement? I am not sure this is in the gherkin spec?

[2022-07-03 23:21] jonsamwell commented on #175
I'm closing this for now as I think code generation is a pretty common think in dart now

[2022-07-03 23:21] #175 closed

[2022-07-04 02:27] Ekhart86 commented on #240
Yes, you're right. I did not notice that it is possible to pass the appLifecyclePumpHandler from the executeTestSuite() function. This will solve the issue without interfering with the code. You can close the question, sorry)

[2022-07-04 02:42] jonsamwell commented on #240
I'll add comments for the parameters on the `executeTestSuite()` to help users

[2022-07-04 10:24] Ekhart86 opened #241 "Path in the test_suite_runner.g.dart file"
Hi! please tell me about the paths that are generated in the g.dart file. They are all generated from the user's home folder, and the console writes paths from my home folder, but not only I will run the tests, and the paths will be incorrect for others.

How can this be fixed?

<img width="1103" alt="Снимок экрана 2022-07-04 в 14 22 16" src="https://user-images.githubusercontent.com/25115868/1771

[2022-07-04 10:39] jonsamwell commented on #241
Please check the changelog but the path can be made relative by setting the
property on the GherkinTestSuite attribute.

https://github.com/jonsamwell/flutter_gherkin/blob/integration_test__package_support/CHANGELOG.md#300-rc11---24062022

On Mon, Jul 4, 2022, 8:24 PM Roman Morozov ***@***.***> wrote:

[2022-07-04 10:44] Ekhart86 commented on #241
Thanks a lot! You can close this issue!)

[2022-07-04 11:59] youssef-t opened #242 "[Enhancement ] Access to feature files information from hooks"
Hi,

I think that it would be helpful to have access to the information (mainly the file path) of the feature file that is being tested at runtime from hooks. For now, it's only accessible from the "Reporter" class.

For example, having this functionnality would help a lot to load some configuration file that is associated with certain features, and a tag would be used to indicate that there is a

[2022-07-06 05:11] jonsamwell commented on #242
Yep agree with this.  I should have some time next week to look at this, alternatively feel free to do a pr

[2022-07-06 06:44] robert-virkus opened #243 "rc.16 / web: Unsupported operation: StdIOUtils._getStdioOutputStream when running integration tests on web"
I tried to upgrade from the old rc.9 to the latest rc.16 release.

With rc.9 I can run web integraton tests fine.

With the rc.16 release I retrieve `Unsupported operation: StdIOUtils._getStdioOutputStream` while running the tests.

The root cause seems to be using dart.io functionality, which is not supported on Flutter web.

Thanks for bringing Gherkins to Flutter!

<details><summary>Full Stackt

[2022-07-06 06:57] jonsamwell commented on #243
Interesting, I don't think anything has changed in the file since rc.9.  There is a comment in the file that a function throws on the web but it should be caught and swallowed so should not affect execution.

Are you able to provide a reproduction repo?

[2022-07-06 07:01] robert-virkus commented on #243
Thanks for your quick response. I assume this affects _any_ Flutter web project. I will try setting up a minimal example.

[2022-07-06 07:39] #241 closed

[2022-07-06 07:49] robert-virkus commented on #243
Ok, I found the culprit. With the new test configuration system I switched from defining reporters myself to the new `FlutterTestConfiguration.standard()` call. I suggest to add a `FlutterTestConfiguration.standardWeb()` call that overwrites the reporter's standard behavior, compare PR https://github.com/jonsamwell/flutter_gherkin/pull/244

[2022-07-06 15:34] youssef-t opened #245 "Redundant feature file path escape"
Hello,

In the generated test file, we have the following:
https://github.com/jonsamwell/flutter_gherkin/blob/7ee9f801d1ddd201a95d46fa6130a86ab209ebb0/example_with_integration_test/integration_test/gherkin_suite_test.g.dart#L305

The additionnal backslashes are redundant because of the use of the raw string declaration (starting with `r'...'`): we don't need to use .  As a result, the reporters th

[2022-07-06 15:54] youssef-t commented on #242
I could not find a proper solution without making changes that would impact the current implementation of hooks. I think that making a big change only for this simple feature is not worth it.

I think that a work-around to get the feature file path at runtime (for the package users) is to define a custom "Reporter" that implements "[FeatureReporter](https://github.com/jonsamwell/dart_gherkin/blob/

[2022-07-07 13:48] WernerRaathAtPolymorph opened #247 "Q: Is it possible to only run the feature files you're currently writing?"
I've been commenting-out feature file code in order to only focus on the feature files I'm busy writing. Is there another way for me to do this? My current approach won't scale well

[2022-07-07 15:14] youssef-t commented on #247
I recommend you to use special tags for the scenarios that you want to run (the ones that you're writing). As a result, you will be able to filter them.

For more details, you can check the following issue #178.

[2022-07-07 16:16] WernerRaathAtPolymorph commented on #247
Brilliant! Thanks!

[2022-07-07 16:16] #247 closed

[2022-07-08 05:52] jonsamwell commented on #245
Thanks, I'll get this merge in over the weekend!

[2022-07-08 05:52] jonsamwell commented on #242
Let me have a think about this.  I am not adverse to altering the hooks if it provides useful information.

[2022-07-11 11:54] umangdivyanshu opened #248 "Unnamed scenario in the report"
If I have multiple feature files and I am running scenarios by specifying the tags. If I do not include the first scenario from any of the feature file then it is being reported as unnamed scenario in the report.

For e.g. I have 3 scenarios in my login feature file. Whenever I am excluding the first scenario, there is one unnamed scenario coming in the report before the two executed scenarios. Al

[2022-07-12 16:26] #245 closed

[2022-07-13 10:19] SashaKryzh opened #252 "Reporter doesn't await for test.onStarted callback"
The **test.onStarted** callback is not finished, but the **feature.onStarted** is already called.

Also, as I understood none of them are awaited. So what is the point of making them async?

My goal is to report data to the server, and I need to receive IDs for each feature, scenario, and step and later use these ids to finish them on the server.

flutter_gherkin: 3.0.0-rc.16

[2022-07-13 11:25] jonsamwell commented on #252
It should be. I can't see any unawaited futures

https://github.com/jonsamwell/flutter_gherkin/blob/integration_test__package_support/lib/src/flutter/runners/gherkin_integration_test_runner.dart#L213

Are you able to do a sample that reproduces this error?

On Wed, Jul 13, 2022, 8:20 PM Alexander ***@***.***> wrote:

[2022-07-13 11:27] SashaKryzh commented on #252
What about this line

https://github.com/jonsamwell/flutter_gherkin/blob/4378a2447d0e8d358cf746a22001871b754ccb83/lib/src/flutter/runners/gherkin_integration_test_runner.dart#L92

[2022-07-13 11:29] jonsamwell commented on #252
Good spot! I'll look at fixing this tomorrow.

On Wed, Jul 13, 2022, 9:27 PM Alexander ***@***.***> wrote:

[2022-07-13 11:43] Stephane99 opened #253 "Features whose description contains more than one line are not built"
Hi,
I usually add information about each feature.
E.g.
[code]
But the description (that is here on 4 lines),  is not accepted when trying to generate the .part files with the commands:

    flutter pub run build_runner clean
    flutter pub run build_runner build --delete-conflicting-outputs

Eg.

    line 426, column 26 of .: Expected to find ','.
        ╷
    426 │ - User can set a date in the

[2022-07-14 19:24] cjmeyer-polymorph opened #254 "It seems when we have any element with text dynamically set, it cannot be found by appDriver"
E.g.
[code]

When we run `I tap the button that contains the text "Send"`, or `I expect the text "Title text here" to be present` or anything else that finds by text, it doesn't find it

[2022-07-15 02:34] gofur commented on #151
hi any update for this issue? i'm use `macOS monterey` and `flutter 2.8.1` @jonsamwell

[2022-07-15 09:57] Ekhart86 opened #255 "I can't take screenshots for web tests."
Hello everyone, I use the package version 3.0.0-rc.16. When running android tests, screenshots are created successfully, but when running web tests, screenshots are not created, although when I used version 3.0.0-rc.9, they were definitely created. I can't understand what's the matter, can someone help me? I get this error that comes from the integration_test package
![Снимок экрана 2022-07-15 в 1

[2022-07-15 10:01] jonsamwell commented on #255
@Ekhart86 are you able to get a sample repo that reproduces this and I will look into it?

[2022-07-15 10:01] jonsamwell commented on #254
@cjmeyer-polymorph are you able to get a sample repo that reproduces this and I will look into it?

[2022-07-15 10:06] #254 closed

[2022-07-15 10:07] Ekhart86 commented on #255
Okay I will prepare a separate test project and later I will send a link to it

[2022-07-15 10:20] jonsamwell commented on #255
Much appreciated

[2022-07-15 11:17] Ekhart86 commented on #255
I created a basic application with a counter, made a mistake in the first and only step, and added a screenshot hook. Now if I run the test, it freezes at the screenshot creation stage and hangs indefinitely. if I remove the hook, the test immediately ends with an error. The example is not exactly the same as mine, but it also has the same problem with screenshots.
I think if it works in this test

[2022-07-15 13:05] vrnvorona opened #256 "Errors are not logged sometimes in rc16"
Because of try-catch construction in lib/src/flutter/runners/gherkin_integration_test_runner.dart:222 errors are caught but not reported in console (or else reporting methods) which is very annoying.

@jonsamwell can you please test it with adding step without definition?

[2022-07-19 11:20] vannt1991 commented on #154
@jonsamwell   i got the same issue with @AFASbart  when trying to run at debug mode, please help me check it, Thanks!
  `Exception: Guarded function conflict.`

[code]

[2022-07-20 05:03] vannt1991 commented on #154
@jonsamwell yep, my repo reproduces this issue:
Please start debugging **Integration test Dev**
https://github.com/vannt1991/flutter_gherkin_demo
<img width="1680" alt="Screen Shot 2022-07-20 at 12 01 15" src="https://user-images.githubusercontent.com/8731361/179900874-ef1a108a-273a-4a28-9145-6efdb6d28260.png">

[2022-07-20 17:27] umangdivyanshu commented on #248
Hi @jonsamwell,

Could you please take a look on this issue?

[2022-07-21 07:00] vrnvorona commented on #256
[code]
If I add print here it works and prints `GherkinStepNotDefinedException: Step definition not found for text:` but without it's silent

[2022-07-21 07:07] jonsamwell commented on #256
Thanks, it should be caught and recorded when executing the step.  I'll have time this weekend to go over this and the other issues.

[2022-07-21 15:14] Stephane99 commented on #248
Hi,
I don't know if the cause is the same as @umangdivyanshu, but I also get this error when the first test is not run.
For example, I have 3 tests in a feature with these tags:

@Add pictures
@ios
Scenario: ...

@Add pictures
@Android
Scenario: ...

@RemovePhotos
Scenario: ...

When I run tests on Android with "not @ios" tags, the first test is not run, as expected, but I get an unnamed feature a

[2022-07-21 15:45] Stephane99 opened #257 "Can not generate the suite part file when a step contains some special characters"
Hi,
I have an error when trying to generate the suite part file for a feature with a step that contains a regular expression.

The step is:

`And the document property "String property" displays a Value-must-match-the-validation-rule error message with the rule "^[A-Z]{3}\\d{5}\$"`

The last part is no longer accepted now in version 3.0.0-rc16.
It is accepted with the previous version 3.0.0-rc9.

[2022-07-21 18:14] #255 closed

[2022-07-25 07:08] jonsamwell commented on #238
Could you try again in 3.0.0-rc.17?

[2022-07-25 07:08] jonsamwell commented on #257
Fixed in 3.0.0-rc.17

[2022-07-25 07:08] #257 closed

[2022-07-25 07:09] jonsamwell commented on #256
Fixed in 3.0.0-rc.17

[2022-07-25 07:09] #256 closed

[2022-07-25 07:09] jonsamwell commented on #252
Fixed in 3.0.0-rc.17

[2022-07-25 07:09] #252 closed

[2022-07-25 07:09] jonsamwell commented on #253
Fixed in 3.0.0-rc.17

[2022-07-25 07:09] #253 closed

[2022-07-25 07:09] #169 closed

[2022-07-25 07:10] jonsamwell commented on #158
@vrnvorona is this still an issue

[2022-07-25 07:10] #94 closed

[2022-07-25 07:11] #152 closed

[2022-07-25 07:11] #25 closed

[2022-07-25 07:12] jonsamwell commented on #182
Is this working in 3.0.0-rc.17?

[2022-07-25 09:12] vrnvorona commented on #182
I will check tomorrow, thanks

[2022-07-25 09:13] vrnvorona commented on #158
Will check tomorrow as well with #182

[2022-07-26 09:20] Stephane99 commented on #253
Thanks :)
It works well on my side.

[2022-07-26 09:43] jonsamwell commented on #253
Awesome

On Tue, Jul 26, 2022, 7:21 PM Stéphane DUCORNET ***@***.***>
wrote:

[2022-07-27 07:27] vannt1991 commented on #154
hi @jonsamwell , any update to now? Thanks!

[2022-07-27 07:45] vrnvorona commented on #158
No, same issue.

Issue is around here
lib/src/flutter/runners/gherkin_integration_test_runner.dart:332
The `(s) => s.expression.isMatch(name)` compares RegExp with full String, while it should strip keyword before doing so.

For example:
expression here is "^I set birthday ['\"](.*)['\"]$"
and parsed name is "And I set birthday \"1998-12-31\""

then it won't match.

Maybe simple solution would be

[2022-07-27 07:48] vrnvorona commented on #182
Yep, it works now just fine, thank you.

[2022-07-27 07:54] vrnvorona commented on #182
It seems to work, at least with my testing. To emulate this I added exception throw on button which navigates screen, and added takeException in step which presses this button, and it caught it just fine (even recorded in variable as it should so we can test for planned Exceptions) and then proceeded next.

[2022-07-27 08:29] umangdivyanshu commented on #248
I am using 3.0.0-rc9 but the same issue is observed on 3.0.0-rc16 as mentioned by @Stephane99 in above comment

[2022-07-29 21:51] lsuhov commented on #239
Hello @jonsamwell ,
We're facing the same challenge at this point. Our project is not yet migrated to sound null-safety, and if we do not remove the specific keywords from the generated file, the project is not compiling.
This is a nice to have feature.
At the moment it provides us more arguments to move further into adopting the sound null safety feature 😄

[2022-08-03 22:59] lsuhov opened #258 "Example with Flutter driver not compiling on 3.0.0-rc.17"
Hello @jonsamwell ,
I am hoping that you can give me ideas on what else should I try.
I was trying to run the latest flutter_gherkin version on our project and faced compilation issues after doing the necessary changes between 2.0.0 and 3.0.0-rc.17.
To remove doubts that the project is not the problem, I tried also the example from https://github.com/jonsamwell/flutter_gherkin/tree/integration_tes

[2022-08-04 14:19] lsuhov commented on #258
Hello @jonsamwell I got confirmation from a colleague that this issue is happening also on his machine.

[2022-08-08 12:51] SashaKryzh opened #259 "Test finishing timeout if the last screen of the app contains animation"
I have a test where the last screen is a `ListView` with a **loading indicator** at the bottom (pagination). In this situation, the `pumpAndSettle` will result in **infinite loop** failing the test to finish.

https://github.com/jonsamwell/flutter_gherkin/blob/eff82509c71c457714d2fbc2a54334d33b397c03/lib/src/flutter/runners/gherkin_integration_test_runner.dart#L532-L541

[2022-08-08 12:58] SashaKryzh commented on #259
Here is my current workaround:

[code]

[2022-08-09 13:21] umangdivyanshu opened #260 "[Question] How to make sure the next step executes only when previous is completed?"
Given I open the app
Then I should see search page
And I enter keyword in search input box
And I click on search suggestion
And I verify the search results

Take above example for instance, the execution is so fast that on the UI I could see the text entering in the input box, clicking on search suggestion and verification happening but in the terminal logs it shows that it is still executing _The

[2022-08-18 17:47] adam-clevyr opened #261 "Pre-included Step Definitions Not Found"
When I run a feature using step definitions from `_wellKnownStepDefinitions` the tests fail due to not finding step definitions.

Expected:
* I run the test
* The email field gets filled with 'john@example.com'
* Test passes

Actual:
* I run the test
* Test FAILS and produces the following error

[code]

## NOTE: This is using the following pre-included step definitions
* `whenFillFieldStep` <----

[2022-09-07 20:11] murilodag opened #262 "Is it possibe to start the the test cases in chrome with a specific screen size?"
I would like to run the tests in a specific screen size.
I found this [link](https://github.com/flutter/flutter/issues/65474) describing how to do it, but it does not seem to work for chrome/chromedrive.

[2022-09-08 11:47] umangdivyanshu commented on #262
You can add --browser-dimension to the flutter drive command and set the screen size -

`flutter drive --driver=test_driver/integration_test_driver.dart --target=integration_test/gherkin_suite_test.dart -d web-server --no-headless --browser-name=chrome --browser-dimension 1680,1000`

[2022-09-08 11:53] umangdivyanshu opened #263 "Update documentation w.r.t 3.0.0-rc.17"
Hi @jonsamwell,

Could you please update the documentation or share an example for gherkin_suite_test.dart file for the latest changes w.r.t 3.0.0-rc.17. I am currently on w.r.t 3.0.0-rc.9 and tried updating to 3.0.0-rc.17 but I was getting a lot of errors and couldn't resolve them.

[2022-09-08 13:22] jonsamwell commented on #263
What errors are you seeing?

On Thu, 8 Sept 2022 at 21:53, umangdivyanshu ***@***.***>
wrote:

[2022-09-15 13:32] murilodag commented on #262
@umangdivyanshu Thanks for your answer. It did in fact resize the screen.

Do you know why ```-d chrome``` does not allow to respect ```--browser-dimension``` flag?

[2022-09-23 03:44] linchen2chris opened #264 "Is it possible to restart flutter web for integration_test between scenario - restartAppBetweenScenarios"
hi, I notice we have [restartAppBetweenScenarios](https://github.com/jonsamwell/flutter_gherkin#restartappbetweenscenarios) configuration, but it seems only works for flutter driver, not integration test

[2022-10-02 20:46] bartekpacia commented on #151
Looks like we're having the same problem with Flutter Driver in [Patrol](https://github.com/leancodepl/patrol). I've been doing some investigation in https://github.com/leancodepl/patrol/issues/272, but no luck so far.

This is a Flutter problem. Unfortunately after googling the problem, the first result is a close issue in `flutter/flutter`: https://github.com/flutter/flutter/issues/72484

It's h

[2022-10-05 10:03] 3lVv0w opened #266 "build_runner does not gererate .g file in integration_test folder"
i migrate from gherkin v2 -> 3 and follow the instruction i'm. currently stuck when to use
[code]

on model files it's working but nothings generate out on integration_test folder

[2022-10-06 12:25] spaquis commented on #266
Hi @3lVv0w,
Did you add a build.yaml file in the root of the project with this content ?
[code]

[2022-10-06 12:29] spaquis opened #267 "Planning to stop using the flutter drive"
Hi,
I'm currently using flutter_gherkin: 3.0.0-rc.17 and it works very well but i would like to get some coverage report and it's not possible with flutter drive. Is there some plan to try to use only flutter test or is it too complicated ?
Thanks.

[2022-10-07 05:16] 3lVv0w commented on #266
@spaquis  wow that's somethings new for me, i'll follow the step again, thx

[2022-10-11 07:23] jonsamwell commented on #238
Sorry I am not sure what the error is here? Could you explain further and
provide a simple reproduction of the issue I can use to resolve the problem

On Tue, Jun 28, 2022, 8:12 PM amitkumar-qa ***@***.***> wrote:

[2022-10-17 08:08] linchen2chris opened #268 "failed to take screenshot on flutter web"
`Failed to take screenshot
Unexpected null value.
dart-sdk/lib/_internal/js_dev_runtime/private/ddc_runtime/errors.dart 251:49                 throw_
dart-sdk/lib/_internal/js_dev_runtime/private/ddc_runtime/operations.dart 528:63             nullCheck
lib/_engine/engine/canvaskit/layer.dart 584:34                                               preroll
lib/_engine/engine/canvaskit/layer.dart 125:12

[2022-10-17 08:10] linchen2chris commented on #268
flutter: 3.0.5
flutter_gherkin: 3.0.0-rc.17

[2022-10-17 08:26] jonsamwell commented on #267
@spaquis the RC version of this library uses flutter test! https://github.com/jonsamwell/flutter_gherkin/tree/integration_test__package_support

[2022-10-17 08:26] #267 closed

[2022-10-17 08:27] jonsamwell commented on #266
Sometimes you might need to clean the build cache as well. I've generally got a little script that does all this for me everytime I need to update any generated files

[code]

[2022-10-17 08:27] #266 closed

[2022-10-17 08:28] jonsamwell commented on #263
Feel free to open if you can provide more information as to the issue

[2022-10-17 08:28] #263 closed

[2022-10-17 08:28] jonsamwell commented on #258
I'll try and take a look this week.

[2022-10-17 08:30] jonsamwell commented on #264
The integration test should restart the app between scenarios. So this property is not really applicable when using integration_test. You can create a hook to reset the persisted application state between scenarios. See the example. https://github.com/jonsamwell/flutter_gherkin/blob/integration_test__package_support/example_with_integration_test/integration_test/gherkin/hooks/reset_app_hook.dart

[2022-10-17 08:30] #264 closed

[2022-10-17 08:32] jonsamwell commented on #260
It should execute in order. All the code is async so things may appear out of order depending on scheduling (Especially with the logs). I would ensure that the code within your custom steps is correctly waiting for all async code.

[2022-10-17 08:32] #260 closed

[2022-10-17 08:33] #262 closed

[2022-10-17 08:33] jonsamwell commented on #259
@SashaKryzh that is the correct idea. The tester pumps after steps so if an animation is running endlessly the pump call with never finish

[2022-10-17 08:33] #259 closed

[2022-10-17 08:34] jonsamwell commented on #261
Sorry for the delay. Thanks for the code I will try and reproduce this and fix as required.

[2022-10-17 09:06] spaquis commented on #267
Hi @jonsamwell ,
Thanks for your answer, i already use the RC version but even with it we need to launch tests by running flutter drive :
`flutter drive --driver=test_driver/integration_test_driver.dart --target=integration_test/gherkin_suite_test.dart`
And because of this, I can't collect coverage :).  I don't know if it's possible in the future to use only
`flutter test integration_test/gherkin_

[2022-10-18 06:30] asikin08 opened #269 "Upload img"
I have a problem when I want to upload an image use automation flutter gherkin, is there a way to do that?

[2022-10-18 06:54] linchen2chris commented on #269
where does your flutter app run? browser or native app?
if browser, it's limitted by browser sandbox, you could bild a backend api read file content and pass to flutter gherkin through http, then flutter gherkin steps use file content to upload, this is the way how we do, hope it helps.

[2022-10-18 07:38] linchen2chris commented on #268
hi @jonsamwell  thanks for your reply, afraid not, it only happen in our huge flutter web app.
the error occurs in 3.0.0rc17 wich screenshot function:  takeScreenshotUsingRenderElement

I dive into and try 3.0.0rc16 which take screenshot function is
[code]
and use driver
[code]
then screenshot images will be generated in screenshot/ folder, but reports has not embeded image data

[2022-10-18 14:43] linchen2chris opened #270 "[Question] how can I add error_message into the report?"
Hi, I tried with example repos and find if the step failed, reports will have error_message in there, but no idea what's the configuration make it. may I know how can I have error_message in my report?

[2022-10-18 16:47] adam-clevyr commented on #261
No worries! Let me know if I need to provide further information!

[2022-10-18 23:18] joaofyz opened #271 "[Question] It's possible to run the tests without building the main project each time?"
First of all congratulations for developing and maintaining this project.

We are using the 3.0.0_RC_17 version and accordingly with the README file on that version we are using the following commands to run the tests:
[code]

My question is if we always need to make a new build of the project after each change? There's now way to only build the tests, once the main project code didn't changed?

T

[2022-10-18 23:31] joaofyz opened #272 ""I restart the app" step not implemented"
We are using the version 3.0.0_RC_17 and when we try to use the "And I restart the app" step we are receiving an UnimplementedError.

[code]

[2022-10-18 23:47] jonsamwell commented on #271
@joaofyz I don't think so. I have never investigated this. I think the way the dart build runner works it is operates on the project as a whole unfortunately.

[2022-10-18 23:51] jonsamwell commented on #272
@joaofyz This show unfortunately be a NotSupportedError rather than an UnimplementedError. This step was created for the flutter_driver version of the library where the app is run and connected to and the steps instrument the app from the outside. So the app can be restarted, the process re-connected to and the test can resume. With the integration_test package that the newer RC version is build u

[2022-10-18 23:51] #272 closed

[2022-10-18 23:52] jonsamwell commented on #270
I am not quite sure what you mean here? Can you elaborate further?

[2022-10-21 08:25] youssef-t commented on #271
This solution works well:
https://github.com/jonsamwell/flutter_gherkin/issues/177#issuecomment-981659884

1- You need to delete the generated test file from the build_runner's cache:  `.dart_tool/build/generated/your_project_folder/integration_test/gherkin_suite_test.gherkin_tests.g.part`
2- Then, you can run the following command:
`flutter pub run build_runner build --delete-conflicting-outputs`

[2022-11-01 13:10] ClemsRocket opened #274 "Getting code generation to work with build_runner watch"
Hi,
First of all, great work with this package!

I'm using 3.0.0-rc17
For other libraries using code generation (such as `json_serializable`), I'm used to keep a `flutter pub run build_runner watch` running somewhere in the background to update detect changes and update files automatically. However, while running `watch`, the generated code is updated only when I change the .dart file containing t

[2022-11-14 11:32] golane-august opened #275 "Call tests via `flutter test` instead of `flutter drive` possible?"
Can you use integration_test package instead of driver package to test the app?

Use:
[code]

Instead of:
[code]

But I get the error with `flutter test`:
[code]

I used the example in  integration_test__package_support: https://github.com/jonsamwell/flutter_gherkin/tree/integration_test__package_support/example_with_integration_test

I also tested `flutter run`  with tagExpression `@failure-expec

[2022-11-29 09:19] joaofyz opened #277 "[Question] How to send tags in the run command as parameter?"
Hello,

We are trying to run the test command with multiple tags as parameters in order to override the “tagExpression” configuration in gherkin_suite_test.dart. Is that possible?

We are using the 3.0.0_rc.17 version and using the following command to run the tests
`
flutter drive --driver=test_driver/integration_test_driver.dart --target=integration_test/gherkin_suite_test.dart --flavor pre
`

T

[2022-11-29 09:35] jonsamwell commented on #277
Hi @joaofyz I am not quite sure what you mean here? The tag expression is basically a boolean statement so if you want to run all tests that have the tags '@smoke' and '@ios' you would just set the tagExpression to '@smoke and @ios'

[2022-11-29 11:15] joaofyz commented on #277
Hi Jon, what I want is to set the tags dynamically when running the flutter drive command, and override that tagExpression of the gherkin_suite_test.dart.

Imagine you have specific tests for Regression, Smoke... and you want to run them when making a specific build in your CI. We don't want to have to change the gherkin_suite_test.dart tagExpression value, it's easier if we could add some kind of

[2022-11-29 11:30] jonsamwell commented on #277
Yeah I've done this using the args package. I'll put up an example tomorrow
morning

On Tue, Nov 29, 2022, 10:15 PM joaofyz ***@***.***> wrote:

[2022-11-30 14:51] youssef-t opened #278 "[Bug] onBeforeRunFeature not being called in a specific case"
_Version: 3.0.0-rc.17_

Hello,

First of all, I would like to thank you for the package.

The issue is related to calling reporters before running a feature using the following method:
https://github.com/jonsamwell/flutter_gherkin/blob/7c8be5f60e987e858d36502cc97af9a4ec7a5c66/lib/src/flutter/runners/gherkin_integration_test_runner.dart#L126

This method is called before running the first scenario,